<div class="uk-section-default uk-container uk-container-large uk-padding">
  <h3>Messages</h3>

  <div class="uk-flex uk-flex-right">
    <button class="uk-button uk-button-secondary uk-flex uk-flex-middle" uk-toggle="target: #emailCompose">
      <span class="material-icons md-18 uk-margin-small-right">edit</span>New Message
    </button>
  </div>

  <ul uk-tab>
    <li class="uk-active"><a href="#"><span class="material-icons md-18">inbox</span>Inbox</a></li>
    <li><a href="#"><span class="material-icons md-18">send</span>Sent</a></li>
  </ul>

  <div class="uk-padding-small uk-padding-remove-horizontal uk-flex uk-flex-right">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: search"></span>
      <input type="text" class="uk-input uk-form-width-medium" placeholder="Search..." name="keyword">
    </div>
  </div>

  <ul class="uk-switcher">
    <li *ngIf="topics" class="uk-animation-fade">
      <table class="uk-table uk-table-divider uk-table-hover uk-table-middle uk-background-default uk-border-rounded">
        <thead>
        <tr>
          <th><input class="uk-checkbox" type="checkbox"></th>
          <th>
            <a class="uk-flex uk-flex-middle" (click)="getTopics()">
              <span class="material-icons">refresh</span>Refresh
            </a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let topic of topics">
          <td>
            <input class="uk-checkbox" type="checkbox" aria-label="Checkbox" (change)="toggleCheck($event, topic)"
                   [checked]="topicIsSelected(topic) > 0">
          </td>
          <td [routerLink]="[topic.id]" style="cursor: pointer">
            <div [ngClass]="{'uk-text-bolder': !topic.messages[topic.messages.length-1].read}">
              {{topic.from.name}}
            </div>
            <div class="uk-text-meta">{{topic.updated | date}}</div>
          </td>
          <td [routerLink]="[topic.id]" style="cursor: pointer">
            <div [ngClass]="{'uk-text-bolder': !topic.messages[topic.messages.length-1].read}">
              {{topic.subject}}
            </div>
            <div class="uk-text-meta">{{topic.messages[topic.messages.length-1].body}}</div>
          </td>
          <td>
            <span *ngFor="let tag of topic.tags; let i=index" [ngClass]="{'uk-margin-small-left': i!==0}">
              <span class="uk-badge">{{tag}}</span>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </li>

    <li>Test2</li>

  </ul>

</div>

<app-email-compose id="emailCompose" class="uk-modal-container" uk-modal [message]="null" s></app-email-compose>
