<div class="uk-section uk-section-default uk-preserve-color uk-padding-remove">

  <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">
    <div class="uk-flex-last@m uk-flex-last@l">
      <img src="../../assets/images/1-2.png">
    </div>
    <div class="uk-first-column">
      <div class="uk-padding-large uk-margin-large-left@m uk-margin-large-left@l uk-margin-large-top">
<!--        <div class="h1-subHeader ng-star-inserted">Monitoring European Open Science Cloud</div>-->
        <h1>Monitoring European Open Science Cloud</h1>
        <p class="big-text uk-margin-medium-top">The EOSC Observatory is <span class="uk-text-primary">a policy intelligence tool</span>
          being developed by the EOSC Future project for monitoring policies, investments, resources, and infrastructures related to the European
          Open Science Cloud (EOSC).</p>
        <button class="uk-button uk-button-primary uk-margin-medium-top" [routerLink]="['/eoscreadiness']">Start exploring</button>
      </div>

    </div>
  </div>
</div>

<div class="uk-section uk-section-default uk-preserve-color uk-margin-large-top">
  <div class="uk-container uk-container-xlarge">

    <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">
      <div>
        <div class="h1-subHeader">Features</div>
        <h1>Lorem ipsum dolor sit amet, consetetur.</h1>
      </div>
    </div>

    <div class="uk-grid uk-child-width-1-4 uk-grid-match uk-margin-large-top uk-grid-medium">

      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div><img src="../../assets/images/icons/number1.svg" width="100"></div>
<!--          <div class="big-number uk-text-secondary uk-text-bolder">1</div>-->
          <p class="primary-card-header">Indicators to Monitor EOSC Readiness.</p>
          <p>Focuses on the indicators to monitor the EOSC readiness of MS/AC and is validated via surveys by representatives
            of the (MS/AC in the) EOSC Steering Board.</p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body" style="opacity: 0.4">
          <div><img src="../../assets/images/icons/number2.svg" width="97"></div>
<!--          <div class="big-number uk-text-bolder">2</div>-->
          <p class="primary-card-header">Indicators to Monitor EOSC Partnership.</p>
          <p>Focuses on the indicators to monitor the EOSC Partnership and is validated via surveys by representatives of
            the (members of the) EOSC Association.</p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body" style="opacity: 0.4">
<!--          <div class="big-number uk-text-bolder">3</div>-->
          <div><img src="../../assets/images/icons/number3.svg" width="95"></div>
          <p class="primary-card-header">Contributions to EOSC Partnership.</p>
          <p>Focuses on the (financial and in-kind) contributions to the EOSC Partnership and is validated via surveys by representatives of
            the (members of the) EOSC Association.</p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body">
<!--          <div class="big-number uk-text-secondary uk-text-bolder">4</div>-->
          <div><img src="../../assets/images/icons/number4.svg" width="90"></div>
          <p class="primary-card-header">Policies Relevant for EOSC Ecosystem.</p>
          <p>Focuses on general policies that are relevant for the EOSC ecosystem and that are shared and updated by key
            representatives from the EOSC community.</p>
        </div>
      </div>

    </div>


  </div>
</div>

<div class="uk-section uk-section-default uk-preserve-color uk-margin-large-top">
  <div class="uk-container uk-container-xlarge">

    <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">
      <div>
        <div class="h1-subHeader">How it works</div>
        <h1>Lorem ipsum dolor sit amet, consetetur.</h1>
      </div>
    </div>

    <div class="uk-grid uk-child-width-1-2 uk-grid-match uk-margin-large-top">

      <div>

      </div>

      <div class="uk-padding">
        <p>The observatory consists of an interactive dashboard for the collection and presentation of data on the implementation
          and uptake of EOSC at national and organisational levels.
        </p>
        <p>The observatory will support European Member States and Associated Countries (MS/AC) and the EOSC Partnership
          (consisting of the European Commision, EOSC Steering Board, and EOSC Association) in their monitoring activities and
          publicly present the results on the state of EOSC.
        </p>
      </div>

    </div>


  </div>
</div>

<div class="uk-section uk-section-default uk-preserve-color uk-text-center uk-margin-large-top">
  <div class="uk-container uk-container-xlarge">

    <div class="h1-subHeader-primary">Coming soon</div>
    <h1>Access the country pages.</h1>

    <div class="uk-margin-large-top">
      <img src="../../assets/images/2-2.png">
    </div>

  </div>
</div>

