<div class="uk-section uk-section-primary uk-preserve-color">
  <div class="uk-container uk-container-expand">

    <!--<h3>Home page title</h3>-->

    <div>
      <p class="uk-text-lead uk-text-center">
        The EOSC Observatory is a policy intelligence tool being developed by the <a href="https://eoscfuture.eu" target="_blank">EOSC Future</a>
        project for monitoring policies, investments, resources, and infrastructures related to the European Open Science Cloud (EOSC).
        The observatory consists of an interactive dashboard for the collection and presentation of data on the implementation and uptake of
        EOSC at national and organisational levels. The observatory will support European Member States and Associated Countries (MS/AC) and the
        <a href="https://ec.europa.eu/info/files/european-open-science-cloud-eosc_en" target="_blank">EOSC Partnership</a> (consisting of the European Commision,
        <a href="https://ec.europa.eu/transparency/expert-groups-register/screen/expert-groups/consult?lang=en&groupID=3756" target="_blank">EOSC Steering Board</a>,
        and <a href="https://www.eosc.eu" target="_blank">EOSC Association</a>) in their monitoring activities and publicly present the results on the state of EOSC.
      </p>

    </div>

  </div>
</div>

<div class="uk-section uk-section-primary uk-preserve-color uk-padding-remove">
  <div class="uk-container uk-container-expand">

    <!--<h3>Home page title</h3>-->

    <div>

      <p class="uk-text-lead uk-text-center">
        The EOSC Observatory collects data automatically from trusted data sources (such as the <a href="https://eosc-portal.eu" target="_blank">EOSC Portal</a>
        and <a href="https://osobservatory.openaire.eu" target="_blank">OpenAIRE Open Science Observatory</a>) and manually from key EOSC stakeholders.
        The observatory is structured to collect and present data across four key layers as in Figure 1
      </p>

      <ul class="uk-text-center" style="font-size: 1.1em">
        <li class="uk-margin-small-bottom">Layer 1 focuses on the indicators to monitor the EOSC readiness of MS/AC and is validated via surveys by representatives
          of the (MS/AC in the) EOSC Steering Board</li>
        <li class="uk-margin-small-bottom">Layer 2 focuses on the indicators to monitor the EOSC Partnership and is validated via surveys by representatives
          of the (members of the) EOSC Association</li>
        <li class="uk-margin-small-bottom">Layer 3 focuses on the (financial and in-kind) contributions to the EOSC Partnership and is validated via surveys
          by representatives of the (members of the) EOSC Association</li>
        <li class="uk-margin-small-bottom">Layer 4 focuses on general policies that are relevant for the EOSC ecosystem and that are shared and updated by
          key representatives from the EOSC community</li>
      </ul>

      <div>
        <figure class="uk-text-center">
          <img src="../../assets/images/layers-eosc_observatory.png" alt="Layers" style="width: 30%" class="">
          <figcaption>Figure 1: Four Layers of Data Collected by the EOSC Observatory</figcaption>
        </figure>
      </div>

    </div>

  </div>
</div>

<div class="uk-section uk-section-primary uk-preserve-color">
  <div class="uk-container uk-container-expand">

    <!--<h3>Home page title</h3>-->

    <div class="uk-text-lead uk-text-center">

      <p>The EOSC Observatory is currently in development and the first full release of the dashboard and collected data
        to the public is expected in early 2023. The first collection of data on the indicators for EOSC readiness by the
        EOSC Steering Board and MS/AC (Layer 1), on the indicators for the EOSC Partnership by the EOSC Association and its
        members (Layer 2), and on the contributions to the EOSC Partnership by the EOSC Association and its members (Layer 3)
        are already scheduled to take place in 2022 via targeted surveys and will be repeated on an annual basis to update the data.
      </p>

      <p>
        For more information on the EOSC Observatory see the video presentation below by Gareth O’Neill (Technopolis Group Belgium)
        and Natalia Manola (OpenAIRE) at the <a href="https://eoscfuture.eu/eventsfuture/eosc-future-open-days/" target="_blank">EOSC Future Open Days 2021</a>.
      </p>

      <iframe width="760" height="415" src="https://www.youtube.com/embed/6FqLxQty0aU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

  </div>
</div>
