<div class="uk-section uk-section-small">
  <div class="uk-container">

    <div class="uk-flex uk-flex-middle uk-margin-bottom">
      <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"
           class="flag-image" width="42" height="42" alt="rounded flag image">
      
      <div class="uk-margin-small-left">
        <h3 class="uk-margin-remove-bottom">Data Management in {{countryName}} by Area</h3>
      </div>
    </div>
    <p>Text about data management ...</p>
    <div>

    </div>
    <div class="uk-flex uk-flex-between uk-flex-middle">
      <h4>General Overview of Data Management in {{countryName}} for 2023</h4>
    </div>

    <div class="uk-grid-small" uk-grid>

      <div class="uk-width-3-5">
        <div class="uk-card uk-card-default uk-card-body">
          <div class="uk-child-width-1-2 uk-grid-small" uk-grid>

            <!-- Card 1 -->
            <div *ngIf="rfoDataManagementPercentage[1] !== null" class="uk-animation-scale-up">
              <div class="uk-card card-simple uk-card-small uk-card-body">
                <p>Percentage of <span class="uk-text-bold">RFO's Policy on Data Management</span></p>
                <div class="number big uk-margin-medium-top">
                  <span class="uk-text-bold">{{ rfoDataManagementPercentage[1] }}%</span>
                </div>
                <div *ngIf="rfoDataManagementPercentageDiff !== null" class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
                  <div class="uk-flex uk-flex-middle">
                    <span class="material-symbols-outlined" [ngClass]="rfoDataManagementPercentageDiff >= 0 ? 'up-arrow-color' : 'down-arrow-color'">
                      {{ rfoDataManagementPercentageDiff >= 0 ? 'arrow_upward' : 'arrow_downward' }}
                    </span>
                    <span [ngClass]="rfoDataManagementPercentageDiff >= 0 ? 'up-arrow-color' : 'down-arrow-color'">
                      {{ Math.abs(rfoDataManagementPercentageDiff) }}%
                    </span>&nbsp; vs last year
                  </div>
                  <div>
                    <img [ngSrc]="'../assets/images/explore/' + (rfoDataManagementPercentageDiff >= 0 ? 'trend_green' : 'trend_red') + '.svg'"
                         alt="trend image" height="50" width="99">
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div>
              <div class="uk-card card-simple uk-card-small uk-card-body">
                <p>Percentage of <span class="uk-text-bold">RPO's Policy on Data Management</span></p>
                <div class="number big uk-margin-medium-top">
                  <span class="uk-text-bold">
                    {{ rpoDataManagementPercentage[0] !== null ? rpoDataManagementPercentage[0] + '%': 'No answer provided'}}
                  </span>
                </div>
                <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
                  <div class="uk-flex uk-flex-middle">
                    <span class="material-symbols-outlined"
                          [ngClass]="rpoDataManagementPercentageDiff >= 0 ? 'up-arrow-color' : 'down-arrow-color'">
                      {{ rpoDataManagementPercentageDiff >= 0 ? 'arrow_upward' : 'arrow_downward' }}
                    </span>
                    <span>{{ rpoDataManagementPercentageDiff }}%</span>&nbsp; vs last year
                  </div>
                  <div>
                    <img [ngSrc]="'../assets/images/explore/' + (rpoDataManagementPercentageDiff >= 0 ? 'trend_green' : 'trend_red') + '.svg'"
                         alt="trend image" height="50" width="99">
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div *ngIf="financialInvestmentDM[1] !== null" class="uk-animation-scale-up">
              <div class="uk-card card-simple uk-card-small uk-card-body">
                <p>Total amount of <span class="uk-text-bold">financial investments</span> in OA publications</p>
                <div class="number big uk-margin-medium-top">
                  <span class="uk-text-bold">{{ financialInvestmentDM[1]  + ' mil Euro' }}</span>
                </div>
                <div *ngIf="financialInvestmentDMPercentageDiff !== null" class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
                  <div class="uk-flex uk-flex-middle">
                    <span class="material-symbols-outlined" [ngClass]="financialInvestmentDMPercentageDiff >= 0 ? 'up-arrow-color' : 'down-arrow-color'">
                      {{ financialInvestmentDMPercentageDiff >= 0 ? 'arrow_upward' : 'arrow_downward' }}
                    </span>
                    <span [ngClass]="financialInvestmentDMPercentageDiff >= 0 ? 'up-arrow-color' : 'down-arrow-color'">
                      {{ Math.abs(financialInvestmentDMPercentageDiff) }}%
                    </span>&nbsp; vs last year
                  </div>
                  <div>
                    <img [ngSrc]="'../assets/images/explore/' + (financialInvestmentDMPercentageDiff >= 0 ? 'trend_green' : 'trend_red') + '.svg'"
                         alt="trend image" height="50" width="99">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Card (2/5) -->
       <div class="uk-width-2-5 uk-animation-fade">
        <div class="uk-card uk-card-default uk-card-body noads visualisation-card">
          <div class="uk-margin-top">
            <h5 class="uk-flex uk-flex-between uk-margin-remove">
              National Policy on Data Management
              <span class="material-symbols-outlined" [ngClass]="nationalPolicyResponse === 'Yes' ? 'up-arrow-color' : 'down-arrow-color'">
                {{ nationalPolicyResponse === 'Yes' ? 'check' : 'close' }}
              </span>
            </h5>
            <p *ngIf="policyMandatory === 'Yes'" class="uk-text-primary uk-text-bolder uk-margin-remove-top">Mandatory policy</p>
            <read-more-text *ngIf="nationalPolicyClarification !== null" [maxHeight]="68" [text]="nationalPolicyClarification"></read-more-text>
          </div>
          <div class="uk-margin-top">
            <h5 class="uk-flex uk-flex-between">
              Financial Strategy on Data Management
              <span class="material-symbols-outlined" [ngClass]="financialStrategyResponse === 'Yes' ? 'up-arrow-color' : 'down-arrow-color'">
                {{ financialStrategyResponse === 'Yes' ? 'check' : 'close' }}
              </span>
            </h5>
            <read-more-text *ngIf="financialStrategyClarification" [maxHeight]="65" [text]="financialStrategyClarification"></read-more-text>
          </div>
          <div class="uk-margin-top">
            <h5 class="uk-flex uk-flex-between">
              Monitoring on Data Management
              <span class="material-symbols-outlined" [ngClass]="monitoringResponse === 'Yes' ? 'up-arrow-color' : 'down-arrow-color'">
                {{ monitoringResponse === 'Yes' ? 'check' : 'close' }}
              </span>
            </h5>
            <read-more-text *ngIf="monitoringClarification" [maxHeight]="65" [text]="monitoringClarification"></read-more-text>
          </div>
        </div>
      </div>
     <div class="uk-margin-top uk-flex uk-flex-center">
      <div>
       <span class="uk-text-bold">Data source:</span>&nbsp; Survey on National Contributions to EOSC and Open Science OpenAIRE Graph.
      </div>
   </div>
  </div>
</div>