<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-expand">
    <dl class="uk-description-list">
      <dt>Researcher</dt>
      <dd>A professional engaged in the conception or creation of new knowledge, products, processes, methods and systems for scientific research as well as in the management of the research projects concerned</dd>
      <dt>Research performing organisation</dt>
      <dd>An (academic) institution that receives public funding for performing scientific research</dd>
      <dt>Research funding organisation</dt>
      <dd>An (academic) institution with significant responsibility for managing public research funding (i.e. which has a responsibility and authority to launch calls for proposals and grant money for scientific research)</dd>
      <dt>Repository</dt>
      <dd>Research infrastructure that provides a digital space to manage, store, offer, and re-use research outputs (including publications, data sets, and software code) and that is located in the country</dd>
      <dt>Policy</dt>
      <dd>Any policies, recommendations, regulations, and laws that are relevant for EOSC and Open Science and that are applicable at national, regional or institutional levels. A policy at national and regional level is applicable to all research performing and funding organisations Open access-Ensuring that publications are available to read without a fee for the reader (e.g. through green open access as provided by a repository or through gold open access as provided by a publisher) Publication-Research publications (including articles and books) that are peer- reviewed and have a digital object identifier</dd>
      <dt>Mandatory</dt>
      <dd>Ensuring that the policy is not only a recommendation but an obligation for the researcher or beneficiary and that the compliance will be monitored and checked</dd>
      <dt>Immediate open access</dt>
      <dd>Ensuring that publications are made openly available immediately upon publication without any embargo period</dd>
      <dt>Retention of IPR</dt>
      <dd>Ensuring that the author or institution retains the copyright on their publications</dd>
      <dt>Open licensing</dt>
      <dd>Ensuring that publications are accompanied by a worldwide, royalty-free, non-exclusive, irrevocable license to share (i.e. copy and redistribute the material in any medium or format) and adapt (i.e. remix, transform, and build upon the material) the publication for any purpose (including commercial)</dd>
      <dt>FAIR data</dt>
      <dd>Research data sets that are made machine actionable following the FAIR principles and have a digital object identifier</dd>
      <dt>Open data</dt>
      <dd>Research data sets that are openly accessible and reusable and have a digital object identifier</dd>
      <dt>Open source software</dt>
      <dd>Research software sets that are openly accessible and reusable and have a digital object identifier</dd>
      <dt>Offering services through EOSC</dt>
      <dd>Ensuring that research services are made available in the EOSC-Exchange (i.e. the set of federation services and other resources registered in EOSC by e- infrastructures, research infrastructures, and science clusters) to serve the needs of research communities</dd>
      <dt>Connecting repositories to EOSC</dt>
      <dd>Ensuring that repositories make their research outputs (including publications, data sets, and software code) discoverable through EOSC</dd>
      <dt>Long-term data preservation</dt>
      <dd>Ensuring that digital or physical access is provided (taking legitimate interests and constraints into account) to data or other results needed for the validation of the conclusions of peer-reviewed research publications for a substantial period of time (with a minimum of at least 5 years and preferably 10 years) or longer according to disciplinary deposition practices</dd>
      <dt>Publications</dt>
      <dd>Research publications (including articles and books) that are peer-reviewed and have a digital object identifier and of which at least one author is affiliated with a research performing organisation located in the country</dd>
      <dt>Data management plan</dt>
      <dd>A formal document that describes how a researcher will manage research data during and after a specific project and of which at least one author is affiliated with a research performing organisation located in the country</dd>
      <dt>FAIR data set</dt>
      <dd>Research data sets that are made machine actionable following the FAIR principles and have a digital object identifier and of which at least one author is affiliated with a research performing organisation located in the country</dd>
      <dt>Open data set</dt>
      <dd>Research data sets that are openly accessible and reusable and have a digital object identifier and of which at least one author is affiliated with a research performing organisation located in the country</dd>
      <dt>Open source software set</dt>
      <dd>Research software sets that are openly accessible and reusable and have a digital object identifier and of which at least one author is affiliated with a research performing organisation located in the country</dd>
      <dt>Service</dt>
      <dd>Research services that support researchers and research communities in doing research (e.g. services for the execution of research workloads and code or for the visualisation, analysis, and sharing of research data) and that are offered by a service-providing organisation located in the country</dd>
      <dt>Data steward</dt>
      <dd>Professional data stewards supporting researchers in research data management at a research performing organisation located in the country</dd>
      <dt>Educational curricula with an Open Science dimension</dt>
      <dd>Educational curricula that focus on or include (different) aspects of Open Science and that are recognised by the national educational system and are offered at a higher-education institution in the country</dd>
      <dt>Signatories of the Agreement on Reforming Research Assessment</dt>
      <dd>Any organisation that has signed the Agreement on Reforming Research Assessment by the Coalition for Advancing Research Assessment (COARA) and that is located in the country</dd>
      <dt>Projects with a citizen science dimension</dt>
      <dd>Research projects that focus on citizen science or include a citizen science dimension in the methodological approach and that are funded by a research funding organisation located in the country</dd>
    </dl>
  </div>
</div>
