<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 90vh;">
  <div class="uk-container uk-container-expand uk-margin-left uk-margin-right uk-margin-top">

    <div class="uk-card uk-card-default uk-card-body">

      <form class="uk-grid-small" uk-grid>
        <div class="uk-width-1-4">
          <div class="uk-form-controls">
            <div class="uk-form-controls">
              <ng-select class="uk-select"
                         [items]="surveysList"
                         [placeholder]="'Select survey..'"
                         bindLabel="name"
                         bindValue="id"
                         clearAllText="Clear">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="uk-width-1-4">
          <div class="uk-form-controls">
            <ng-select class="uk-select"
                       [items]="eoscSBMembers"
                       [placeholder]="'Select EOSC SB member..'"
                       bindLabel="name"
                       bindValue="id"
                       clearAllText="Clear">
            </ng-select>
          </div>
        </div>
        <div class="uk-width-1-4">
        </div>
        <div class="uk-width-1-4">
          <!--<button class="uk-button uk-button-default" type="button">Dropdown</button>-->
          <!--<div uk-dropdown>-->
            <!--<ul class="uk-nav uk-dropdown-nav">-->
              <!--<li class="uk-active"><a href="#">Active</a></li>-->
              <!--<li><a href="#">Item</a></li>-->
              <!--<li class="uk-nav-header">Header</li>-->
              <!--<li><a href="#">Item</a></li>-->
              <!--<li><a href="#">Item</a></li>-->
              <!--<li class="uk-nav-divider"></li>-->
              <!--<li><a href="#">Item</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </form>

      <div class="uk-overflow-auto uk-margin-medium-top">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
          <thead>
          <tr>
            <th class="uk-table-shrink"><input class="uk-checkbox" type="checkbox"></th>
            <th class="">EOSC SB member</th>
            <th class="">Survey</th>
            <th class="">Validated</th>
            <th class="">Published</th>
            <th class="">Progress</th>
            <th class="">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td>EOSC SB (Greece)</td>
            <td class="">
              National Contributions to EOSC
            </td>
            <td class=""><span class="material-icons">done</span></td>
            <td class=""><span class="material-icons">remove</span></td>
            <td class="">
              <progress class="uk-progress uk-progress-secondary" value="83" max="100"></progress>
              <!--<div class="percentageNumber" style="margin-left: 10%;">10%</div>-->
            </td>
            <td class="uk-flex">
              <span class="uk-flex uk-flex-middle"><span class="material-icons uk-margin-small-right">visibility</span>View</span>
              <span class="uk-flex uk-flex-middle uk-margin-left"><span class="material-icons uk-margin-small-right">email</span>Notify</span>
            </td>
          </tr>
          <tr>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td>EOSC SB (France)</td>
            <td class="">
              National Contributions to EOSC
            </td>
            <td class=""><span class="material-icons">remove</span></td>
            <td class=""><span class="material-icons">remove</span></td>
            <td class="">
              <progress class="uk-progress" value="70" max="100"></progress>
            </td>
            <td class="uk-flex uk-flex-middle"><span class="material-icons uk-margin-small-right">visibility</span>View</td>
          </tr>
          <tr>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td>EOSC SB (Italy)</td>
            <td class="">
              National Contributions to EOSC
            </td>
            <td class=""><span class="material-icons">remove</span></td>
            <td class=""><span class="material-icons">remove</span></td>
            <td class="">
              <progress class="uk-progress" value="40" max="100"></progress>
            </td>
            <td class="uk-flex uk-flex-middle"><span class="material-icons uk-margin-small-right">visibility</span>View</td>
          </tr>
          <tr>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td>EOSC SB (Ireland)</td>
            <td class="">
              National Contributions to EOSC
            </td>
            <td class=""><span class="material-icons">done</span></td>
            <td class=""><span class="material-icons">done</span></td>
            <td class="">
              <progress class="uk-progress" value="80" max="100"></progress>
            </td>
            <td class="uk-flex uk-flex-middle"><span class="material-icons uk-margin-small-right">visibility</span>View</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

