<table class="uk-table uk-table-hover uk-table-divider uk-table-small">
  <thead>
    <tr>
      <th *ngFor="let col of tableData">{{col[0]}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableData[0] | slice: 1; let i=index">
      <td *ngFor="let data of tableData; let j=index">{{tableData[j][i+1]}}</td>
<!--      <td>{{tableData[1][i+1]}}</td>-->
<!--      <td>{{tableData[2][i+1]}}</td>-->
<!--      <td>{{tableData[3][i+1]}}</td>-->
<!--      <td>{{tableData[4][i+1]}}</td>-->
<!--      <td>{{tableData[5][i+1]}}</td>-->
<!--      <td>{{tableData[6][i+1]}}</td>-->
    </tr>
  </tbody>
</table>
