<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">

    <ul class="uk-breadcrumb">
      <li><a [routerLink]="['/explore/open-science-by-area']">Open Science by Area</a></li>
      <li><span aria-current="page">Publications</span></li>
    </ul>

    <h4>Open Science by Area</h4>
    <h5>Open Access Publications</h5>
    <p>Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications. Lorem Ipsum about what is the OA Publications.</p>

  </div>
</div>
