<div id="page_content">  
<div id="page_content_header" class="uk-blur-background" style="margin-top: 0"></div>
<div id="page_content_actions" class="uk-blur-background" uk-sticky>
  <div class="uk-container uk-container-large">  <sidebar-mobile-toggle [activeSidebarItem]="'Open Science by Area'" [activeSidebarSubItem]="'Open Science Training'" class="uk-hidden@m"></sidebar-mobile-toggle></div>
</div>
<div id="page_content_inner" class="">
  <div class="uk-section uk-section-small" #exportContent>
  <div class="uk-container">

<!--    <ul class="uk-breadcrumb">-->
<!--      <li><a [routerLink]="['/explore/open-science-by-area']">Open Science by Area</a></li>-->
<!--      <li><span aria-current="page">Training for Open Science</span></li>-->
<!--    </ul>-->

    <div class="uk-flex uk-flex-between uk-flex-middle">
      <h4>Open Science by Area / Training for Open Science</h4>
      <div class="uk-flex uk-flex-center" (click)="exportToPDF([exportContent, exportContent1, exportContent2, exportContent3], 'Training for Open Science')" style="cursor: pointer">
        <div class="uk-flex uk-flex-middle uk-text-primary" style="background-color: #DAEEF3; border-radius: 30px; padding: 5px 7px">
        <span class="" style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">
          Export report
        </span>
          <span *ngIf="exportActive else elseBlock" class="uk-margin-small-left" uk-spinner="ratio: 0.7"></span>
          <ng-template #elseBlock>
            <span class="material-symbols-outlined filled uk-margin-small-left uk-text-primary">download</span>
          </ng-template>
        </div>
      </div>
    </div>

<!--    <h5>Training for Open Science</h5>-->
    <p class="uk-text-lead uk-text-justify">Training is essential for the successful adoption of Open Science, equipping key stakeholders with the skills to implement open practices, share research outputs, and foster global collaboration. This page offers an overview of skills and training initiatives in Europe, including policies, financial investments, and strategies from the Survey on National Contributions to EOSC and Open Science.</p>

  </div>
</div>

<!--<div class="uk-section uk-section-small uk-margin-top">-->
<!--  <div class="uk-container uk-container-expand">-->
<!--    <h4>Open Science by Area</h4>-->
<!--    <h5>Training for Open Science</h5>-->
<!--    <p>Training is essential for the successful adoption of Open Science, equipping key stakeholders with the skills to implement open practices, share research outputs, and foster global collaboration. This page offers an overview of skills and training initiatives in Europe, including policies, financial investments, and strategies from the Survey on National Contributions to EOSC and Open Science.</p>-->
<!--  </div>-->
<!--</div>-->


<div class="uk-section uk-section-small uk-margin-top" #exportContent1>
  <div class="uk-container">
    <h5>General Overview of Open Science Training in Europe for 2022</h5>

    <div class="uk-child-width-1-3 uk-grid-match uk-grid-row-medium uk-flex-center" uk-grid>

      <div *ngIf="countriesWithPolicy.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>EU Countries with Policy on skills/training for OS.</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ countriesWithPolicy[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="countriesWithPolicy[1] >= countriesWithPolicy[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(countriesWithPolicy[0] - countriesWithPolicy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(countriesWithPolicy[0] - countriesWithPolicy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="totalInvestments.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>Financial investments in skills/training for OS</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ totalInvestments[1] }} mil Euro</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="totalInvestments[1] >= totalInvestments[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ calculatePercentageChange(totalInvestments) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ calculatePercentageChange(totalInvestments) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="countriesWithStrategy.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>EU Countries with Financial Strategy on skills/training in OS</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ countriesWithStrategy[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="countriesWithStrategy[1] >= countriesWithStrategy[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(countriesWithStrategy[0] - countriesWithStrategy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(countriesWithStrategy[0] - countriesWithStrategy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="countriesWithMonitoring.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>EU Countries with Monitoring Initiatives on skills/training in OS</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ countriesWithMonitoring[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="countriesWithMonitoring[1] >= countriesWithMonitoring[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(countriesWithMonitoring[0] - countriesWithMonitoring[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(countriesWithMonitoring[0] - countriesWithMonitoring[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

    <div class="uk-flex uk-margin-top">
      <span class="uk-text-bold">Data source:</span>&nbsp; Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.
    </div>

  </div>
</div>


<div class="uk-section uk-section-small uk-margin-top" #exportContent2>
  <div class="uk-container">

    <div class="uk-card uk-card-default visualisation-card uk-card-body">

      <ul class="uk-subnav uk-subnav-pill" uk-switcher="{connect:'#maps', animation: 'fade'}">
        <li><a class="uk-margin-remove-bottom" (click)="countryName = comment = undefined">Policies</a></li>
        <li><a class="uk-margin-remove-bottom" (click)="countryName = comment = undefined">Monitoring</a></li>
      </ul>

      <ul id="maps" class="uk-switcher">
        <li>
          <div uk-grid>
            <div class="uk-width-2-3">
              <app-highcharts-category-map
                [mapData]="questionsDataArray[0]" [height]="700"
                [title]="'National Policy on Skills/Training in Open Science'" [backgroundColor]="'#ffffff'"
                [customLabelText]="'<strong>'+participatingCountries[0] + ' out of '+ total[0] + '</strong><br> countries have a <br>national policy on <br>skills/training for<br>Open Science'"
                [caption]="policesMapCaptions[9] + '<strong>Data source:</strong> Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.'"
                (mapClick)="showComment(0, $event)">
              </app-highcharts-category-map>
            </div>
            <div class="uk-width-1-3">
              <div>
                <h6>Start Exploring</h6>
                <p>Click on a country to see what the survey reveals. Each one has its own story.</p>
                <!--                <h6>Click on country for additional information</h6>-->
                <div class="uk-flex uk-flex-middle uk-margin-medium-top">
                  <img *ngIf="countryCode" src="survey-tool/assets/images/flags/{{countryCode}}-flag-round.png" width="30">
                  <span *ngIf="countryName" class="uk-margin-small-left">{{ countryName }}</span>
                </div>
                <p *ngIf="comment; else noComment" [innerHTML]="comment" class="uk-text-justify uk-text-small overflow-wrap-break-word"></p>
                <ng-template #noComment>--</ng-template>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div uk-grid>
            <div class="uk-width-2-3">
              <app-highcharts-category-map
                [mapData]="questionsDataArray[1]" [height]="700"
                [title]="'National Monitoring on Skills/Training in Open Science'" [backgroundColor]="'#ffffff'"
                [customLabelText]="'<strong>'+participatingCountries[1] + ' out of '+ total[1] + '</strong><br> countries have a <br>national monitoring <br>on skills/training for<br>Open Science'"
                [caption]="monitoringMapCaptions[9] +
                '<strong>Data source:</strong> Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.'"
                (mapClick)="showComment(1, $event)">
              </app-highcharts-category-map>
            </div>
            <div class="uk-width-1-3">
              <div>
                <h6>Start Exploring</h6>
                <p>Click on a country to see what the survey reveals. Each one has its own story.</p>
                <!--                <h6>Click on country for additional information</h6>-->
                <div class="uk-flex uk-flex-middle uk-margin-medium-top">
                  <img *ngIf="countryCode" src="survey-tool/assets/images/flags/{{countryCode}}-flag-round.png" width="30">
                  <span *ngIf="countryName" class="uk-margin-small-left">{{ countryName }}</span>
                </div>
                <p *ngIf="comment; else noComment" [innerHTML]="comment" class="uk-text-justify uk-text-small overflow-wrap-break-word"></p>
                <ng-template #noComment>--</ng-template>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>


<div class="uk-section uk-section-small uk-margin-top" #exportContent3>
  <div class="uk-container">

    <div class="uk-card uk-card-default visualisation-card uk-card-body">

      <ul class="uk-subnav uk-subnav-pill" uk-switcher="{connect:'#investments', animation: 'fade'}">
        <li><a class="uk-margin-remove-bottom">Overview</a></li>
        <li><a class="uk-margin-remove-bottom">Details</a></li>
      </ul>

      <ul id="investments" class="uk-switcher">
        <li>
          <div class="">
            <app-multi-chart [series]="bar" [categories]="['Number of countries per Investment Category']"
                                 [titles]="barChartTitles" [reversedStacks] = "false"
                                 [stacking]="'normal'" [pointWidth]="75" [legendOptions]="legendOptions"
                                 [customTooltip]="true" [yAxisLabels]="false" style="height: 100%"
                                 [caption]="'<p class=\'uk-text-justify\'>The graph illustrates the financial investments in skills/training in Open Science made by European countries. The investments are categorized in ranges to show the distribution and scale of funding.</p>' +
                                 '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.</p>'">
            </app-multi-chart>
          </div>
        </li>
        <li uk-grid>
          <div class="">
            <app-tree-graph [data]="treeGraph" style="height: 100%" [height]="700"
                            [title]="'Financial Investments in Skills/Training in Open Science in 2022'"
                            [caption]="'<p class=\'uk-text-justify\'>The graph illustrates the financial investments in skills/training in Open Science made by European countries. The investments are categorized in ranges to show the distribution and scale of funding.</p>' +
                            '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.</p>'">
            </app-tree-graph>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>
</div>
<div id="page_content_footer"></div>
</div>
