<div class="uk-section uk-section-small" #exportContent>
  <div class="uk-container">

<!--    <ul class="uk-breadcrumb">-->
<!--      <li><a [routerLink]="['/explore/open-science-by-area']">Open Science by Area</a></li>-->
<!--      <li><span aria-current="page">Open Data</span></li>-->
<!--    </ul>-->

    <div class="uk-flex uk-flex-between uk-flex-middle">
      <h4>Open Science by Area / Open Data</h4>
      <div class="uk-flex uk-flex-center" (click)="exportToPDF([exportContent, exportContent1, exportContent2, exportContent3, exportContent4, exportContent5], 'Open Data')" style="cursor: pointer">
        <div class="uk-flex uk-flex-middle uk-text-primary" style="background-color: #DAEEF3; border-radius: 30px; padding: 5px 7px">
        <span class="" style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">
          Export report
        </span>
          <span *ngIf="exportActive else elseBlock" class="uk-margin-small-left" uk-spinner="ratio: 0.7"></span>
          <ng-template #elseBlock>
            <span class="material-symbols-outlined filled uk-margin-small-left uk-text-primary">download</span>
          </ng-template>
        </div>
      </div>
    </div>

<!--    <h5>Open Data</h5>-->
    <p class="uk-text-lead uk-text-justify">The European Union defines Open Data as the information collected, produced, or paid for by public bodies which is made freely available for anyone to reuse for any purpose. This data is typically provided under an open license and in a convenient, modifiable form that is machine-readable. Open Data policies in the EU are aimed at increasing transparency, fostering innovation, and enhancing public access to valuable information, thereby promoting economic growth and social welfare​ (source: <a href="https://op.europa.eu/en/publication-detail/-/publication/ef43f58a-d7ea-11ec-a95f-01aa75ed71a1" target="_blank">Publications Office of the EU</a>). The graphic below offers a comprehensive overview of key metrics that monitor the advancement of Open Data initiatives and policies across Europe. Understanding these indicators is essential for assessing the degree to which Europe is embracing and implementing Open Data and Open Science principles.</p>

  </div>
</div>

<div class="uk-section uk-section-small"  #exportContent1>
  <div class="uk-container">
    <h5>General Overview of Open Data in Europe for 2022</h5>

    <div class="uk-child-width-1-3 uk-grid-match uk-grid-row-medium uk-flex-center" uk-grid>

      <div *ngIf="openData.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>Open Data in Europe (Open vs Closed)</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ openData[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="openData[1] >= openData[0]; else pubsDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(openData[0] - openData[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #pubsDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(openData[0] - openData[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="countriesWithPolicy.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>EU Countries with Policy on Open Data</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ countriesWithPolicy[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="countriesWithPolicy[1] >= countriesWithPolicy[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(countriesWithPolicy[0] - countriesWithPolicy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(countriesWithPolicy[0] - countriesWithPolicy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="totalInvestments.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>Financial investments in Open Data</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ totalInvestments[1] }} mil Euro</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="totalInvestments[1] >= totalInvestments[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ calculatePercentageChange(totalInvestments) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ calculatePercentageChange(totalInvestments) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="countriesWithStrategy.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>EU Countries with Financial Strategy on Open Data</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ countriesWithStrategy[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="countriesWithStrategy[1] >= countriesWithStrategy[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(countriesWithStrategy[0] - countriesWithStrategy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(countriesWithStrategy[0] - countriesWithStrategy[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="countriesWithMonitoring.length === 2">
        <div class="uk-card card-simple uk-card-small uk-card-body">
          <div>
            <p>EU Countries with National Open Data Monitoring Initiatives</p>
          </div>
          <div class="number big uk-margin-medium-top">
            <span class="uk-text-bold">{{ countriesWithMonitoring[1] }}%</span>
          </div>
          <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
            <ng-container *ngIf="countriesWithMonitoring[1] >= countriesWithMonitoring[0]; else policyDown">
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined up-arrow-color" >arrow_upward</span>
                <span class="percentage-up-color">{{ Math.abs(countriesWithMonitoring[0] - countriesWithMonitoring[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
              </div>
            </ng-container>
            <ng-template #policyDown>
              <div class="uk-flex uk-flex-middle">
                <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                <span class="percentage-down-color">{{ Math.abs(countriesWithMonitoring[0] - countriesWithMonitoring[1]) }}%</span>&nbsp; from last year
              </div>
              <div>
                <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

    <div class="uk-flex uk-margin-top">
      <span class="uk-text-bold">Data source:</span>&nbsp; Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022; OpenAIRE Graph data for 2022 (updated on {{ lastUpdateDate }}).
    </div>

  </div>
</div>

<div class="uk-section uk-section-small uk-margin-top" #exportContent2>
  <div class="uk-container">

    <div class="uk-card uk-card-default visualisation-card uk-card-body">

      <ul class="uk-subnav uk-subnav-pill" uk-switcher="{connect:'#maps', animation: 'fade'}">
        <li><a class="uk-margin-remove-bottom" (click)="countryName = comment = undefined">Policies</a></li>
        <li><a class="uk-margin-remove-bottom" (click)="countryName = comment = undefined">Monitoring</a></li>
      </ul>

      <ul id="maps" class="uk-switcher uk-child-width-1-1 uk-grid-match" uk-grid>
        <li>
          <div uk-grid>
            <div class="uk-width-2-3">
              <app-highcharts-category-map
                [mapData]="questionsDataArray[0]" [height]="700"
                [title]="'National policy on Open Data'" [backgroundColor]="'#ffffff'"
                [customLabelText]="'<strong>'+participatingCountries[0] + ' out of '+ total[0] + '</strong><br> countries have a <br>national policy on <br>Open data'"
                [caption]="policesMapCaptions[3] + '<strong>Data source:</strong> Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.'"
                (mapClick)="showComment(0, $event)">
              </app-highcharts-category-map>
            </div>
            <div class="uk-width-1-3">
              <div>
                <h6>Start Exploring</h6>
                <p>Click on a country to see what the survey reveals. Each one has its own story.</p>
                <!--                <h6>Click on country for additional information</h6>-->
                <div class="uk-flex uk-flex-middle uk-margin-medium-top">
                  <img *ngIf="countryCode" src="survey-tool/assets/images/flags/{{countryCode}}-flag-round.png" width="30">
                  <span *ngIf="countryName" class="uk-margin-small-left">{{ countryName }}</span>
                </div>
                <p *ngIf="comment; else noComment" [innerHTML]="comment" class="uk-text-justify uk-text-small overflow-wrap-break-word"></p>
                <ng-template #noComment>--</ng-template>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div uk-grid>
            <div class="uk-width-2-3">
              <app-highcharts-category-map
                [mapData]="questionsDataArray[1]" [height]="700"
                [title]="'National monitoring on Open Data'" [backgroundColor]="'#ffffff'"
                [customLabelText]="'<strong>'+participatingCountries[1] + ' out of '+ total[1] + '</strong><br> countries have a <br>national monitoring on <br>Open data'"
                [caption]="monitoringMapCaptions[3] + '<strong>Data source:</strong> Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.'"
                (mapClick)="showComment(1, $event)">
              </app-highcharts-category-map>
            </div>
            <div class="uk-width-1-3">
              <div>
                <h6>Start Exploring</h6>
                <p>Click on a country to see what the survey reveals. Each one has its own story.</p>
                <!--                <h6>Click on country for additional information</h6>-->
                <div class="uk-flex uk-flex-middle uk-margin-medium-top">
                  <img *ngIf="countryCode" src="survey-tool/assets/images/flags/{{countryCode}}-flag-round.png" width="30">
                  <span *ngIf="countryName" class="uk-margin-small-left">{{ countryName }}</span>
                </div>
                <p *ngIf="comment; else noComment" [innerHTML]="comment" class="uk-text-justify uk-text-small overflow-wrap-break-word"></p>
                <ng-template #noComment>--</ng-template>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>


<div class="uk-section uk-section-small uk-margin-top" #exportContent3>
  <div class="uk-container">

    <div class="uk-card uk-card-default visualisation-card uk-card-body">

      <ul class="uk-subnav uk-subnav-pill" uk-switcher="{connect:'#investments', animation: 'fade'}">
        <li><a class="uk-margin-remove-bottom">Overview</a></li>
        <li><a class="uk-margin-remove-bottom">Details</a></li>
      </ul>

      <ul id="investments" class="uk-switcher">
        <li>
          <div class="">
            <app-multi-chart [series]="bar" [categories]="['Number of countries per Investment Category']"
                             [titles]="barChartTitles" [reversedStacks] = "false"
                             [stacking]="'normal'" [pointWidth]="75" [legendOptions]="legendOptions"
                             [customTooltip]="true" [yAxisLabels]="false" style="height: 100%"
                             [caption]="policesMapCaptions[2] + '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'">
            </app-multi-chart>
          </div>
        </li>
        <li>
          <div class="">
            <app-tree-graph [data]="treeGraph" style="height: 100%" [height]="700"
                            [title]="'Financial Investments in Open Data in 2022'"
                            [caption]="monitoringMapCaptions[2] +'<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'">
            </app-tree-graph>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="uk-section uk-section-small uk-margin-top"  #exportContent4>
  <div class="uk-container">

    <div class="uk-card uk-card-default visualisation-card uk-card-body">

      <app-stacked-column [categories]="stackedColumnCategories" [legend]="legend" [series]="stackedColumnSeries"
                          [title]="'Trend of Open Data'" [height]="600"
                          [yAxis]="yAxisTitle" [pointFormat]="tooltipPointFormat" [stackLabels]="false"
                          [dataLabels]="false"
                          [caption]="'<p class=\'uk-text-justify\'>The graph provides a comprehensive view of how data accessibility has evolved from 2015 to 2024. It categorizes the total number of data sets each year into four access types: Open, Restricted, Closed, and Embargo. This timeline reveals not only the quantity of data made available under each category but also shows the shifting patterns in data accessibility. Tracking these trends is vital for assessing the effectiveness of Open Data policies and identifying periods of significant change, which can inform future strategies to promote more open and accessible research data practices.</p>' +
                              '<p><strong>Data Source: </strong> OpenAIRE Graph (updated on ' + lastUpdateDate + ').</p>'">
      </app-stacked-column>

    </div>

  </div>
</div>

<div class="uk-section uk-section-small uk-margin-top" #exportContent5>
  <div class="uk-container">

    <div class="uk-card uk-card-default visualisation-card uk-card-body">

      <app-stacked-column [categories]="stackedColumn2Categories" [series]="stackedColumn2Series" [yAxis]="yAxisTitle2"
                          [title]="'Distribution of Open Data Types by Different Document Type'" [height]="600"
                          [pointFormat]="tooltipPointFormat" [stackLabels]="false" [stacking]="stacking"
                          [plotFormat]="dataLabels_format"
                          [caption]="'<p class=\'uk-text-justify\'>The  graph illustrates how Open Data is implemented across various types of documents. It segments the Open Data by document type such as Bioentity, Dataset, Image, Collection, Audiovisual, Clinical Trial, and Other, each colored according to the level of accessibility—Open, Restricted, Closed, or Embargo. This detailed breakdown helps stakeholders understand which document types are more open or restricted, providing insights into where targeted interventions might enhance  accessibility and foster a more transparent, reproducible and inclusive science.</p>' +
                          '<p><strong>Data Source: </strong> OpenAIRE Graph data for 2022 (updated on ' + lastUpdateDate + ').</p>'">
      </app-stacked-column>

    </div>

  </div>
</div>
