<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a [routerLink]="['../all']">All</a></li>
      <li><a [routerLink]="['../publications']">Publications</a></li>
      <li><a [routerLink]="['../data/dataManagement']">Data</a></li>
      <li><a [routerLink]="['../software']">Software</a></li>
      <li><a [routerLink]="['../services']">Services</a></li>
      <li><a [routerLink]="['../infrastructures/connectingRepositoriesToEOSC']">Infrastructure</a></li>
      <li><a [routerLink]="['../skills_training']">Skills/Training</a></li>
      <li><a [routerLink]="['../assessment']">Assessment</a></li>
      <li><a [routerLink]="['../engagement']">Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li class="uk-animation-fade">
        <div class="uk-grid uk-child-width-1-2">
          <div class="uk-grid uk-child-width-1-2 uk-grid-match">
            <div class="">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[0]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{numberOfCountries}}</span>
                  </div>
                  countries have a financial strategy on open access publications
                </div>
              </div>
            </div>
            <div class="">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[1]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{numberOfCountries}}</span>
                  </div>
                  countries have a financial strategy on data
                </div>
              </div>
            </div>
            <div class="uk-grid-margin">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[2]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{numberOfCountries}}</span>
                  </div>
                  countries have a financial strategy on open source software
                </div>
              </div>
            </div>
            <div class="uk-grid-margin">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[3]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{numberOfCountries}}</span>
                  </div>
                  countries have a financial strategy on offering services through EOSC
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="uk-card uk-card-default uk-card-body">
              <activity-gauge [title]="'Percentage of countries with financial strategies on EOSC and open science'"
                              [data]="activityGaugeData">
              </activity-gauge>
            </div>
          </div>

          <div class="uk-width-1-1 uk-margin-large-top">
            <div class="uk-card uk-card-default uk-card-body">

              <cumulative-data-table [title]="'Financial strategies per country'" [tableData]="tableData"></cumulative-data-table>
            </div>
          </div>

        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]="" [toolTipData]="toolTipData[0]"
                                         [title]="'Financial strategy on open access publications'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div *ngIf="participatingCountries[0] >= 0" class="uk-card uk-card-default uk-card-body indicator-card">
              <div class="uk-text-lead uk-margin-small-top uk-text-center">
                <strong>{{participatingCountries[0] +' out of '+ countriesArray?.length}}</strong>
              </div>
              <div class="indicator-label">
                countries have a financial strategy on open access publications
              </div>
            </div>
            <div *ngIf="participatingCountries[0] >= 0" class="uk-margin-top">
              <div class="uk-card uk-card-default uk-card-body">
                <simple-gauge [chartId]="'gauge0'" [data]=participatingCountriesPercentage[0]
                              [title]="'Percentage of countries with a financial strategy on open access publications'">
                </simple-gauge>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul id="dataContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./dataManagement']">Data Management</a></li>
          <li><a [routerLink]="['./fairData']">FAIR Data</a></li>
          <li><a [routerLink]="['./openData']">Open Data</a></li>
        </ul>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="" [toolTipData]="toolTipData[1]"
                                         [title]="'Financial strategy on open source software'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div *ngIf="participatingCountries[2] >= 0" class="uk-card uk-card-default uk-card-body indicator-card">
              <div class="uk-text-lead uk-margin-small-top uk-text-center">
                <strong>{{participatingCountries[2] +' out of '+ countriesArray?.length}}</strong>
              </div>
              <div class="indicator-label">
                countries have a financial strategy on open source software
              </div>
            </div>
            <div *ngIf="participatingCountries[2] >= 0" class="uk-margin-top">
              <div class="uk-card uk-card-default uk-card-body">
                <simple-gauge [chartId]="'gauge1'" [data]=participatingCountriesPercentage[2]
                              [title]="'Percentage of countries with a financial strategy on open source software'">
                </simple-gauge>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]="" [toolTipData]="toolTipData[2]"
                                         [title]="'Financial strategy on offering services through EOSC'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div *ngIf="participatingCountries[3] >= 0" class="uk-card uk-card-default uk-card-body indicator-card">
              <div class="uk-text-lead uk-margin-small-top uk-text-center">
                <strong>{{participatingCountries[3] +' out of '+ countriesArray?.length}}</strong>
              </div>
              <div class="indicator-label">
                countries have a financial strategy on offering services through EOSC
              </div>
            </div>
            <div *ngIf="participatingCountries[3] >= 0" class="uk-margin-top">
              <div class="uk-card uk-card-default uk-card-body">
                <simple-gauge [chartId]="'gauge2'" [data]=participatingCountriesPercentage[3]
                              [title]="'Percentage of countries with a financial strategy on offering services through EOSC'">
                </simple-gauge>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul id="infrastructuresContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./connectingRepositoriesToEOSC']">Connecting Repositories to EOSC</a></li>
          <li><a [routerLink]="['./dataStewardship']">Data Stewardship</a></li>
          <li><a [routerLink]="['./longTermDataPreservation']">Long-term Data Preservation</a></li>
        </ul>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]="" [toolTipData]="toolTipData[3]"
                                         [title]="'Financial strategy on skills/training for Open Science'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div *ngIf="participatingCountries[5] >= 0" class="uk-card uk-card-default uk-card-body indicator-card">
              <div class="uk-text-lead uk-margin-small-top uk-text-center">
                <strong>{{participatingCountries[5] +' out of '+ countriesArray?.length}}</strong>
              </div>
              <div class="indicator-label">
                countries have a financial strategy on skills/training for Open Science
              </div>
            </div>
            <div *ngIf="participatingCountries[5] >= 0" class="uk-margin-top">
              <div class="uk-card uk-card-default uk-card-body">
                <simple-gauge [chartId]="'gauge3'" [data]=participatingCountriesPercentage[5]
                              [title]="'Percentage of countries with a financial strategy on skills/training for Open Science'">
                </simple-gauge>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[4]" [subtitle]="" [toolTipData]="toolTipData[4]"
                                         [title]="'Financial strategy on incentives/rewards for Open Science'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div *ngIf="participatingCountries[6] >= 0" class="uk-card uk-card-default uk-card-body indicator-card">
              <div class="uk-text-lead uk-margin-small-top uk-text-center">
                <strong>{{participatingCountries[6] +' out of '+ countriesArray?.length}}</strong>
              </div>
              <div class="indicator-label">
                countries have a financial strategy on incentives/rewards for Open Science
              </div>
            </div>
            <div *ngIf="participatingCountries[6] >= 0" class="uk-margin-top">
              <div class="uk-card uk-card-default uk-card-body">
                <simple-gauge [chartId]="'gauge4'" [data]=participatingCountriesPercentage[6]
                              [title]="'Percentage of countries with a financial strategy on incentives/rewards for Open Science'">
                </simple-gauge>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[5]" [subtitle]="" [toolTipData]="toolTipData[5]"
                                         [title]="'Financial strategy on citizen science'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div *ngIf="participatingCountries[7] >= 0" class="uk-card uk-card-default uk-card-body indicator-card">
              <div class="uk-text-lead uk-margin-small-top uk-text-center">
                <strong>{{participatingCountries[7] +' out of '+ countriesArray?.length}}</strong>
              </div>
              <div class="indicator-label">
                countries have a financial strategy on citizen science
              </div>
            </div>
            <div *ngIf="participatingCountries[7] >= 0" class="uk-margin-top">
              <div class="uk-card uk-card-default uk-card-body">
                <simple-gauge [chartId]="'gauge5'" [data]=participatingCountriesPercentage[7]
                              [title]="'Percentage of countries with a financial strategy on citizen science'">
                </simple-gauge>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
