.r-d-card {
  background: #CDEAED 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

.vertical-card-header .material-icons {
  font-size: 36px;
  background-color: var(--eosc-observatory-primary-color);
  color: var(--white);
  box-shadow: 3px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px;
}

.horizontal-card-header .material-icons {
  font-size: 28px;
  background-color: var(--eosc-observatory-primary-color);
  color: var(--white);
  box-shadow: 3px 3px 6px #00000029;
  border-radius: 8px;
  padding: 6px;
}

.impact-background {
  height: 100%;
  background-image: url("../../../../assets/images/country_pages/coming soon bg.svg");
  background-size: contain;
}

.vertical-card {
  height: 48%;
}

.vertical-card .uk-card, .vertical-card .uk-card .uk-grid {
  height: 100%;
}

.vertical-card.practices-card .number {

}

.vertical-card.practices-card .text {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #4E4E4E;
}


.survey-tabs.uk-tab {
  margin-bottom: 0px;
}


.survey-tabs.uk-tab::before, .chapter-selection-tabs.uk-tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  /*left: 20px;*/
  left: 0px;
  right: 0;
  border-bottom: 1px solid #EAEAEA;
}

.survey-tabs li:not(:first-child) {
  padding-left: 0px;
}

.survey-tabs li a {
  background: #EAEAEA 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  /*border-bottom: none;*/
  /*position: relative;*/
  /*bottom: -1px;*/
}

.survey-tabs li:last-child a {
  border-radius: 0px 6px 0px 0px;
}

.survey-tabs li:first-child a {
  border-radius: 6px 0px 0px 0px;
}

.survey-tabs li.uk-active a {
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-bottom: none;
  color: #2c2c2c;

  /*z-index: 10;*/
  /*position: relative;*/
  /*bottom: -1px;*/
}


#survey-selection .uk-section-primary {
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.chapter-selection-tabs.uk-tab.uk-tab > * > a {
  color: var(--black);
}

.chapter-selection-tabs.uk-tab > .uk-active > a {
  /*color: var(--black);*/
  font-weight: bold;
  border-color: var(--eosc-observatory-secondary-color);
}

.chapter-selection-tabs.uk-tab > .uk-disabled > a {
  color: #bbb;
}

.chapter-selection-tabs.uk-tab > .use-cases > a {
  color: var(--eosc-observatory-secondary-color);
}

.categories-selection-tabs.uk-subnav-pill > * > :first-child {
  padding: 8px 15px;
  background-color: #EAEAEA;
  color: #2C2C2C;
  border-radius: 6px;
}

.categories-selection-tabs.uk-subnav-pill > * > :first-child {
  padding: 8px 15px;
  background-color: #EAEAEA;
  color: #2C2C2C;
  border-radius: 6px;
}

.categories-selection-tabs.uk-subnav-pill > .uk-active > a {
  background-color: var(--eosc-observatory-primary-color);
  color: #fff;
  font-weight: bold;
  border-color: transparent;
  background-image: none;
}

.categories-content-tabs {
  /*margin-left: 20px;*/
}

.comment-number {
  background-color: #EAEAEA;
  border-radius: 50%;
  /*padding: 5px 10px;*/
  padding: 5px 13px;
  color: #B3B3B3;
  line-height: 2;
}

.uk-accordion .uk-open .comment-number {
  background-color: #2C2C2C;
  color: #fff;
}

.comment-title {
  color: #2c2c2c;
  font-size: 1rem;
}

.uk-accordion-content {
  overflow-wrap: break-word;
}

.bordered-table.uk-table {
  border: 1px solid #e5e5e5;

}

.bordered-table.uk-table th:not(:first-child), .bordered-table.uk-table td:not(:first-child) {
  border-left: 1px solid #e5e5e5;
  text-align: center;
}

.valueTrue {
  /*background-color: #c6efe1;*/
  background-color: var(--eosc-observatory-primary-color-lighter);
}

.valueFalse {
  /*background-color: #f8c9c3;*/
  background-color: var(----eosc-observatory-secondary-color-lighter);
}

.valueNotAvailable {
  background-color: #eaeaea;
}
