<div class="categories-content-tabs">

  <ul class="uk-subnav uk-subnav-pill categories-selection-tabs" uk-switcher>
    <li><a href="#">All</a></li>
    <li><a href="#">Publications</a></li>
    <li><a href="#">Data</a></li>
    <li><a href="#">Software</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Infrastructure</a></li>
    <li><a href="#">Skills/Training</a></li>
    <li><a href="#">Assessment</a></li>
    <li><a href="#">Engagement</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">

            <!--          Publications-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Publications'"
                                             [cardIcon]="'../assets/images/country_pages/Icon%20awesome-file-alt.svg'">
                  <policies-category-indicators [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--          Data-->
            <div class="uk-grid uk-child-width-1-1">
              <div>
                <category-indicators-wrapper [hasSubcategories]="true" [cardTitle]="'Data'"
                                             [cardIcon]="'../assets/images/country_pages/Icon%20awesome-database.svg'">
                  <policies-category-indicators [subtitle]="'Data management'" [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'FAIR data'" [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'Open data'" [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

<!--            Services & Software-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Software'"
                                             [cardIcon]="'../assets/images/country_pages/noun-software-2822919.svg'">
                  <policies-category-indicators [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
              <div>
                <category-indicators-wrapper [cardTitle]="'Services'"
                                             [cardIcon]="'../assets/images/country_pages/noun-settings-5110695.svg'">
                  <policies-category-indicators [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--          Infrastructure-->
            <div class="uk-grid uk-child-width-1-1">
              <div>
                <category-indicators-wrapper [hasSubcategories]="true" [cardTitle]="'Infrastructure'"
                                             [cardIcon]="'../assets/images/country_pages/noun-infrastructure-1694567.svg'">
                  <policies-category-indicators [subtitle]="'Connecting repositories to EOSC'" [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'Data stewardship'" [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'Long-term data preservation'" [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--            Skills/Training & Assessment-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Skills/Training'"
                                             [cardIcon]="'../assets/images/country_pages/noun-skills-2129400.svg'">
                  <policies-category-indicators [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
              <div>
                <category-indicators-wrapper [cardTitle]="'Assessment'"
                                             [cardIcon]="'../assets/images/country_pages/noun-assesment-4658555.svg'">
                  <policies-category-indicators [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--          Engagement-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Engagement'"
                                             [cardIcon]="'../assets/images/country_pages/noun-work-engagement-946691.svg'">
                  <policies-category-indicators [nationalPolicy]="true" [financialStrategy]="false"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="0">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

          </div>

<!--          Comments....-->
          <div class="uk-width-1-3">
            <ul uk-accordion="collapsible: false" class="uk-text-small">
              <li>
                <a class="uk-accordion-title" href>
                  <span class="comment-number uk-margin-small-right">1</span>
                  <span class="comment-title">Lorem ipsum</span>
                </a>
                <div class="uk-accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href>
                  <span class="comment-number uk-margin-small-right">2</span>
                  <span class="comment-title">Lorem ipsum</span>
                </a>
                <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href>
                  <span class="comment-number uk-margin-small-right">3</span>
                  <span class="comment-title">Lorem ipsum</span>
                </a>
                <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>Publications content</li>
    <li>Data content</li>
    <li>Software content</li>
    <li>Services content</li>
    <li>Infrastructure content</li>
    <li>Skills/Training content</li>
    <li>Assessment content</li>
    <li>Engagement content</li>
  </ul>
</div>

