<div *ngIf="surveyAnswer" class="categories-content-tabs">

  <ul class="uk-subnav uk-subnav-pill categories-selection-tabs" uk-switcher>
    <li><a href="#">All</a></li>
    <li><a href="#">Publications</a></li>
    <li><a href="#">Data</a></li>
    <li><a href="#">Software</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Infrastructure</a></li>
    <li><a href="#">Skills/Training</a></li>
    <li><a href="#">Assessment</a></li>
    <li><a href="#">Engagement</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">

            <!--          Publications-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Publications'"
                                             [cardIcon]="'../assets/images/country_pages/Icon%20awesome-file-alt.svg'">
                  <policies-category-indicators [nationalPolicy]="surveyAnswer['Policies']?.['Question6']?.['Question6-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question7']?.['Question7-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question8']?.['Question8-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question9']?.['Question9-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--          Data-->
            <div class="uk-grid uk-child-width-1-1">
              <div>
                <category-indicators-wrapper [hasSubcategories]="true" [cardTitle]="'Data'"
                                             [cardIcon]="'../assets/images/country_pages/Icon%20awesome-database.svg'">
                  <policies-category-indicators [subtitle]="'Data management'"
                                                [nationalPolicy]="surveyAnswer['Policies']?.['Question10']?.['Question10-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question11']?.['Question11-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question12']?.['Question12-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question13']?.['Question13-0']">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'FAIR data'"
                                                [nationalPolicy]="surveyAnswer['Policies']?.['Question14']?.['Question14-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question15']?.['Question15-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question16']?.['Question16-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question17']?.['Question17-0']">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'Open data'"
                                                [nationalPolicy]="surveyAnswer['Policies']?.['Question18']?.['Question18-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question19']?.['Question19-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question20']?.['Question20-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question21']?.['Question21-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

<!--            Services & Software-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Software'"
                                             [cardIcon]="'../assets/images/country_pages/noun-software-2822919.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question22']?.['Question22-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question23']?.['Question23-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question24']?.['Question24-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question25']?.['Question25-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
              <div>
                <category-indicators-wrapper [cardTitle]="'Services'"
                                             [cardIcon]="'../assets/images/country_pages/noun-settings-5110695.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question26']?.['Question26-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question27']?.['Question27-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question28']?.['Question28-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question29']?.['Question29-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--          Infrastructure-->
            <div class="uk-grid uk-child-width-1-1">
              <div>
                <category-indicators-wrapper [hasSubcategories]="true" [cardTitle]="'Infrastructure'"
                                             [cardIcon]="'../assets/images/country_pages/noun-infrastructure-1694567.svg'">
                  <policies-category-indicators [subtitle]="'Connecting repositories to EOSC'"
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question30']?.['Question30-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question31']?.['Question31-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question32']?.['Question32-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question33']?.['Question33-0']">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'Data stewardship'"
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question34']?.['Question34-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question35']?.['Question35-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question36']?.['Question36-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question37']?.['Question37-0']">
                  </policies-category-indicators>
                  <policies-category-indicators
                    [subtitle]="'Long-term data preservation'"
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question38']?.['Question38-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question39']?.['Question39-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question40']?.['Question40-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question41']?.['Question41-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--            Skills/Training & Assessment-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Skills/Training'"
                                             [cardIcon]="'../assets/images/country_pages/noun-skills-2129400.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question42']?.['Question42-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question43']?.['Question43-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question44']?.['Question44-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question45']?.['Question45-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
              <div>
                <category-indicators-wrapper [cardTitle]="'Assessment'"
                                             [cardIcon]="'../assets/images/country_pages/noun-assesment-4658555.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question46']?.['Question46-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question47']?.['Question47-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question48']?.['Question48-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question49']?.['Question49-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

            <!--          Engagement-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Engagement'"
                                             [cardIcon]="'../assets/images/country_pages/noun-work-engagement-946691.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question50']?.['Question50-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question51']?.['Question51-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question52']?.['Question52-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question53']?.['Question53-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>

          </div>

<!--          Comments....-->
          <div class="uk-width-1-3">
            <ul uk-accordion="collapsible: false" class="uk-text-small">
              <li>
                <a class="uk-accordion-title" href>
                  <span class="comment-number uk-margin-small-right">1</span>
                  <span class="comment-title">Lorem ipsum</span>
                </a>
                <div class="uk-accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href>
                  <span class="comment-number uk-margin-small-right">2</span>
                  <span class="comment-title">Lorem ipsum</span>
                </a>
                <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href>
                  <span class="comment-number uk-margin-small-right">3</span>
                  <span class="comment-title">Lorem ipsum</span>
                </a>
                <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <!--          Publications-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Publications'"
                                             [cardIcon]="'../assets/images/country_pages/Icon%20awesome-file-alt.svg'">
                  <policies-category-indicators [nationalPolicy]="surveyAnswer['Policies']?.['Question6']?.['Question6-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question7']?.['Question7-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question8']?.['Question8-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question9']?.['Question9-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <!--          Data-->
            <div class="uk-grid uk-child-width-1-1">
              <div>
                <category-indicators-wrapper [hasSubcategories]="true" [cardTitle]="'Data'"
                                             [cardIcon]="'../assets/images/country_pages/Icon%20awesome-database.svg'">
                  <policies-category-indicators [subtitle]="'Data management'"
                                                [nationalPolicy]="surveyAnswer['Policies']?.['Question10']?.['Question10-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question11']?.['Question11-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question12']?.['Question12-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question13']?.['Question13-0']">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'FAIR data'"
                                                [nationalPolicy]="surveyAnswer['Policies']?.['Question14']?.['Question14-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question15']?.['Question15-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question16']?.['Question16-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question17']?.['Question17-0']">
                  </policies-category-indicators>
                  <policies-category-indicators [subtitle]="'Open data'"
                                                [nationalPolicy]="surveyAnswer['Policies']?.['Question18']?.['Question18-0']"
                                                [financialStrategy]="surveyAnswer['Policies']?.['Question19']?.['Question19-0']"
                                                [rpos]="surveyAnswer['Policies']?.['Question20']?.['Question20-0']"
                                                [rfos]="surveyAnswer['Policies']?.['Question21']?.['Question21-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
<!--      Software content-->
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Software'"
                                             [cardIcon]="'../assets/images/country_pages/noun-software-2822919.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question22']?.['Question22-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question23']?.['Question23-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question24']?.['Question24-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question25']?.['Question25-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
<!--      Services content-->
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Services'"
                                             [cardIcon]="'../assets/images/country_pages/noun-settings-5110695.svg'">
                  <policies-category-indicators [nationalPolicy]="'Yes'" [financialStrategy]="'No'"
                                                [rpos]="surveyAnswer['Practices']?.['Question56']?.['Question56-0']" [rfos]="'0'">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <!--          Infrastructure-->
            <div class="uk-grid uk-child-width-1-1">
              <div>
                <category-indicators-wrapper [hasSubcategories]="true" [cardTitle]="'Infrastructure'"
                                             [cardIcon]="'../assets/images/country_pages/noun-infrastructure-1694567.svg'">
                  <policies-category-indicators
                    [subtitle]="'Connecting repositories to EOSC'"
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question30']?.['Question30-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question31']?.['Question31-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question32']?.['Question32-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question33']?.['Question33-0']">
                  </policies-category-indicators>
                  <policies-category-indicators
                    [subtitle]="'Data stewardship'"
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question34']?.['Question34-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question35']?.['Question35-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question36']?.['Question36-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question37']?.['Question37-0']">
                  </policies-category-indicators>
                  <policies-category-indicators
                    [subtitle]="'Long-term data preservation'"
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question38']?.['Question38-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question39']?.['Question39-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question40']?.['Question40-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question41']?.['Question41-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
<!--      Skills/Training content-->
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Skills/Training'"
                                             [cardIcon]="'../assets/images/country_pages/noun-skills-2129400.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question42']?.['Question42-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question43']?.['Question43-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question44']?.['Question44-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question45']?.['Question45-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
<!--      Assessment content-->
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Assessment'"
                                             [cardIcon]="'../assets/images/country_pages/noun-assesment-4658555.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question46']?.['Question46-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question47']?.['Question47-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question48']?.['Question48-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question49']?.['Question49-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-margin-medium-top">
        <div class="uk-grid uk-grid-divider">
          <div class="uk-width-2-3">
            <!--          Engagement-->
            <div class="uk-grid uk-child-width-1-2">
              <div>
                <category-indicators-wrapper [cardTitle]="'Engagement'"
                                             [cardIcon]="'../assets/images/country_pages/noun-work-engagement-946691.svg'">
                  <policies-category-indicators
                    [nationalPolicy]="surveyAnswer['Policies']?.['Question50']?.['Question50-0']"
                    [financialStrategy]="surveyAnswer['Policies']?.['Question51']?.['Question51-0']"
                    [rpos]="surveyAnswer['Policies']?.['Question52']?.['Question52-0']"
                    [rfos]="surveyAnswer['Policies']?.['Question53']?.['Question53-0']">
                  </policies-category-indicators>
                </category-indicators-wrapper>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

