<ng-container>
  @if (countries) {
    <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
      <thead>
        <tr>
          <th class="uk-text-center" (click)="sortByColumn($event)">
            @if (sortedColumnIndex !== 0) {
              <span class="uk-margin-small-right"><img src="../../../survey-tool/assets/images/icons/sort.svg"></span>
            }
            @if (sortedColumnIndex === 0 && !asc) {
              <span class="uk-margin-small-right"><img src="../../../survey-tool/assets/images/icons/sort-descending.svg"></span>
            }
            @if (sortedColumnIndex === 0 && asc) {
              <span class="uk-margin-small-right"><img src="../../../survey-tool/assets/images/icons/sort-ascending.svg"></span>
            }
            Country
          </th>
          @for (header of tableHeaders; track header; let i = $index) {
            <th class="uk-text-center" (click)="sortByColumn($event)">
              @if (sortedColumnIndex !== i+1) {
                <span class="uk-margin-small-right"><img src="../../../survey-tool/assets/images/icons/sort.svg"></span>
              }
              @if (sortedColumnIndex === i+1 && !asc) {
                <span class="uk-margin-small-right"><img src="../../../survey-tool/assets/images/icons/sort-descending.svg"></span>
              }
              @if (sortedColumnIndex === i+1 && asc) {
                <span class="uk-margin-small-right"><img src="../../../survey-tool/assets/images/icons/sort-ascending.svg"></span>
              }
              {{header}}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (countryOverview of countries; track countryOverview) {
          <tr>
            <td class="uk-text-center"><span>{{countryOverview.name}}</span></td>
            @if (tableType==='policies') {
              @for (column of countryOverview.EOSCRelevantPoliciesInPlace; track column) {
                <td class="uk-text-center">
                  <span>{{column === 'true' ? 'Yes' : '--'}}</span>
                </td>
              }
            }
            @if (tableType === 'funding') {
              <td class="uk-text-center">
                @if (countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies === null
                  || countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies === 'null') {
                  Awaiting data
                } @else {
                  {{countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies}}
                }
              </td>
            }
            @if (tableType === 'mandate') {
              <td class="uk-text-center">
                @if (countryOverview.hasAppointedMandatedOrganization === null
                  || countryOverview.hasAppointedMandatedOrganization === 'null') {
                  Awaiting data
                } @else {
                  {{countryOverview.hasAppointedMandatedOrganization}}
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</ng-container>
