<div class="uk-section uk-section-primary uk-section-small uk-preserve-color">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">
      <div class="uk-width-1-6">
          <ul class="uk-width-1-1 uk-margin-remove uk-tab uk-tab-left form-tabs"
              data-uk-tab="connect: #left-tabs; animation: uk-animation-fade">
            <li><a href="#">Question 1</a></li>
            <li><a href="#">Question 2</a></li>
            <li><a href="#">Question 3</a></li>
            <li><a href="#">Question 4</a></li>
            <li><a href="#">Question 5</a></li>
            <li><a href="#">Question 6</a></li>
            <li><a href="#">Question 7</a></li>
            <li><a href="#">Question 8</a></li>
            <li><a href="#">Question 9</a></li>
            <li><a href="#">Question 10</a></li>
            <li><a href="#">Question 11</a></li>
            <li><a href="#">Question 12</a></li>
            <li><a href="#">Question 13</a></li>
            <li><a href="#">Question 14</a></li>
          </ul>
      </div>
      <div class="uk-width-5-6">
        <ul id="left-tabs" class="uk-switcher">
          <li>
            <div class="uk-margin-medium-top">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" checked (click)="createMapDataset(0)">
                      There are one or more policies relevant for the EOSC in place</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(1)">
                      Policy in planning</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(2)">
                      One or more of the open science policies explicitly mentions EOSC</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(3)">
                      Policy addresses Open access to data, data management and/or FAIR</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(4)">
                      Policy addresses FAIRisation of data</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(5)">
                      Policy addresses Open access to software</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(6)">
                      Policy addresses Preservation and reuse of scientific information</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(7)">
                      Policy addresses Infrastructures that include aspects of open science</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(8)">
                      Policy addresses Skills and competencies</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(9)">
                      Policy addresses Incentives and rewards</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(10)">
                      Policy addresses Citizen science</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(11)">
                      Other</label>
                  </div>
                  <div class="uk-width-2-3" style="height: 500px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="map1Subtitle"
                                                 [title]="'EOSC-relevant policies in place at national or regional level'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>Hello again!</li>
          <li>
            <div class="uk-card uk-card-default uk-card-body" style="height: 600px">
              <app-highcharts-category-map [mapData]="questionsDataArray[3]" [title]="'Does the country have dedicated financial contributions to the EOSC linked to the policies?'"></app-highcharts-category-map>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
