<div class="uk-section uk-section-primary uk-section-small uk-preserve-color">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <ul class="uk-width-1-1 uk-margin-remove uk-tab form-tabs uk-flex uk-flex-center"
            data-uk-tab="connect: #tabs; animation: uk-animation-fade">
          <li><a href="#">Question 1</a></li>
          <li><a href="#">Question 2</a></li>
          <li><a href="#">Question 3</a></li>
          <li><a href="#">Question 4</a></li>
          <li><a href="#">Question 5</a></li>
          <li><a href="#">Question 6</a></li>
          <li><a href="#">Question 7</a></li>
          <li><a href="#">Question 8</a></li>
          <li><a href="#">Question 9</a></li>
          <li><a href="#">Question 10</a></li>
          <li><a href="#">Question 11</a></li>
          <li><a href="#">Question 12</a></li>
          <li><a href="#">Question 13</a></li>
          <li><a href="#">Question 14</a></li>
        </ul>
      </div>
      <div class="uk-width-1-1">
        <ul id="tabs" class="uk-switcher">
          <li class="uk-margin-medium-top">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-1', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-1" class="uk-switcher uk-margin">
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <div class="uk-grid uk-grid-match">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" checked (click)="createMapDataset(0,0)">
                        <label>There are one or more policies relevant for the EOSC in place</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(1, 0)">
                        <label>Policy in planning</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(2, 0)">
                        <label>One or more of the open science policies explicitly mentions EOSC</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(3, 0)">
                        <label>Policy addresses Open access to data, data management and/or FAIR</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(4, 0)">
                        <label>Policy addresses FAIRisation of data</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(5, 0)">
                        <label>Policy addresses Open access to software</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(6, 0)">
                        <label>Policy addresses Preservation and reuse of scientific information</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(7, 0)">
                        <label>Policy addresses Infrastructures that include aspects of open science</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(8, 0)">
                        <label>Policy addresses Skills and competencies</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(9, 0)">
                        <label>Policy addresses Incentives and rewards</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(10, 0)">
                        <label>Policy addresses Citizen science</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map1" (click)="createMapDataset(11, 0)">
                        <label>Other</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]="mapSubtitles[0]"
                                                   [title]="'EOSC-relevant policies in place at national or regional level'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[0]" [countries]="tableAbsoluteDataArray[0]"
                                       [tableType]="'policies'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
          </li>
          <li class="uk-margin-medium-top">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-2', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-2" class="uk-switcher uk-margin">
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map2" checked (click)="createMapDataset(0, 1)">
                      <label>Action plan</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map2" (click)="createMapDataset(1, 1)">
                      <label>Concrete objectives</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map2" (click)="createMapDataset(2, 1)">
                      <label>Indicators to monitor progress</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map2" (click)="createMapDataset(3, 1)">
                      <label>Associated financial planning</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="mapSubtitles[1]"
                                                 [title]="'EOSC-relevant policies in place include measures to ensure implementation'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[1]" [countries]="tableAbsoluteDataArray[1]"
                                       [tableType]="'policies'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
          </li>
          <li class="uk-margin-medium-top">
            <div class="uk-card uk-card-default uk-card-body" style="height: 700px">
              <app-highcharts-category-map [mapData]="questionsDataArray[3]" [title]="'Does the country have dedicated financial contributions to the EOSC linked to the policies?'"></app-highcharts-category-map>
            </div>
          </li>
          <li class="uk-margin-medium-top">
            <div class="uk-grid">
              <div class="uk-card uk-card-default uk-card-body uk-width-2-3" style="height: 800px">
                <app-highcharts-color-axis [mapData]="questionsDataArray[4]" [title]="'Color axis demo'"></app-highcharts-color-axis>
              </div>
              <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-card-body" style="height: 800px">
                  <app-bar-chart></app-bar-chart>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
