<div class="uk-section uk-section-default uk-section-small uk-preserve-color">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <ul id="policies-tabs" class="uk-switcher">
<!--          EOSC-relevant Policies-->
          <li class="uk-animation-fade">
            <app-ncte-policies></app-ncte-policies>
          </li>
<!--          Implementation Measures-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-2', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-2" class="uk-switcher uk-margin">
              <li>
                <div class="">
                <div class="uk-grid">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-bottom">
                      <input type="radio" name="map2" checked (click)="createMapDataset(0, 2)">
                      <label>Action plan</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-bottom">
                      <input type="radio" name="map2" (click)="createMapDataset(1, 2)">
                      <label>Concrete objectives</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-bottom">
                      <input type="radio" name="map2" (click)="createMapDataset(2, 2)">
                      <label>Indicators to monitor progress</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-bottom">
                      <input type="radio" name="map2" (click)="createMapDataset(3, 2)">
                      <label>Associated financial planning</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]="mapSubtitles[2]"
                                                 [title]="'EOSC-relevant policies in place include measures to ensure implementation'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[2]" [countries]="tableAbsoluteDataArray[2]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
<!--          Financial Strategies-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-8', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-8" class="uk-switcher uk-margin">
              <li>
                <div class="">
                  <div class="uk-grid">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map8" checked (click)="createMapDataFromCategorization(0,3)">
                        <label>{{mapSubtitlesArray[3][0]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map8" (click)="createMapDataFromCategorization(1, 3)">
                        <label>{{mapSubtitlesArray[3][1]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map8" (click)="createMapDataFromCategorization(2, 3)">
                        <label>{{mapSubtitlesArray[3][2]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map8" (click)="createMapDataFromCategorization(3, 3)">
                        <label>{{mapSubtitlesArray[3][3]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map8" (click)="createMapDataFromCategorization(4, 3)">
                        <label>{{mapSubtitlesArray[3][4]}}</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]="mapSubtitles[3]"
                                                   [title]="'National contributions to EOSC linked to policies and actions'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[3]" [countries]="tableAbsoluteDataArray[3]"
                                       [tableType]="'funding'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
<!--            <app-ncte-funding></app-ncte-funding>-->
          </li>
<!--          EOSC-relevant Activities-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-5', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-5" class="uk-switcher uk-margin">
              <li>
                <div class="">
                  <div class="uk-grid">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map5" checked (click)="createMapDataset(0,12)">
                        <label>{{mapSubtitlesArray[12][0]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map5" (click)="createMapDataset(1, 12)">
                        <label>{{mapSubtitlesArray[12][1]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map5" (click)="createMapDataset(2, 12)">
                        <label>{{mapSubtitlesArray[12][2]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map5" (click)="createMapDataset(3, 12)">
                        <label>{{mapSubtitlesArray[12][3]}}</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[12]" [subtitle]="mapSubtitles[12]"
                                                   [title]="'EOSC-relevant activities included in national contributions in 2020'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[12]" [countries]="tableAbsoluteDataArray[12]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
<!--          EOSC-relevant Services-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-6', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-6" class="uk-switcher uk-margin">
              <li>
                <div class="">
                  <div class="uk-grid">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map6" checked (click)="createMapDataset(0,13)">
                        <label>{{mapSubtitlesArray[13][0]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map6" (click)="createMapDataset(1, 13)">
                        <label>{{mapSubtitlesArray[13][1]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map6" (click)="createMapDataset(2, 13)">
                        <label>{{mapSubtitlesArray[13][2]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map6" (click)="createMapDataset(3, 13)">
                        <label>{{mapSubtitlesArray[13][3]}}</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[13]" [subtitle]="mapSubtitles[13]"
                                                   [title]="'EOSC-relevant services included in national contributions in 2020'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[13]" [countries]="tableAbsoluteDataArray[13]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
<!--          EOSC-relevant Infrastructure-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-7', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-7" class="uk-switcher uk-margin">
              <li>
                <div class="">
                  <div class="uk-grid">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map7" checked (click)="createMapDataset(0,14)">
                        <label>{{mapSubtitlesArray[14][0]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map7" (click)="createMapDataset(1, 14)">
                        <label>{{mapSubtitlesArray[14][1]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map7" (click)="createMapDataset(2, 14)">
                        <label>{{mapSubtitlesArray[14][2]}}</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-bottom">
                        <input type="radio" name="map7" (click)="createMapDataset(3, 14)">
                        <label>{{mapSubtitlesArray[14][3]}}</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[14]" [subtitle]="mapSubtitles[14]"
                                                   [title]="'EOSC-relevant infrastructures included in national contributions in 2020'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[13]" [countries]="tableAbsoluteDataArray[13]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
