<form [formGroup]="form" class="">
  <label *ngIf="fieldData.field.label" class="uk-form-label uk-width-9-10 uk-margin-small-bottom" [attr.for]="fieldData.field.name">
    {{fieldData.field.label + (fieldData.field.form.mandatory ? ' (*)' : '')}}
  </label>
  <div *ngIf="fieldData.field.form.description" class="uk-form-description uk-margin-top uk-width-9-10"
       [innerHTML]="fieldData.field.form.description">
  </div>

  <div *ngIf="fieldData.field.typeInfo.multiplicity; else noMultiplicity;" [formArrayName]="fieldData.field.name">
    <!--To add multiplicity if needed-->
  </div>
  <ng-template #noMultiplicity>
    <textarea [formControlName]="fieldData.field.name" [id]="fieldData.field.name" class="uk-textarea uk-width-9-10"
              [placeholder]="fieldData.field.form.placeholder ? fieldData.field.form.placeholder : ''"
              (input)="updateBitSet(fieldData); unsavedChangesPrompt()"
              [ngClass]="{'uk-form-danger': checkFormValidity() }">
    </textarea>
    <div class="uk-suggestion uk-width-9-10 uk-margin-small" [innerHTML]="fieldData.field.form.suggestion"></div>
  </ng-template>
</form>
