<div class="uk-section uk-section-primary uk-section-small uk-preserve-color">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <ul class="uk-width-1-1 uk-margin-remove uk-tab form-tabs uk-flex uk-flex-center"
            data-uk-tab="connect: #tabs; animation: uk-animation-fade">
          <li><a href="#">Question 15</a></li>
          <li><a href="#">Question 16</a></li>
          <li><a href="#">Question 17</a></li>
          <li><a href="#">Question 18</a></li>
        </ul>
      </div>
      <div class="uk-width-1-1">
        <ul id="tabs" class="uk-switcher">
          <li class="uk-margin-medium-top">
            <div class="uk-card uk-card-default uk-card-body" style="height: 700px">
              <app-highcharts-category-map [mapData]="questionsDataArray[15]" [title]="'Has the country appointed a Mandated Organisation to the EOSC Association?'"></app-highcharts-category-map>
            </div>
          </li>
          <li class="uk-margin-medium-top">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-4', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-4" class="uk-switcher uk-margin">
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" checked (click)="createMapDataset(0,16)">
                      <label>Open Access to data, data management and/or FAIR</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(1, 16)">
                      <label>FAIRisation of data</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(2, 16)">
                      <label>Open Access to software</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(3, 16)">
                      <label>Preservation and reuse of scientific information</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(4, 16)">
                      <label>Infrastructures that include aspects of open science</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(5, 16)">
                      <label>Skills and competencies</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(6, 16)">
                      <label>Incentives and rewards</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(7, 16)">
                      <label>Citizen science</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(8, 16)">
                      <label>Monitoring or Mapping exercise in planning</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(9, 16)">
                      <label>No monitoring takes place</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map8" (click)="createMapDataset(10, 16)">
                      <label>Other</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[16]" [subtitle]="mapSubtitles[16]"
                                                 [title]="'Official national monitoring or mapping exercise '">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[16]" [countries]="tableAbsoluteDataArray[16]"
                                       [tableType]="'policies'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
          </li>
          <li class="uk-margin-medium-top">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-5', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-5" class="uk-switcher uk-margin">
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map9" checked (click)="createMapDataset(0, 17)">
                      <label>Periodic reports</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map9" (click)="createMapDataset(1, 17)">
                      <label>Mapping exercise</label>
                    </div>
                    <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input type="radio" name="map9" (click)="createMapDataset(2, 17)">
                      <label>Dashboard</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[17]" [subtitle]="mapSubtitles[17]"
                                                 [title]="'How is it reported?'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[17]" [countries]="tableAbsoluteDataArray[17]"
                                       [tableType]="'policies'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
          </li>
          <li class="uk-margin-medium-top">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-6', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>

            <ul id="map-vs-table-6" class="uk-switcher uk-margin">
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <div class="uk-grid uk-grid-match">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" checked (click)="createMapDataset(0,18)">
                        <label>Open Access to data, Research data management, and FAIR</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(1, 18)">
                        <label>FAIRisation of data</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(2,18)">
                        <label>Open Access to software</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(3,18)">
                        <label>Preservation and reuse of scientific information</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(4,18)">
                        <label>Infrastructures that include aspects of open science</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(5, 18)">
                        <label>Skills and competencies</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(6, 6)">
                        <label>Incentives and rewards</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(7, 18)">
                        <label>Citizen science</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(8, 18)">
                        <label>None</label>
                      </div>
                      <div class="uk-flex uk-flex-top uk-margin-small-bottom">
                        <input type="radio" name="map10" (click)="createMapDataset(9, 18)">
                        <label>Other</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[18]" [subtitle]="mapSubtitles[18]"
                                                   [title]="'Open science dimensions with use cases and best practices present'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[18]" [countries]="tableAbsoluteDataArray[18]"
                                       [tableType]="'policies'">
                  </app-countries-table>
                </div>
              </li>
            </ul>

          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
