<div class="uk-section uk-section-primary uk-section-small uk-preserve-color">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">
      <div class="uk-width-1-6">
        <ul class="uk-width-1-1 uk-margin-remove uk-tab uk-tab-left form-tabs"
            data-uk-tab="connect: #left-tabs; animation: uk-animation-fade">
          <li><a href="#">Question 15</a></li>
          <li><a href="#">Question 16</a></li>
          <li><a href="#">Question 17</a></li>
          <li><a href="#">Question 18</a></li>
        </ul>
      </div>
      <div class="uk-width-5-6">
        <ul id="left-tabs" class="uk-switcher">
          <li>
            <div class="uk-card uk-card-default uk-card-body" style="height: 600px">
              <app-highcharts-category-map [mapData]="questionsDataArray[15]" [title]="'Has the country appointed a Mandated Organisation to the EOSC Association?'"></app-highcharts-category-map>
            </div>
          </li>
          <li>
            <div class="uk-margin-medium-top">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" checked (click)="createMapDataset(0,4)">
                      Open Access to data, data management and/or FAIR</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(1, 4)">
                      FAIRisation of data</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(2, 4)">
                      Open Access to software</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(3, 4)">
                      Preservation and reuse of scientific information</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(4, 4)">
                      Infrastructures that include aspects of open science</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(5, 4)">
                      Skills and competencies</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(6, 4)">
                      Incentives and rewards</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(7, 4)">
                      Citizen science</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(8, 4)">
                      Monitoring or Mapping exercise in planning</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(9, 4)">
                      No monitoring takes place</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map4" (click)="createMapDataset(10, 4)">
                      Other</label>
                  </div>
                  <div class="uk-width-2-3" style="height: 500px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[4]" [subtitle]="mapSubtitle"
                                                 [title]="'Official national monitoring or mapping exercise '">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-margin-medium-top">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map5" checked (click)="createMapDataset(0, 5)">
                      Periodic reports</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map5" (click)="createMapDataset(1, 5)">
                      Mapping exercise</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map5" (click)="createMapDataset(2, 5)">
                      Dashboard</label>
                  </div>
                  <div class="uk-width-2-3" style="height: 500px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[5]" [subtitle]="mapSubtitle"
                                                 [title]="'How is it reported?'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-margin-medium-top">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-grid uk-grid-match">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" checked (click)="createMapDataset(0,6)">
                      Open Access to data, Research data management, and FAIR</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(1, 6)">
                      FAIRisation of data</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(2,6)">
                      Open Access to software</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(3,6 )">
                      Preservation and reuse of scientific information</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(4,6)">
                      Infrastructures that include aspects of open science</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(5, 6)">
                      Skills and competencies</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(6, 6)">
                      Incentives and rewards</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(7, 6)">
                      Citizen science</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(8, 6)">
                      None</label>
                    <label><input class="uk-margin-small-bottom" type="radio" name="map6" (click)="createMapDataset(9, 6)">
                      Other</label>
                  </div>
                  <div class="uk-width-2-3" style="height: 500px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[6]" [subtitle]="mapSubtitle"
                                                 [title]="'Open science dimensions with use cases and best practices present'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
