#investmentsContent.uk-subnav-pill > * > :first-child {
  /*padding: 10px 20px;*/
  padding: 10px 15px;
  color: var(--black);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--eosc-observatory-secondary-color);
  border-radius: 0px;
}

#investmentsContent.uk-subnav-pill > li.uk-active > :first-child {
  background-color: transparent;
  font-weight: bold;
  background-image: none;
}
