<div class="uk-section-default uk-section uk-section-xsmall uk-padding-remove-bottom">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">

      <app-group-section class="uk-width-1-5" [chapterModel]="formBuilder"></app-group-section>
      <div class="uk-width-3-5">
        <ul id="chapter-tabs" class="uk-switcher">
          <li *ngFor="let chapter of formBuilder">
            <div class="uk-width-3-5 uk-margin">
              <label for="chapterName" class="uk-form-label uk-margin-small-bottom">Chapter Name*</label>
              <div class="uk-form-controls">
                <input id="chapterName" class="uk-input" [(ngModel)]="chapter.chapter.name" placeholder="Untitled Chapter">
              </div>
            </div>

            <ul id="section-tabs" class="uk-switcher">
              <li *ngFor="let fields of chapter.groupedFieldsList">
                <app-section-builder [section]="fields.group"></app-section-builder>
                <app-field-builder [groupedFields]="fields"></app-field-builder>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

<pre>
  {{formBuilder | json}}
</pre>
