<div class="uk-section-default uk-section uk-section-xsmall uk-padding-remove-bottom">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">

      <app-group-section class="uk-width-1-5" [chapterModel]="formBuilder"></app-group-section>
      <div class="uk-width-3-5">
        <ul id="chapter-tabs" class="uk-switcher">
          <li *ngFor="let chapter of formBuilder">
            {{chapter.chapter.name}}
            <ul>
              <li *ngFor="let fields of chapter.groupedFieldsList">
                <app-field-builder [groupedFields]="fields"></app-field-builder>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
    <div class="uk-width-1-5">
      <a class="uk-flex uk-flex-middle" (click)="pushChapter()">
        <span class="material-icons">add</span> {{formBuilder.length === 0 ? 'Create the first chapter': 'Chapter'}}
      </a>
    </div>

  </div>
</div>

<pre>
  {{formBuilder | json}}
</pre>
