<ng-template #topTpl>
  <div class="uk-flex uk-flex-center uk-margin-small-top">
    <nav uk-dropnav="mode: click; align: center">
      <ul class="uk-subnav">
        <li>
          <span class="uk-text-bold" style="cursor: pointer">
            National contributions {{ year }} <span uk-drop-parent-icon></span>
          </span>
          <div class="uk-dropdown">
            <ul class="uk-nav uk-dropdown-nav">
              <li [routerLink]="['/eoscreadiness/2024']" class="uk-flex uk-flex-center uk-margin-small-top">
                <span class="uk-text-bold" style="cursor: pointer">2024</span>
              </li>
              <li [routerLink]="['/eoscreadiness/2023']" class="uk-flex uk-flex-center uk-margin-small-top">
                <span class="uk-text-bold" style="cursor: pointer">2023</span>
              </li>
              <li [routerLink]="['/eoscreadiness/2022']" class="uk-flex uk-flex-center uk-margin-small-top">
                <span class="uk-text-bold" style="cursor: pointer">2022</span>
              </li>
              <li [routerLink]="['/eoscreadiness/2021']" class="uk-flex uk-flex-center uk-margin-small-top">
                <span class="uk-text-bold" style="cursor: pointer">2021</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</ng-template>


<div id="sidebar_main_content" class="sidebar_main_swipe uk-flex uk-background-default"
     [class.sidebar_main_active]="open && (hasSidebar || hasAdminMenu)"
     [class.sidebar_mini]="!open &&  (hasSidebar || hasAdminMenu)"
     [class.sidebar_hover]="hover">

  <dashboard-sidebar [menuSections]="menuSections" [logoTpl]="topTpl"></dashboard-sidebar>

  <div id="page_content" class="dashboard">
    <router-outlet></router-outlet>
  </div>
</div>
