<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 90vh;">
  <div class="uk-container uk-container-expand uk-margin-left uk-margin-right uk-margin-top">

    <div class="uk-card uk-card-default uk-card-body">

      <div class="uk-flex uk-flex-right">
        <button class="uk-button uk-button-primary">Add new user</button>
      </div>

      <div class="uk-overflow-auto uk-margin-medium-top">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
          <thead>
          <tr>
            <!--<th class=""><input class="uk-checkbox" type="checkbox"></th>-->
            <th class="">Name</th>
            <th class="">Email</th>
            <th class="">Role</th>
            <th class="">Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <!--<td>-->
                <!--<input class="uk-checkbox" type="checkbox">-->
              <!--</td>-->
              <td>
                Stefania Martziou
              </td>
              <td class="">
                stefania.martziou@athenarc.gr
              </td>
              <td class="">
                Manager
              </td>
              <td class="uk-text-nowrap">
                <!--<span class="material-icons">delete</span>-->
              </td>
            </tr>
            <tr>
              <!--<td>-->
                <!--<input class="uk-checkbox" type="checkbox">-->
              <!--</td>-->
              <td>
                Konstantinos Spyrou
              </td>
              <td class="">
                spyroukon@di.uoa.gr
              </td>
              <td class="">
                Contributor
              </td>
              <td class="uk-text-nowrap">
                <span class="material-icons">delete</span>
              </td>
            </tr>
            <tr>
              <!--<td>-->
                <!--<input class="uk-checkbox" type="checkbox">-->
              <!--</td>-->
              <td>
                John Balasis
              </td>
              <td class="">
                j.balasis92@gmail.com
              </td>
              <td class="">
                Contributor
              </td>
              <td class="uk-text-nowrap">
                <span class="material-icons">delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

