<div [ngSwitch]="dataType">
  <div *ngSwitchCase="'dataManagement'">
    <div class="uk-margin-medium-top uk-animation-fade" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]="" [toolTipData]="toolTipData[0]"
                                   [title]="'National monitoring on data management'">
      </app-highcharts-category-map>
    </div>
  </div>
  <div *ngSwitchCase="'fairData'">
    <div class="uk-margin-medium-top uk-animation-fade" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="" [toolTipData]="toolTipData[1]"
                                   [title]="'National monitoring on FAIR data'">
      </app-highcharts-category-map>
    </div>
  </div>
  <div *ngSwitchCase="'openData'">
    <div class="uk-margin-medium-top uk-animation-fade" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]="" [toolTipData]="toolTipData[2]"
                                   [title]="'National monitoring on open data'">
      </app-highcharts-category-map>
    </div>
  </div>
  <div *ngSwitchCase="'connectingRepositoriesToEOSC'">
    <div class="uk-margin-medium-top uk-animation-fade" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]="" [toolTipData]="toolTipData[3]"
                                   [title]="'National monitoring on connecting repositories to EOSC'">
      </app-highcharts-category-map>
    </div>
  </div>
  <div *ngSwitchCase="'dataStewardship'">
    <div class="uk-margin-medium-top uk-animation-fade" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[4]" [subtitle]="" [toolTipData]="toolTipData[4]"
                                   [title]="'National monitoring on data stewardship'">
      </app-highcharts-category-map>
    </div>
  </div>
  <div *ngSwitchCase="'longTermDataPreservation'">
    <div class="uk-margin-medium-top uk-animation-fade" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[5]" [subtitle]="" [toolTipData]="toolTipData[5]"
                                   [title]="'National monitoring on long-term data preservation'">
      </app-highcharts-category-map>
    </div>
  </div>
</div>
