<div>
  <div class="uk-section uk-section-small" #exportContent>
    <div class="uk-container">

      <div class="uk-flex uk-flex-between uk-flex-middle">
        <h4>National Monitoring</h4>
        <div class="uk-flex uk-flex-center" (click)="exportToPDF([exportContent, exportContent1, exportContent2, exportContent4], 'National Monitoring')" style="cursor: pointer">
<!--          <div class="uk-flex uk-flex-center" (click)="exportToPDF([exportContent, exportContent1, exportContent2, exportContent3, exportContent4], 'National Monitoring')" style="cursor: pointer">-->
          <div class="uk-flex uk-flex-middle uk-text-primary" style="background-color: #DAEEF3; border-radius: 30px; padding: 5px 7px">
            <span class="" style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">
              Export report
            </span>
            <span *ngIf="exportActive else elseBlock" class="uk-margin-small-left" uk-spinner="ratio: 0.7"></span>
            <ng-template #elseBlock>
              <span class="material-symbols-outlined filled uk-margin-small-left uk-text-primary">download</span>
            </ng-template>
          </div>
        </div>
      </div>

      <p class="uk-text-lead uk-text-justify">Monitoring Open Science at the national level is crucial for assessing the implementation and progress of Open Science policies and initiatives. It provides valuable insights into how effectively countries are adopting open practices, ensuring alignment with global standards such as FAIR principles. National monitoring helps identify gaps, track improvements, and promote accountability, while also enabling governments and institutions to make informed decisions that foster transparency, collaboration, and innovation in research. This page offers an overview of the current state of national monitoring efforts across key areas of Open Science, highlighting progress and emerging trends.</p>

    </div>
  </div>

  <div class="uk-section uk-section-small" #exportContent1>
    <div class="uk-container">

      <div class="uk-card uk-card-default visualisation-card uk-card-body">

        <div class="uk-grid">
          <div class="uk-width-1-1">
            <app-multi-chart chartType='bar' [series]="columnChartSeries" [categories]="columnChartCategories"
                             [height]="800" [groupPadding]="0.2" [pointPadding]="0.05" [pointWidth]="15"
                             [titles]="columnChartTitles" [legendOptions]="legendOptions" valueSuffix=" %"
                             [caption]="'<p class=\'uk-text-justify\'>This bar chart illustrates the percentage of countries with national monitoring initiatives in various Open Science areas for the years 2021 and 2022. Each bar represents an area of Open Science, such as Open Access Publications, FAIR Data, Open Software, and Citizen Science, showing the changes in monitoring adoption from one year to the next. The chart highlights where countries are increasingly focusing their monitoring efforts, with significant progress in areas like Open Access Publications and FAIR Data, reflecting the growing importance of these aspects in the broader Open Science landscape.</p>'
                             + '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'">
            </app-multi-chart>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="uk-section uk-section-small" #exportContent2>
    <div class="uk-container">

      <div class="uk-card uk-card-default visualisation-card uk-card-body">

        <div class="uk-grid uk-flex">
          <div class="uk-width-1-4 uk-flex-last">
            <ul class="uk-flex-inline uk-flex-left uk-tab uk-tab-right uk-margin-remove" data-uk-switcher="connect: #map-charts; animation: 'fade'">
              <li>
                <a class="uk-margin-remove-bottom"><span>Overview</span></a>
              </li>
              <li class="" *ngFor="let pill of openScienceAreas; let i=index">
                <a class="uk-margin-remove-bottom" (click)="getChart(i)"><span>{{ pill }}</span></a>
              </li>
            </ul>
          </div>
          <div class="uk-width-3-4">
            <ul id="map-charts" class="uk-switcher uk-margin">
              <li class="" style="animation-duration: 200ms;" *ngIf="monitoringMapData.series.length">
                <div>
                  <app-highcharts-category-map
                    [mapData]="monitoringMapData" [title]="'National Monitoring'" [backgroundColor]="'#ffffff'" [height]="700"
                    [caption]="'<p class=\'uk-text-justify\'>This map illustrates the existence or non-existence of national monitoring for Open Science (OS) areas across different countries. A country is marked as having \'national monitoring\' if at least one monitoring system for any of the OS areas (such as Publications, Data Management, FAIR Data, Open Data, etc.) is in place. When you hover over a country, a detailed view will display what specific monitoring is in place within that country. Additionally, you can browse through different OS areas by selecting options on the right side, allowing you to explore which areas of Open Science are being monitored in each country.</p>' +
                    '<strong>Data source:</strong> Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.'">
                  </app-highcharts-category-map>
                </div>
              </li>
              <li class="" style="animation-duration: 200ms;" *ngFor="let pill of openScienceAreas; let i = index">
                <div>
                  <app-highcharts-category-map
                    [mapData]="questionsDataArray[i]" [subtitle]="" [toolTipData]="toolTipData[i]"
                    [title]="mapTitles[i]" [backgroundColor]="'#ffffff'" [height]="700"
                    [customLabelText]="'<strong>'+participatingCountries[i] + ' out of '+ total[i] + '</strong><br> countries have a <br>national monitoring on <br> '+ openScienceAreas[i]"
                    [caption]="monitoringMapCaptions[i] + '<strong>Data source:</strong> Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022.'">
                  </app-highcharts-category-map>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

<!--  <div class="uk-section uk-section-small" #exportContent3>-->
<!--    <div *ngIf="monitoringMapData.series.length" style="height: 600px">-->
<!--      <app-highcharts-category-map-->
<!--        [mapData]="monitoringMapData" [title]="'National Monitoring'" [backgroundColor]="'#ffffff'">-->
<!--      </app-highcharts-category-map>-->
<!--    </div>-->
<!--  </div>-->

  <div class="uk-section uk-section-small uk-margin-top" #exportContent4>
    <div class="uk-container">

      <h5>National Monitoring of Open Science  by Countries and Areas</h5>

      <table class="uk-table uk-table-divider uk-table-middle bordered-table">
        <thead>
        <tr>
          <th></th>
          <th><div class="uk-text-bold">Publications</div></th>
          <th colspan="3"><div class="uk-text-bold">Data</div></th>
          <th><div class="uk-text-bold">Software</div></th>
          <th><div class="uk-text-bold">Services</div></th>
          <th colspan="3"><div class="uk-text-bold">Infrastructure</div></th>
          <th><div class="uk-text-bold">Skills/Training</div></th>
          <th><div class="uk-text-bold">Assessment</div></th>
          <th><div class="uk-text-bold">Engagement</div></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let item of row; let i = index" [ngClass]="{valueTrue: item === 'true', valueFalse: item==='-'}">
            <div *ngIf="i === 0; else addTooltip" class="uk-text-bold">{{ item }}</div>
            <ng-template #addTooltip>
              <div [title]="columnChartCategories[--i]" style="width:100%; height:100%">
                <a style="width:100%; height:100%">&#8203;</a>
              </div>
            </ng-template>
<!--            <div *ngIf="i === 2" data-uk-tooltip="Data management" style="width:100%; height:100%">-->
<!--              <a style="width:100%; height:100%">&#8203;</a>-->
<!--            </div>-->
<!--            <div *ngIf=" i === 3 " data-uk-tooltip="FAIR data" style="width:100%; height:100%">-->
<!--              <a style="width:100%; height:100%">&#8203;</a>-->
<!--            </div>-->
<!--            <div *ngIf="i === 4" data-uk-tooltip="Open data" style="width:100%; height:100%">-->
<!--              <a style="width:100%; height:100%">&#8203;</a>-->
<!--            </div>-->
<!--            <div *ngIf="i === 7" data-uk-tooltip="Connecting repositories to EOSC" style="width:100%; height:100%">-->
<!--              <a style="width:100%; height:100%">&#8203;</a>-->
<!--            </div>-->
<!--            <div *ngIf="i === 8" data-uk-tooltip="Data stewardship" style="width:100%; height:100%">-->
<!--              <a style="width:100%; height:100%">&#8203;</a>-->
<!--            </div>-->
<!--            <div *ngIf="i === 9" data-uk-tooltip="Long-term data preservation" style="width:100%; height:100%">-->
<!--              <a style="width:100%; height:100%">&#8203;</a>-->
<!--            </div>-->
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
