<div>
  @switch (dataType) {
    @case ('dataManagement') {
      <div>
        <div uk-grid>
          <div class="uk-margin-medium-top uk-animation-fade uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]="" [toolTipData]="toolTipData[0]"
              [title]="'Financial strategy on data management'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            @if (participatingCountries[0] >= 0) {
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="uk-text-lead uk-margin-small-top uk-text-center">
                  <strong>{{participatingCountries[0] +' out of '+ countriesArray?.length}}</strong>
                </div>
                <div class="indicator-label">
                  countries have a financial strategy on data management
                </div>
              </div>
            }
            @if (participatingCountries[0] >= 0) {
              <div class="uk-margin-top">
                <div class="uk-card uk-card-default uk-card-body">
                  <simple-gauge [chartId]="'gauge6'" [data]=participatingCountriesPercentage[0]
                    [title]="'Percentage of countries with a financial strategy on data management'">
                  </simple-gauge>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
    @case ('fairData') {
      <div>
        <div uk-grid>
          <div class="uk-margin-medium-top uk-animation-fade uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="" [toolTipData]="toolTipData[1]"
              [title]="'Financial strategy on FAIR data'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            @if (participatingCountries[1] >= 0) {
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="uk-text-lead uk-margin-small-top uk-text-center">
                  <strong>{{participatingCountries[1] +' out of '+ countriesArray?.length}}</strong>
                </div>
                <div class="indicator-label">
                  countries have a financial strategy on FAIR data
                </div>
              </div>
            }
            @if (participatingCountries[1] >= 0) {
              <div class="uk-margin-top">
                <div class="uk-card uk-card-default uk-card-body">
                  <simple-gauge [chartId]="'gauge7'" [data]=participatingCountriesPercentage[1]
                    [title]="'Percentage of countries with a financial strategy on FAIR data'">
                  </simple-gauge>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
    @case ('openData') {
      <div>
        <div uk-grid>
          <div class="uk-margin-medium-top uk-animation-fade uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]="" [toolTipData]="toolTipData[2]"
              [title]="'Financial strategy on open data'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            @if (participatingCountries[2] >= 0) {
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="uk-text-lead uk-margin-small-top uk-text-center">
                  <strong>{{participatingCountries[2] +' out of '+ countriesArray?.length}}</strong>
                </div>
                <div class="indicator-label">
                  countries have a financial strategy on open data
                </div>
              </div>
            }
            @if (participatingCountries[2] >= 0) {
              <div class="uk-margin-top">
                <div class="uk-card uk-card-default uk-card-body">
                  <simple-gauge [chartId]="'gauge8'" [data]=participatingCountriesPercentage[2]
                    [title]="'Percentage of countries with a financial strategy on open data'">
                  </simple-gauge>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
    @case ('connectingRepositoriesToEOSC') {
      <div>
        <div uk-grid>
          <div class="uk-margin-medium-top uk-animation-fade uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]="" [toolTipData]="toolTipData[3]"
              [title]="'Financial strategy on connecting repositories to EOSC'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            @if (participatingCountries[3] >= 0) {
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="uk-text-lead uk-margin-small-top uk-text-center">
                  <strong>{{participatingCountries[3] +' out of '+ countriesArray?.length}}</strong>
                </div>
                <div class="indicator-label">
                  countries have a financial strategy on connecting repositories to EOSC
                </div>
              </div>
            }
            @if (participatingCountries[3] >= 0) {
              <div class="uk-margin-top">
                <div class="uk-card uk-card-default uk-card-body">
                  <simple-gauge [chartId]="'gauge9'" [data]=participatingCountriesPercentage[3]
                    [title]="'Percentage of countries with a financial strategy on connecting repositories to EOSC'">
                  </simple-gauge>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
    @case ('dataStewardship') {
      <div>
        <div uk-grid>
          <div class="uk-margin-medium-top uk-animation-fade uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[4]" [subtitle]="" [toolTipData]="toolTipData[4]"
              [title]="'Financial strategy on data stewardship'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            @if (participatingCountries[4] >= 0) {
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="uk-text-lead uk-margin-small-top uk-text-center">
                  <strong>{{participatingCountries[4] +' out of '+ countriesArray?.length}}</strong>
                </div>
                <div class="indicator-label">
                  countries have a financial strategy on data stewardship
                </div>
              </div>
            }
            @if (participatingCountries[4] >= 0) {
              <div class="uk-margin-top">
                <div class="uk-card uk-card-default uk-card-body">
                  <simple-gauge [chartId]="'gauge10'" [data]=participatingCountriesPercentage[4]
                    [title]="'Percentage of countries with a financial strategy on data stewardship'">
                  </simple-gauge>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
    @case ('longTermDataPreservation') {
      <div>
        <div uk-grid>
          <div class="uk-margin-medium-top uk-animation-fade uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[5]" [subtitle]="" [toolTipData]="toolTipData[5]"
              [title]="'Financial strategy on long-term data preservation'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            @if (participatingCountries[5] >= 0) {
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="uk-text-lead uk-margin-small-top uk-text-center">
                  <strong>{{participatingCountries[5] +' out of '+ countriesArray?.length}}</strong>
                </div>
                <div class="indicator-label">
                  countries have a financial strategy on long-term data preservation
                </div>
              </div>
            }
            @if (participatingCountries[5] >= 0) {
              <div class="uk-margin-top">
                <div class="uk-card uk-card-default uk-card-body">
                  <simple-gauge [chartId]="'gauge11'" [data]=participatingCountriesPercentage[5]
                    [title]="'Percentage of countries with a financial strategy on long-term data preservation'">
                  </simple-gauge>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
  }
</div>
