<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a href='' [routerLink]="['../publications']">publications</a></li>
      <li><a href='' [routerLink]="['../data/openData']">data</a></li>
      <li><a>software</a></li>
      <li><a>services</a></li>
      <li><a>infrastructures</a></li>
      <li><a>skills/training</a></li>
      <li><a>Assessment</a></li>
      <li><a>Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[0]" [title]="'Total Amount of National Contributions to EOSC in 2020'"
                                       [subtitle]="">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total amount of national contributions to EOSC in 2020 (in millions of Euro)</div>
                <div *ngIf="!sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[0]}} M</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[0]"
                             [title]="'Total amount of national contributions to EOSC in 2020'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul class="uk-subnav uk-subnav-pill">
          <li><a [routerLink]="['./openData']">open data</a></li>
          <li><a [routerLink]="['./fairData']">fair data</a></li>
        </ul>
        <router-outlet></router-outlet>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
