<div page-content [fullWidth]="true">
  <div actions class="uk-section-primary uk-preserve-color">
    <sidebar-mobile-toggle class="uk-hidden@m uk-display-block uk-padding-small"></sidebar-mobile-toggle>
  </div>
  <div inner>
    <div class="uk-section uk-section-primary uk-preserve-color uk-section-small" #exportContent>
      <div class="uk-container">
        <div class="uk-flex uk-flex-between uk-flex-middle uk-visible@m">
<!--          <h4>Citizen Science</h4>-->
          <div class="uk-flex uk-flex-middle uk-margin-bottom">
            <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"
                 class="flag-image" width="42" height="42" alt="rounded flag image">
            <div class="uk-margin-small-left">
              <h4 class="uk-margin-remove-bottom">{{ countryName }} - Citizen Science for 2023</h4>
            </div>
          </div>
          <div class="uk-flex uk-flex-center"
            (click)="exportToPDF([exportContent, exportContent1], 'Open Data')" style="cursor: pointer">
            <div class="uk-flex uk-flex-middle uk-text-primary"
              style="background-color: #DAEEF3; border-radius: 30px; padding: 5px 7px">
              <span class=""
                style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">
                Export report
              </span>
              <span *ngIf="exportActive else elseBlock" class="uk-margin-small-left"
                data-uk-spinner="ratio: 0.7"></span>
              <ng-template #elseBlock>
                <span class="material-symbols-outlined filled uk-margin-small-left uk-text-primary">download</span>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="uk-hidden@m">
<!--          <h4>Citizen Science</h4>-->
          <div class="uk-flex uk-flex-middle uk-margin-bottom">
            <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"
                 class="flag-image" width="42" height="42" alt="rounded flag image">
            <div class="uk-margin-small-left">
              <h4 class="uk-margin-remove-bottom">{{ countryName }} - Citizen Science for 2023</h4>
            </div>
          </div>
          <div class="uk-flex uk-flex-right"
            (click)="exportToPDF([exportContent, exportContent1], 'Open Data')" style="cursor: pointer">
            <div class="uk-flex uk-flex-middle uk-text-primary"
              style="background-color: #DAEEF3; border-radius: 30px; padding: 5px 7px">
              <span class=""
                style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">
                Export report
              </span>
              <span *ngIf="exportActive else elseBlock" class="uk-margin-small-left"
                data-uk-spinner="ratio: 0.7"></span>
              <ng-template #elseBlock>
                <span class="material-symbols-outlined filled uk-margin-small-left uk-text-primary">download</span>
              </ng-template>
            </div>
          </div>
        </div>
<!--        <div class="uk-flex uk-flex-middle uk-margin-bottom">-->
<!--          <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"-->
<!--            class="flag-image" width="42" height="42" alt="rounded flag image">-->
<!--          <div class="uk-margin-small-left">-->
<!--            <h3 class="uk-margin-remove-bottom">{{ countryName }}</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="uk-flex uk-flex-between uk-flex-middle">-->
<!--          <h4>Citizen Science</h4>-->
<!--        </div>-->

        <p class="uk-margin-medium-bottom">Citizen Science involves public participation and collaboration in scientific research to increase the
          accessibility, transparency, and democratization of knowledge creation. The aim is to foster innovative
          discoveries by combining the efforts of scientists with contributions from citizens. This page provides an
          overview of Citizen Science in Europe, featuring key data from the Survey on National Contributions to EOSC
          and Open Science. The data highlights progress and engagement in Citizen Science, supporting broader Open
          Science goals.</p>
        <div class="uk-flex uk-flex-between uk-flex-middle">
          <h5>General Overview of Citizen Science in {{ countryName }} for 2023</h5>
        </div>

        <div class="uk-grid-small uk-grid" data-uk-grid>

          <div class=" uk-width-1-1 uk-width-3-5@m uk-animation-fade" *ngIf="hasAnyLeftCardData()">
            <!-- uk-width-1-1 mobile, expand@m desktop-->
            <div class="uk-card uk-card-default uk-card-body visualisation-card">
              <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-grid-small uk-grid" data-uk-grid>
                <!-- cards: full width mobile, 1/2 small+ -->

                <!--Card 1-->
                <app-info-card *ngIf="citizenScienceProjects[1] !== null && citizenScienceProjects[1] !== undefined"
                  [titleHtml]="`Number of new Citizen Science projects in <span class='uk-text-bold'>${countryName}</span>`"
                  [value]="citizenScienceProjects[1]" [unit]="''" [diff]="citizenSciencePercentageDiff">
                </app-info-card>

                <!--Card 2-->
                <app-info-card *ngIf="financialInvestmentInCS[1] !== null && financialInvestmentInCS[1] !== undefined"
                  [titleHtml]="`Total amount of <span class='uk-text-bold'>financial investments</span> in Citizen Science`"
                  [value]="financialInvestmentInCS[1]" [unit]="'mil Euro'"
                  [diff]="financialInvestmentInCsPercentageDiff">
                </app-info-card>

              </div>
            </div>
          </div>

          <!-- Right Card (2/5) -->
          <div class="uk-width-1-1 uk-width-2-5@m uk-animation-fade"> <!-- uk-width-1-1 mobile, 2/5@m desktop-->
            <div class="uk-card uk-card-default uk-card-body visualisation-card">
              <div class="uk-margin-top">
                <h5 class="uk-flex uk-flex-between uk-margin-remove">
                  National Policy on Citizen Science
                  <span class="material-symbols-outlined" [ngClass]="{
                    'up-arrow-color': hasNationalPolicyCS === 'Yes',
                    'down-arrow-color': hasNationalPolicyCS === 'No',
                    'unanswered-color': hasNationalPolicyCS=== null || hasNationalPolicyCS === undefined
                  }">
                    {{
                    hasNationalPolicyCS === 'Yes' ? 'check' :
                    hasNationalPolicyCS === 'No' ? 'close' :
                    'question_mark'
                    }}
                  </span>
                </h5>
                <p *ngIf="policyMandatoryCS === 'Yes'" class="uk-text-primary uk-text-bolder uk-margin-remove-top">
                  Mandatory policy</p>
                <read-more-text *ngIf="nationalPolicyClarificationCS !== null" [maxHeight]="68"
                  [text]="nationalPolicyClarificationCS"></read-more-text>
              </div>
              <div class="uk-margin-top">
                <h5 class="uk-flex uk-flex-between">
                  Financial Strategy on Citizen Science
                  <span class="material-symbols-outlined" [ngClass]="{
                    'up-arrow-color': hasFinancialStrategyCS === 'Yes',
                    'down-arrow-color': hasFinancialStrategyCS === 'No',
                    'unanswered-color': hasFinancialStrategyCS=== null || hasFinancialStrategyCS === undefined
                  }">
                    {{
                    hasFinancialStrategyCS === 'Yes' ? 'check' :
                    hasFinancialStrategyCS === 'No' ? 'close' :
                    'question_mark'
                    }}
                  </span>
                </h5>
                <read-more-text *ngIf="financialStrategyClarificationCS" [maxHeight]="68"
                  [text]="financialStrategyClarificationCS"></read-more-text>
              </div>
              <div class="uk-margin-top">
                <h5 class="uk-flex uk-flex-between">
                  Monitoring on Citizen Science
                  <span class="material-symbols-outlined" [ngClass]="{
                    'up-arrow-color': hasMonitoringCS === 'Yes',
                    'down-arrow-color': hasMonitoringCS === 'No',
                    'unanswered-color': hasMonitoringCS=== null || hasMonitoringCS === undefined
                  }">
                    {{
                    hasMonitoringCS === 'Yes' ? 'check' :
                    hasMonitoringCS === 'No' ? 'close' :
                    'question_mark'
                    }}
                  </span>
                </h5>
                <read-more-text *ngIf="monitoringClarificationCS" [maxHeight]="68"
                  [text]="monitoringClarificationCS"></read-more-text>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-1 uk-margin-top uk-flex uk-flex-center">
          <div>
            <span class="uk-text-bold ">Data source:</span>&nbsp; Survey on National Contributions to EOSC and Open
            Science OpenAIRE Graph.
          </div>
        </div>
      </div>
    </div>
    <div #exportContent1>
      <div *ngIf="hasSurveyCitizenScienceData()" class="uk-section uk-section-primary uk-preserve-color uk-section-small">
        <div class="uk-container">
          <div class="uk-margin-medium-top uk-animation-fade">
            <div
              class="uk-child-width-1-1 uk-child-width-1-2@m uk-card uk-card-body uk-card-default noads visualisation-card">
              <h5>Learn more about Citizen Science in {{ countryName }}</h5>
              <read-more [maxHeight]="300">
                <div>
                  <ng-container
                    *ngIf="surveyAnswers[1]?.['Practices']?.['Question99']?.['Question99-0'] === 'Yes'; else noUseCases">
                    <ng-container *ngIf="surveyAnswers[1]?.['Practices']?.['Question99']?.['Question99-1-0'].length">
                      <div *ngFor="let element of surveyAnswers[1]['Practices']['Question99']['Question99-1-0']">
                        <p *ngIf="element['Question99-1'].trim() !== ''" [innerHTML]="element['Question99-1']"></p>
                        <ng-container *ngIf="element?.['Question99-2-1']?.length">
                          <ul>
                            <li *ngFor="let subElement of element['Question99-2-1']">
                              <p *ngIf="subElement.trim() !== ''" [innerHTML]="subElement"></p>
                            </li>
                          </ul>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #noUseCases>
                    <p>There are no use cases</p>
                  </ng-template>
                  <p *ngIf="surveyAnswers[1]?.['Practices']?.['Question99']?.['Question99-3']"
                    [innerHTML]="surveyAnswers[1]['Practices']['Question99']['Question99-3']">
                  </p>
                </div>
              </read-more>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
