<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a [routerLink]="['../all']">All</a></li>
      <li><a [routerLink]="['../publications']">Publications</a></li>
      <li><a [routerLink]="['../data/dataManagement']">Data</a></li>
      <li><a [routerLink]="['../software']">Software</a></li>
      <li><a [routerLink]="['../services']">Services</a></li>
      <li><a [routerLink]="['../infrastructures/connectingRepositoriesToEOSC']">Infrastructure</a></li>
      <li><a [routerLink]="['../skills_training']">Skills/Training</a></li>
      <li><a [routerLink]="['../assessment']">Assessment</a></li>
      <li><a [routerLink]="['../engagement']">Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-grid uk-width-1-2">
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-text-bold">
                    {{participatingCountries[0] + ' out of ' + countriesArray.length}}
                  </div>
                  countries have RFOs with policy on open access to publications
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-text-bold">
                    {{participatingCountries[1] + ' out of ' + countriesArray.length}}
                  </div>
                  countries have RFOs with policy on to data
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-text-bold">
                    {{participatingCountries[2] + ' out of ' + countriesArray.length}}
                  </div>
                  countries have RFOs with policy on open source software
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-text-bold">
                    {{participatingCountries[3] + ' out of ' + countriesArray.length}}
                  </div>
                  countries have RFOs with policy on offering services through EOSC
                </div>
              </div>
            </div>
          </div>
          <div class="uk-grid uk-width-1-2 uk-margin-remove-top">
            <div class="uk-width-1-1" style="height: 500px">
              <div class="uk-card uk-card-default uk-card-body">
                <activity-gauge [title]="'Percentage of countries with RPOs with policy on EOSC and open science'"
                                [data]="activityGaugeData">
                </activity-gauge>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-margin-large-top">
            <div class="uk-card uk-card-default uk-card-body">

              <cumulative-data-table [title]="'RFOs with policyper country'" [tableData]="tableData"></cumulative-data-table>
            </div>
          </div>

        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[0]" [title]="'Number of RFOs with a policy on open access to publications'"
                                       [toolTipData]="toolTipData[0]" [subtitle]="" [dataSeriesSuffix]="''"
                                       [participatingCountries]="countriesArray">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total number of RFOs with a policy on open access to publications</div>
                <div *ngIf="!sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[0]}}</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[0]" [subTitle]="''" [dataSeriesSuffix]="''"
                             [title]="'Number of RFOs with a policy on open access to publications'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul id="dataContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./dataManagement']">Data management</a></li>
          <li><a [routerLink]="['./fairData']">FAIR data</a></li>
          <li><a [routerLink]="['./openData']">Open data</a></li>
        </ul>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[1]" [title]="'Number of RFOs with a policy on open source software'"
                                       [toolTipData]="toolTipData[1]" [subtitle]="" [dataSeriesSuffix]="''"
                                       [participatingCountries]="countriesArray">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total number of RFOs with a policy on open source software to publications</div>
                <div *ngIf="!sumsArray[1]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[1]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[1]}}</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[1]" [subTitle]="''" [dataSeriesSuffix]="''"
                             [title]="'Number of RFOs with a policy on open access to publications'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[2]" [title]="'Number of RFOs with a policy on offering services through EOSC'"
                                       [toolTipData]="toolTipData[2]" [subtitle]="" [dataSeriesSuffix]="''"
                                       [participatingCountries]="countriesArray">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total number of RFOs with a policy on offering services through EOSC</div>
                <div *ngIf="!sumsArray[2]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[2]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[2]}}</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[2]" [subTitle]="''" [dataSeriesSuffix]="''"
                             [title]="'Number of RFOs with a policy on offering services through EOSC'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul id="infrastructuresContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./connectingRepositoriesToEOSC']">Connecting repositories to EOSC</a></li>
          <li><a [routerLink]="['./dataStewardship']">Data stewardship</a></li>
          <li><a [routerLink]="['./longTermDataPreservation']">Long-term data preservation</a></li>
        </ul>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[3]" [title]="'Number of RFOs with a policy on skills/training for Open Science'"
                                       [toolTipData]="toolTipData[3]" [subtitle]="" [dataSeriesSuffix]="''"
                                       [participatingCountries]="countriesArray">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total number of RFOs with a policy on skills/training for Open Science</div>
                <div *ngIf="!sumsArray[3]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[3]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[3]}}</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[3]" [subTitle]="''" [dataSeriesSuffix]="''"
                             [title]="'Number of RFOs with a policy on skills/training for Open Science'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[4]" [title]="'Number of RFOs with a policy on incentives/rewards for Open Science'"
                                       [toolTipData]="toolTipData[4]" [subtitle]="" [dataSeriesSuffix]="''"
                                       [participatingCountries]="countriesArray">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total number of RFOs with a policy on incentives/rewards for Open Science</div>
                <div *ngIf="!sumsArray[4]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[4]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[4]}}</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[4]" [subTitle]="''" [dataSeriesSuffix]="''"
                             [title]="'Number of RFOs with a policy on incentives/rewards for Open Science'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 800px">
            <app-highcharts-color-axis [mapData]="questionsDataArray[5]" [title]="'Number of RFOs with a policy on citizen science'"
                                       [toolTipData]="toolTipData[5]" [subtitle]="" [dataSeriesSuffix]="''"
                                       [participatingCountries]="countriesArray">
            </app-highcharts-color-axis>
          </div>

          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Total number of RFOs with a policy on citizen science</div>
                <div *ngIf="!sumsArray[5]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[5]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[5]}}</strong></div>
              </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">
              <app-bar-chart [mapData]="questionsDataArrayForBarChart[5]" [subTitle]="''" [dataSeriesSuffix]="''"
                             [title]="'Number of RFOs with a policy on citizen science'">
              </app-bar-chart>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
