/* You can add global styles to this file, and also import other style files */

@import '../assets/css/eosc-observatory-variable-overwrites';

/* UIKit */
@import "variables-theme.scss";
@import "mixins-theme.scss";

@import '../assets/css/eosc-observatory-mixin-overwrites';

/* UIKit */
@import "uikit-theme.scss";

/* Custom SCSS/SASS Files */
@import '../catalogue-ui/assets/css/service-catalogue-theme.css';

/* project specific scss */
@import '../assets/css/eosc-observatory-custom';
.sidebar_main_active #page_content {
  background-color: #f5f5f5;
}
