<div id="explore_sidebar_main_content" class="explore_sidebar_main_swipe explore_sidebar_main_active">

  <aside id="explore_sidebar_main">

    <div id="explore_sidebar_content">

      <div  class="menu_section" style="min-height: 30vh">

        <div class="uk-flex uk-flex-center uk-margin-small-bottom">
          <div class="uk-flex uk-flex-middle uk-text-primary" style="background-color: #DAEEF3; border-radius: 50px; padding: 6px 12px">
            <a class="uk-text-uppercase" routerLink="/country_selector"
               style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">
              Back to country selection
            </a>
          </div>
        </div>

        <div class="uk-flex uk-flex-middle uk-margin-left">
          <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"
               class="flag-image" width="30" height="30" alt="rounded flag image">
          <div class="uk-margin-small-left">
            <h5 class="uk-margin-remove-bottom uk-text-muted">{{ countryName }}</h5>
          </div>
        </div>

        <ul class="uk-list uk-nav uk-nav-default uk-nav-parent-icon">

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'general'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">General R&D Overview</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'policy'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Policy overview</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'publications'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Open Access Publications</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-access-data'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Open Data</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-fair-data'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">FAIR Data</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-data-management'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Data Management</span>
            </a>
          </li>
          
          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-citizen-science'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Citizen Science</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-repositories'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Repositories</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-science-training'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Open Science Training</span>
            </a>
          </li>

          <li [routerLinkActive]="'uk-active current_section'" class="no-icon uk-parent uk-margin-small-top">
            <a [routerLink]="'open-softwares'" class="uk-flex uk-flex-middle">
              <span class="uk-width-expand uk-text-truncate">Open Softwares</span>
            </a>
          </li>

        </ul>

      </div>

    </div>

  </aside>

  <div id="page_content" class="dashboard">
    <router-outlet></router-outlet>
  </div>
</div>
