<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a [routerLink]="['../all']">All</a></li>
      <li><a [routerLink]="['../publications']">Publications</a></li>
      <li><a [routerLink]="['../data/dataManagement']">Data</a></li>
      <li><a [routerLink]="['../software']">Software</a></li>
      <li><a [routerLink]="['../services']">Services</a></li>
      <li><a [routerLink]="['../infrastructures/connectingRepositoriesToEOSC']">Infrastructures</a></li>
      <li><a [routerLink]="['../skills_training']">Skills/Training</a></li>
      <li><a [routerLink]="['../assessment']">Assessment</a></li>
      <li><a [routerLink]="['../engagement']">Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-grid uk-width-1-2">
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-center">
                  <span class="material-icons">verified_user</span>
                </div>
                <div class="uk-text-center">Policies on publications</div>
                <div class="uk-text-center uk-text-bold">{{publications +' / '+ countriesArray.length}}</div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-center">
                  <span class="material-icons">verified_user</span>
                </div>
                <div class="uk-text-center">Policies on software</div>
                <div class="uk-text-center uk-text-bold">{{software +' / '+ countriesArray.length}}</div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-center">
                  <span class="material-icons">verified_user</span>
                </div>
                <div class="uk-text-center">Policies on services</div>
                <div class="uk-text-center uk-text-bold">{{services +' / '+ countriesArray.length}}</div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-center">
                  <span class="material-icons">verified_user</span>
                </div>
                <div class="uk-text-center">Policies on skills/training</div>
                <div class="uk-text-center uk-text-bold">{{skills_training +' / '+ countriesArray.length}}</div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-center">
                  <span class="material-icons">verified_user</span>
                </div>
                <div class="uk-text-center">Policies on assessment</div>
                <div class="uk-text-center uk-text-bold">{{assessment +' / '+ countriesArray.length}}</div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-flex uk-flex-center">
                  <span class="material-icons">verified_user</span>
                </div>
                <div class="uk-text-center">Policies on engagement</div>
                <div class="uk-text-center uk-text-bold">{{engagement +' / '+ countriesArray.length}}</div>
              </div>
            </div>
          </div>
          <div class="uk-grid uk-width-1-2 uk-margin-remove-top">
            <div class="uk-width-1-1" style="height: 500px">
              <activity-gauge [title]="'Countries participation'" [data]="activityGaugeData"></activity-gauge>
            </div>
          </div>

          <div class="uk-width-1-1 uk-margin-large-top">
            <div class="uk-card uk-card-default uk-card-body">

              <cumulative-data-table [title]="'EOSC Policies by country'" [tableData]="tableData"></cumulative-data-table>
            </div>
          </div>

        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]="" [toolTipData]="toolTipData[0]"
                                         [title]="'National policy on open access to publications'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Number of countries with national policy on open access to publications</div>
                <div *ngIf="!publications" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="publications" class="uk-text-lead uk-margin-small-top"><strong>{{publications}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <ul id="dataContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./dataManagement']">Data management</a></li>
          <li><a [routerLink]="['./fairData']">FAIR data</a></li>
          <li><a [routerLink]="['./openData']">Open data</a></li>
        </ul>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="" [toolTipData]="toolTipData[1]"
                                         [title]="'National policy on open source software'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Number of countries with national policy on open source software</div>
                <div *ngIf="!software" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="software" class="uk-text-lead uk-margin-small-top"><strong>{{software}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]="" [toolTipData]="toolTipData[2]"
                                         [title]="'National policy on offering services through EOSC'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Number of countries with national policy on offering services through EOSC</div>
                <div *ngIf="!services" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="services" class="uk-text-lead uk-margin-small-top"><strong>{{services}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <ul id="infrastructuresContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./connectingRepositoriesToEOSC']">Connecting repositories to EOSC</a></li>
          <li><a [routerLink]="['./dataStewardship']">Data stewardship</a></li>
          <li><a [routerLink]="['./longTermDataPreservation']">Long-term data preservation</a></li>
        </ul>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]="" [toolTipData]="toolTipData[3]"
                                         [title]="'National policy on skills/training for Open Science'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Number of countries with national policy on skills/training for Open Science</div>
                <div *ngIf="!skills_training" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="skills_training" class="uk-text-lead uk-margin-small-top"><strong>{{skills_training}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[4]" [subtitle]="" [toolTipData]="toolTipData[4]"
                                         [title]="'National policy on incentives/rewards for Open Science'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Number of countries with national policy on incentives/reward for Open Science</div>
                <div *ngIf="!assessment" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="assessment" class="uk-text-lead uk-margin-small-top"><strong>{{assessment}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade">
        <div class="uk-grid">
          <div class="uk-width-2-3" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[5]" [subtitle]="" [toolTipData]="toolTipData[5]"
                                         [title]="'National policy on citizen science'">
            </app-highcharts-category-map>
          </div>
          <div class="uk-width-1-3">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">Number of countries with national policy on citizen science</div>
                <div *ngIf="!engagement" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="engagement" class="uk-text-lead uk-margin-small-top"><strong>{{engagement}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
