.eosc-observatory {
  .uk-card.number-card {
    height: unset !important;
  }

  .uk-card.overlay-card {
    border: 1px solid @eosc-observatory-color;
    background-color: #E9F2FD;
    z-index: 200;
    left: -70px;
    width: 140%;
  }

  .uk-card.cart-card {

  }

  .uk-text-white {
    color: white;
  }

  .card-simple {
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid #eee;
  }
}

.document-dates-metadata > :not(:last-child):not(.other-separator)::after {
  content: "\2022";
  font-weight: 400;
  margin-left: 4px;
  margin-right: 4px;
}
