<button class="uk-button" (click)="generatePDF2()">PDF</button>
<div *ngIf="ready; else showLoader">
  <ul id="top-navigation-tabs" #printPDF>
    <!--    <div *ngIf="survey.sections[0].fields === null else singleDepth">-->
    <li *ngFor="let section of survey.sections let i = index">
      <app-chapter-edit [form]="getFormGroup(i)" [readonly]="readonly" [validate]="validate" [vocabularies]="vocabularies"
                        [tabsHeader]="tabsHeader" [chapter]="survey.sections[i]" [resourceType]="survey.resourceType"
                        [fields]="survey.sections[i].subSections ? survey.sections[i].subSections : survey.sections"
                        [surveyAnswerId]="" (submit)="onSubmit($event)" (chapterHasChanges)="setChapterChangesMap($event)">
      </app-chapter-edit>
    </li>
    <!--    </div>-->
    <!--    <ng-template #singleDepth>-->
    <!--      <li>-->
    <!--        <app-chapter-edit [answerValue]="" [form]="getFormGroup(sectionIndex)" [readonly]="readonly" [validate]="validate"-->
    <!--                          [tabsHeader]="tabsHeader" [chapter]="survey"-->
    <!--                          [fields]="survey.sections" [vocabularies]="vocabularies"-->
    <!--                          [surveyAnswerId]="" (chapterHasChanges)="setChapterChangesMap($event)">-->
    <!--        </app-chapter-edit>-->
    <!--      </li>-->
    <!--    </ng-template>-->
  </ul>
</div>

<ng-template #showLoader class="whiteFilm">
  <i class="loader-big" aria-hidden="true"></i>
</ng-template>
