<form [formGroup]="form" class="uk-margin-small-bottom" [ngClass]="{'uk-hidden clear-style': hideField}" >
  <div *ngIf="fieldData.field.label" class="uk-form-label uk-margin-bottom" [attr.for]="fieldData.field.name"
       [ngClass]="{'uk-subLabel': fieldData.field.form.dependsOn !== null}">
    {{fieldData.field.label + (fieldData.field.form.mandatory ? ' (*)' : '')}}
  </div>
  <div *ngIf="fieldData.field.form.description" class="uk-form-description uk-margin-bottom uk-width-9-10"
       [innerHTML]="fieldData.field.form.description">
  </div>

  <div *ngIf="fieldData.field.typeInfo.multiplicity; else noMultiplicity" [formArrayName]="fieldData.field.name">
      <div *ngFor="let input of fieldAsFormArray().controls; let i=index" class="uk-margin-bottom">
        <input [id]="fieldData.field.name" [formControlName]="i"
               class="uk-input uk-width-9-10 uk-animation-slide-top-small"
               [placeholder]="fieldData.field.form.placeholder ? fieldData.field.form.placeholder : ''"
               [ngClass]="{'uk-form-danger': checkFormArrayValidity(fieldData.field.name, i, this.editMode)}"
               (input)="updateBitSet(fieldData); unsavedChangesPrompt()">
<!--        <div *ngIf="projectName === 'OpenAIRE Catalogue' && fieldData.field.typeInfo.type === 'url' && this.editMode-->
<!--                        && this.isPortalAdmin && fieldAsFormArray().controls[i].value"-->
<!--             class="uk-icon">-->
<!--          &nbsp;&nbsp;<a href="{{this.form.get(fieldData.field.name).value}}" target="_blank">-->
<!--          <i class="fa fa-external-link"></i></a>-->
<!--        </div>-->
        <a *ngIf="fieldAsFormArray().length > 1"
           (click)="remove(fieldData.field.name, i); updateBitSet(fieldData); unsavedChangesPrompt()"
           class="remove-element uk-padding-small uk-animation-slide-top-small">
          <span class="material-icons">clear</span>
        </a>
      </div>
      <div class="uk-width-9-10"><i><small>{{fieldData.field.form.suggestion}}</small></i></div>

      <div class="uk-width-9-10 uk-text-center uk-margin-top">
        <a class="add-new-element uk-flex uk-flex-middle uk-flex-center"
           (click)="push(fieldData.field.name, fieldData.field.form.mandatory, fieldData.field.typeInfo.type)">
          <span class="material-icons">add</span>Add {{fieldData.field.label}}
        </a>
      </div>
    </div>

  <ng-template #noMultiplicity>
    <input [formControlName]="fieldData.field.name" [id]="fieldData.field.id" class="uk-input uk-width-9-10 uk-animation-scale-up"
           [placeholder]="fieldData.field.form.placeholder ? fieldData.field.form.placeholder : ''"
           (input)="updateBitSet(fieldData); unsavedChangesPrompt()"
           [ngClass]="{'uk-form-danger': checkFormValidity() }">
    <div *ngIf="fieldData.field.form.suggestion" class="uk-margin-top">
      <div class="uk-suggestion uk-width-9-10" [innerHTML]="fieldData.field.form.suggestion"></div>
    </div>
  </ng-template>

</form>
<!--<pre>{{form.value | json}}</pre>-->
