<div [ngSwitch]="dataType">
  <div *ngSwitchCase="'dataManagement'">
    <div class="uk-margin-medium-top" style="height: 700px">
      <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]=""
                                   [title]="''">
      </app-highcharts-category-map>
    </div>
  </div>
  <div *ngSwitchCase="'fairData'">
    {{dataType}}
  </div>
  <div *ngSwitchCase="'openData'">
    {{dataType}}
  </div>
  <div *ngSwitchCase="'connectingRepositoriesToEOSC'">
    {{dataType}}
  </div>
  <div *ngSwitchCase="'dataStewardship'">
    {{dataType}}
  </div>
  <div *ngSwitchCase="'longTermDataPreservation'">
    {{dataType}}
  </div>
</div>
