<div class="uk-section uk-section-small">
  <div class="uk-container">

    <div class="uk-flex uk-flex-middle uk-margin-bottom">
      <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"
           class="flag-image" width="42" height="42" alt="rounded flag image">
      <div class="uk-margin-small-left">
        <h3 class="uk-margin-remove-bottom">{{ countryName }}</h3>
      </div>
    </div>

    <div class="uk-grid-small" uk-grid>
      <!-- left card -->
      <div class="uk-width-2-5">
        <div class="uk-card uk-card-default uk-card-body visualisation-card">
          <table class="uk-table uk-table-divider uk-table-small uk-table-middle">
            <thead>
              <tr>
                <th></th>
                <th class="uk-text-center">NATIONAL POLICY</th>
                <th class="uk-text-center">FINANCIAL STRATEGY</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of table">
                <td class="uk-text-left uk-text-bold">{{row.OSArea}}</td>
                <td [ngClass]="row.nationalPolicy === 'Yes' ? 'valueTrue' : 'valueFalse'"></td>
                <td [ngClass]="row.financialStrategy === 'Yes' ? 'valueTrue' : 'valueFalse'"></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>

      <!-- right card -->
      <div class="uk-width-3-5">
        <div class="uk-card uk-card-default uk-card-body noads visualisation-card">
          <h4 class="uk-text-center">Policy Landscape in {{countryName}}</h4>
          <p>This information has been compiled by Natiopnal Open Access Desks Klara Slanarova.</p>

          <h5>Overview</h5>
          <p>The Czech Republic, which holds a dense scientific community working on different aspects of the landscape, is advancing towards the implementation of a full strategy for Open Science.Czech universities and further research and funding institutions have made various efforts to develop and adopt Open Science in all disciplines. The working groups that have been set upt study specific easpects of EOSC's implementation in the Czech Republic (EOSC-CZ) resembles the Task Forces organised by the EOSC Association.</p>

          <h5>National Policy and Legislation</h5>
          <p>Praesent vitae sapien at lacus vehicula fermentum. Morbi auctor semper.</p>

          <h5>Funder Policies</h5>
          <p>Donec aliquam, ipsum a fringilla convallis, odio sapien consectetur libero.</p>

        </div>
      </div>

    </div>

  </div>
</div>
