<div class="country-config-override-banner uk-flex uk-flex-between uk-flex-middle uk-border-bottom uk-padding-small uk-padding-remove-vertical">
  <div class="uk-flex uk-flex-middle">
    <span class="uk-label uk-label-override uk-margin-small-right">Override mode</span>
    <span>You're editing <strong>{{ countryName() }}</strong>. Changes here override the Global default for this country only.</span>
  </div>

  <button type="button" class="uk-button uk-button-secondary uk-button-small override-reset-btn"
          [disabled]="disabled()"
          (click)="reset.emit()">
    Reset {{ countryName() }} to Global default
  </button>
</div>
