<div class="uk-section uk-section-primary uk-preserve-color">
  <div class="uk-container uk-container-expand">

    <h3>Funding</h3>

    <!--<div class="uk-flex uk-flex-left">-->


      <!--<ul class="uk-subnav uk-subnav-pill-alt" data-uk-switcher="{connect:'#map-vs-table-view', animation: 'fade'}">-->
        <!--&lt;!&ndash;<li [ngClass]="(subCategory.alias === activeSubCategory.alias)?'uk-active':''">&ndash;&gt;-->
        <!--<li class="uk-active">-->
          <!--<a class="uk-margin-remove-bottom"><span>Map view</span></a>-->
        <!--</li>-->
        <!--<li class="">-->
          <!--<a class="uk-margin-remove-bottom"><span>Table view</span></a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->


    <!--<ul id="map-vs-table-view" class="uk-switcher uk-margin">-->
      <!--<li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">-->
        <!--<div style="height: 600px">-->
          <!--<app-highcharts-category-map></app-highcharts-category-map>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li aria-hidden="true" style="animation-duration: 200ms;" class="">-->
        <!--Table view....-->
      <!--</li>-->
    <!--</ul>-->

    <div style="height: 600px">
      <app-highcharts-category-map></app-highcharts-category-map>
    </div>

  </div>
</div>
