  <form [formGroup]="form" class="uk-margin-small-bottom" [ngClass]="{'uk-hidden clear-style': hideField}" >
  <div *ngIf="fieldData.field.label.text" class="uk-form-label uk-margin-bottom {{fieldData.field.label.cssClasses}}" [attr.for]="fieldData.field.name"
       [ngClass]="{'uk-subLabel': fieldData.field.form.dependsOn !== null}" style="{{fieldData.field.label.style}}">
    {{fieldData.field.label.text + (fieldData.field.form.mandatory ? ' (*)' : '')}}
  </div>
  <div *ngIf="fieldData.field.form.description.text" class="uk-form-description uk-margin-bottom uk-width-9-10 {{fieldData.field.form.description.cssClasses}} "
       [innerHTML]="fieldData.field.form.description.text" style="{{fieldData.field.form.description.style}}">
  </div>

  <div *ngIf="fieldData.field.typeInfo.multiplicity; else noMultiplicity" [formArrayName]="fieldData.field.name">
<!--    add multiplicity here-->
  </div>

  <ng-template #noMultiplicity>
    <input [formControlName]="fieldData.field.name" [id]="fieldData.field.id" class="uk-input uk-width-9-10 uk-animation-scale-up"
           (input)="updateBitSet(fieldData); unsavedChangesPrompt()" [step]='fieldData.field.typeInfo.values[0]'
           [ngClass]="{'uk-form-danger': checkFormValidity()}" type="number">

    <div *ngIf="fieldData.field.form.suggestion.text" class="uk-margin-top">
      <div class="uk-suggestion uk-width-9-10 {{fieldData.field.form.suggestion.cssClasses}}" style="{{fieldData.field.form.suggestion.style}}"
           [innerHTML]="fieldData.field.form.suggestion.text">
      </div>
    </div>
  </ng-template>

</form>
