<!--NATIONAL CONTRIBUTIONS TO EOSC MENU-->

<div id="sidebar_main_content" class="sidebar_main_swipe sidebar_main_active" [class.sidebar_main_active]="open">

  <aside id="sidebar_main">

    <div id="sidebar_toggle" class="" (click)="toggleSidebar()"></div>

    <div id="sidebar_content">

      <div class="uk-section-secondary">
        <div class="uk-padding">
<!--          <div class="uk-margin-remove uk-text-bold" style="color: #fff">National contributions 2022</div>-->
          <div class="uk-margin-remove">
            <nav uk-dropnav="mode: click; align: right">
              <ul class="uk-subnav">
                <li>
                  <span class="uk-text-bold" style="color: #fff; cursor: pointer">
                    National contributions 2022 <span uk-drop-parent-icon></span>
                  </span>
                  <div class="uk-dropdown">
                    <ul class="uk-nav uk-dropdown-nav">
                      <li [routerLink]="['/eoscreadiness/2022/']" class="uk-flex uk-flex-center">
                        <span class="uk-text-bold" style="cursor: pointer">2022</span>
                      </li>
                      <li [routerLink]="['/eoscreadiness/2021/']" class="uk-flex uk-flex-center uk-margin-small-top">
                        <span class="uk-text-bold" style="cursor: pointer">2021</span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div  class="menu_section" style="min-height: 30vh">

        <ul #nav class="uk-list uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="duration: 500">

          <li [ngClass]="{'uk-active current_section': activeSection === 'general'}" class="uk-parent">
            <a [routerLink]="['general/researchers']" [replaceUrl]="true">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">clear_all</span>
                </div>
                <span [class.uk-text-bolder]="activeSection === 'general'" class="uk-width-expand uk-text-truncate uk-margin-small-left" title="EOSC General">General</span>
              </div>
            </a>
            <ul class="uk-nav-sub" uk-switcher>
              <li [ngClass]="{'uk-active current_section': activeTab === 'researchers'}" class="uk-width-1-1">
                <a [routerLink]="'general/researchers'"><span class="uk-text-truncate">Researchers</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'RPOs'}" class="uk-width-1-1">
                <a [routerLink]="'general/RPOs'"><span class="uk-text-truncate">RPOs</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'RFOs'}" class="uk-width-1-1">
                <a [routerLink]="'general/RFOs'"><span class="uk-text-truncate">RFOs</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'repositories'}" class="uk-width-1-1">
                <a [routerLink]="'general/repositories'"><span class="uk-text-truncate">Repositories</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'investments'}" class="uk-width-1-1">
                <a [routerLink]="'general/investments'" [fragment]="'total'">
                  <span class="uk-text-truncate">Investments</span>
                </a>
              </li>
            </ul>
          </li>

          <li [ngClass]="{'uk-active current_section': activeSection === 'policies'}" class="uk-parent">
            <a [routerLink]="['policies/nationalPolicy/all']" [replaceUrl]="true">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">policy</span>
                </div>
                <span [class.uk-text-bolder]="activeSection === 'policies'" class="uk-width-expand uk-text-truncate uk-margin-small-left" title="EOSC policies and financial investments">EOSC Policies</span>
              </div>
            </a>
            <ul class="uk-nav-sub" uk-switcher>
              <li [ngClass]="{'uk-active current_section': activeTab === 'nationalPolicy'}" class="uk-width-1-1">
                <a [routerLink]="'policies/nationalPolicy/all'"><span class="uk-text-truncate">National Policy</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'financialStrategy'}" class="uk-width-1-1">
                <a [routerLink]="'policies/financialStrategy/all'"><span class="uk-text-truncate">Financial Strategy</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'RPOs'}" class="uk-width-1-1">
                <a [routerLink]="'policies/RPOs/all'"><span class="uk-text-truncate">RPOs with Policy</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'RFOs'}" class="uk-width-1-1">
                <a [routerLink]="'policies/RFOs/all'"><span class="uk-text-truncate">RFOs with Policy</span></a>
              </li>
            </ul>
          </li>

          <li [ngClass]="{'uk-active current_section': activeSection === 'practices'}" class="uk-parent">
            <a [routerLink]="'practices/nationalMonitoring/all'">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">assignment</span>
                </div>
                <span [class.uk-text-bolder]="activeSection === 'practices'" class="uk-width-expand uk-text-truncate uk-margin-small-left">EOSC Practices</span>
              </div>
            </a>
            <ul class="uk-nav-sub" uk-switcher>
              <li [ngClass]="{'uk-active current_section': activeTab === 'nationalMonitoring'}" class="uk-width-1-1">
                <a [routerLink]="'practices/nationalMonitoring/all'"><span class="uk-text-truncate">Monitoring</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'useCases'}" class="uk-width-1-1">
                <a [routerLink]="'practices/useCases/all'"><span class="uk-text-truncate">Use Cases</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'investments'}" class="uk-width-1-1">
                <a [routerLink]="'practices/investments/all'"><span class="uk-text-truncate">Investments</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'outputs'}" class="uk-width-1-1">
                <a [routerLink]="'practices/outputs/all'"><span class="uk-text-truncate">Outputs</span></a>
              </li>
            </ul>
          </li>

          <li [ngClass]="{'uk-active current_section': activeSection === 'glossary'}" class="no-icon uk-parent uk-margin-medium-top">
            <a [routerLink]="'glossary'">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto"><span class="material-icons">auto_stories</span></div>
                <span [class.uk-text-bolder]="activeSection === 'glossary'"
                      class="uk-width-expand uk-text-truncate uk-margin-small-left">Glossary
                </span>
              </div>
            </a>
            <ul class="uk-nav-sub" uk-switcher>
              <li [ngClass]="{'uk-active current_section': activeTab === 'glossary'}" class="uk-width-1-1">
<!--                <a [routerLink]="'practices/nationalMonitoring/all'"><span class="uk-text-truncate">Monitoring</span></a>-->
              </li>
            </ul>
          </li>

        </ul>
      </div>

      <div class="uk-padding" style="position: absolute; bottom: 40px;">
        <p class="uk-text-italic" style="font-size: 10px">
          * The Survey on National Contributions to EOSC is in an initial stage of implementation. The survey will be improved
          in future iterations and collected survey data should for now be taken as a best-effort attempt by participating
          countries. This means that some of the data may not yet be stable and may improve in future iterations.
        </p>
      </div>
    </div>
  </aside>

  <div id="page_content" class="dashboard">
    <router-outlet></router-outlet>
  </div>
</div>




