<!--NATIONAL CONTRIBUTIONS TO EOSC MENU-->

<div id="sidebar_main_content" class="sidebar_main_swipe sidebar_main_active" [class.sidebar_main_active]="open">

  <aside id="sidebar_main">

    <div id="sidebar_toggle" class="" (click)="toggleSidebar()"></div>

    <div id="sidebar_content">
      <div  class="menu_section uk-margin-top" style="min-height: 30vh">
        <div class="uk-padding-small"><h6>National contributions 2022</h6></div>
        <ul #nav class="uk-list uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="duration: 500">

          <li [ngClass]="{'uk-active current_section': activeSection === 'policies'}" class="uk-parent">
            <a [routerLink]="['policies/nationalPolicy/publications']" [replaceUrl]="true">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">policy</span>
                </div>
                <span [class.uk-text-bolder]="activeSection" class="uk-width-expand uk-text-truncate uk-margin-small-left" title="EOSC policies and financial investments">EOSC Policies</span>
              </div>
            </a>
            <ul class="uk-nav-sub" uk-switcher>
              <li [ngClass]="{'uk-active current_section': activeTab === 'nationalPolicy'}" class="uk-width-1-1">
                <a [routerLink]="'policies/nationalPolicy/publications'"><span class="uk-text-truncate">National Policy</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'financialStrategy'}" class="uk-width-1-1">
                <a [routerLink]="'policies/financialStrategy/publications'"><span class="uk-text-truncate">Financial Strategy</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'RPOs'}" class="uk-width-1-1">
                <a [routerLink]="'policies/RPOs/publications'"><span class="uk-text-truncate">RPOs with policy</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'RFOs'}" class="uk-width-1-1">
                <a [routerLink]="'policies/RFOs/publications'"><span class="uk-text-truncate">RFOs with policy</span></a>
              </li>
            </ul>
          </li>

          <li [ngClass]="{'uk-active current_section': activeSection === 'practices'}" class="uk-parent">
            <a [routerLink]="'practices/nationalMonitoring'">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">assignment</span>
                </div>
                <span [class.uk-text-bolder]="isPracticesActive" class="uk-width-expand uk-text-truncate uk-margin-small-left">EOSC Practices</span>
              </div>
            </a>
            <ul class="uk-nav-sub" uk-switcher>
              <li [ngClass]="{'uk-active current_section': activeTab === 'nationalMonitoring'}" class="uk-width-1-1">
                <a [routerLink]="'practices/nationalMonitoring'"><span class="uk-text-truncate">National Monitoring</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'useCases'}" class="uk-width-1-1">
                <a [routerLink]="'practices/useCases'"><span class="uk-text-truncate">Use cases</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'financialInvestment'}" class="uk-width-1-1">
                <a [routerLink]="'practices/financialInvestment'"><span class="uk-text-truncate">Financial investment</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeTab === 'published'}" class="uk-width-1-1">
                <a [routerLink]="'practices/published'"><span class="uk-text-truncate">Published</span></a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </aside>

  <div id="page_content" class="dashboard">
    <router-outlet></router-outlet>
  </div>
</div>




