<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a href='' [routerLink]="['../publications']">publications</a></li>
      <li><a href='' [routerLink]="['../data/openData']">data</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li>
        <div class="uk-grid">
<!--          <div class="uk-width-1-3 uk-margin-medium-top">-->
<!--            <div class="uk-text-meta uk-margin-bottom uk-text-italic">-->
<!--              Select one of the following to change the view of the map-->
<!--            </div>-->
<!--            <div *ngFor="let mapSubtitle of mapSubtitlesArray[0]; let i=index" class="uk-flex uk-flex-top uk-margin-bottom">-->
<!--              <input id="chart2-{{i}}" type="radio" name="map2" [checked]="i===0" (click)="createMapDataFromCategorization(i, 0)">-->
<!--              <label for="chart2-{{i}}">{{mapSubtitle}}</label>-->
<!--            </div>-->
<!--          </div>-->
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]="mapSubtitles[0]"
                                         [title]="">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <!--            Content of data-->
        <ul class="uk-subnav uk-subnav-pill">
          <li><a [routerLink]="['./openData']">open data</a></li>
          <li><a [routerLink]="['./fairData']">fair data</a></li>
        </ul>
        <router-outlet></router-outlet>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
