<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a [routerLink]="['../publications']">publications</a></li>
      <li><a [routerLink]="['../data/openData']">data</a></li>
      <li><a>software</a></li>
      <li><a>services</a></li>
      <li><a [routerLink]="['../infrastructures/structure1']">infrastructures</a></li>
      <li><a>skills/training</a></li>
      <li><a>Assessment</a></li>
      <li><a>Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]=""
                                         [title]="'Financial strategy on open access'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <ul class="uk-subnav uk-subnav-pill">
          <li><a [routerLink]="['./openData']">open data</a></li>
          <li><a [routerLink]="['./fairData']">fair data</a></li>
          <li><a [routerLink]="['./data3']">data3</a></li>
        </ul>
      </li>
      <li></li>
      <li></li>
      <li>
        <ul class="uk-subnav uk-subnav-pill">
          <li><a [routerLink]="['./structure1']">structure 1</a></li>
          <li><a [routerLink]="['./structure2']">structure 2</a></li>
          <li><a [routerLink]="['./structure3']">structure 3</a></li>
        </ul>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
