<tr>
  <td>
    <div class="uk-text-bold">Publications</div>
  </td>
  @if (indicator1) {
    <td [ngClass]="indicator1 == 'Yes'? 'valueTrue' : 'valueFalse'"></td>
  }
  @if (!indicator1) {
    <td class="valueNotAvailable"></td>
  }
  @if (indicator2) {
    <td [ngClass]="indicator2 == 'Yes'? 'valueTrue' : 'valueFalse'"></td>
  }
  @if (!indicator2) {
    <td class="valueNotAvailable"></td>
  }
  <td>
    @if (indicator3) {
      {{indicator3}}
    }
    @if (!indicator3) {
      N/A
    }
  </td>
  <td>
    @if (indicator4) {
      {{indicator4}}
    }
    @if (!indicator4) {
      N/A
    }
  </td>
</tr>
