<div class="uk-card uk-card-default survey-card">

  <div class="uk-card-body">

    <div class="uk-card-badge">
      Published on {{survey.creationDate | date}}
    </div>

    <div class="uk-margin-top">
      <h5>{{survey.name}}</h5>
      <read-more-text [maxHeight]="260" [text]="survey.description"></read-more-text>
<!--      <p [innerHTML]="survey.description"></p>-->
    </div>

  </div>

  <div *ngIf="permissions" class="uk-card-footer uk-flex uk-flex-wrap">

    <div class="uk-margin-small-top">
      <a [routerLink]="['./', survey.id, 'answer', 'view']">
        <div class="uk-margin-right uk-flex uk-flex-middle" style="border-right: 1px solid #e5e5e5; padding-right: 20px;">
          <span class="material-icons uk-margin-small-right">visibility</span>
          View
        </div>
      </a>
    </div>

    <div class="uk-margin-small-top">
      <a [routerLink]="['./', survey.id, 'answer']" *ngIf="checkForWrite()">
        <div class="uk-margin-right uk-flex uk-flex-middle" style="border-right: 1px solid #e5e5e5; padding-right: 20px;">
          <span class="material-icons uk-margin-small-right">edit</span>
          Edit
        </div>
      </a>
    </div>

    <!--TODO fix when api call is ready-->
    <!--<div>-->
      <!--<a *ngIf="permissions.includes('manage')" (click)="changeValidStatus(answer.id, answer.validated)">-->
        <!--<div class="uk-flex uk-flex-middle">-->
          <!--<span class="material-icons uk-margin-small-right">{{answer.validated ? 'lock_open' : 'task_alt'}}</span>-->
          <!--{{answer.validated ? 'Open' : 'Validate'}}-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->

  </div>

</div>
