<div class="uk-card uk-card-default survey-card">

  <div class="uk-card-body">

    <div class="uk-card-badge">
      Published on {{survey.creationDate | date}}
    </div>

    <div class="uk-margin-top">
      <h5>{{survey.name}}</h5>
      <p>{{survey.description}}</p>
    </div>

  </div>

  <div *ngIf="permissions" class="uk-card-footer uk-flex">

    <a [routerLink]="['./', answer.id]" *ngIf="permissions.includes('write')">
      <div class="uk-margin-right uk-flex uk-flex-middle">
        <span class="material-icons uk-margin-small-right">edit</span>
        Edit
      </div>
    </a>
    <a *ngIf="permissions.includes('manage')">
      <div class="uk-flex uk-flex-middle" style="border-left: 1px solid #e5e5e5; padding-left: 20px;">
        <span class="material-icons uk-margin-small-right">task_alt</span>
        Validate
      </div>
    </a>

  </div>

</div>
