<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a [routerLink]="['../all']">All</a></li>
      <li><a [routerLink]="['../publications']">Publications</a></li>
      <li><a [routerLink]="['../data/dataManagement']">Data</a></li>
      <li><a [routerLink]="['../software']">Software</a></li>
      <li><a [routerLink]="['../services']">Services</a></li>
      <li><a [routerLink]="['../infrastructures/connectingRepositoriesToEOSC']">Infrastructure</a></li>
      <li><a [routerLink]="['../skills_training']">Skills/Training</a></li>
      <li><a [routerLink]="['../assessment']">Assessment</a></li>
      <li><a [routerLink]="['../engagement']">Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li class="uk-animation-fade"> <!--All-->
        <div class="uk-grid uk-child-width-1-2">
          <div class="uk-grid uk-child-width-1-2 uk-grid-match">
            <div class="">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[0]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{countriesArray.length}}</span>
                  </div>
                  countries have financial investments in open access publications
                </div>
              </div>
            </div>
            <div class="">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[1]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{countriesArray.length}}</span>
                  </div>
                  countries have financial investments in data
                </div>
              </div>
            </div>
            <div class="uk-grid-margin">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[2]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{countriesArray.length}}</span>
                  </div>
                  countries have financial investments in open source software
                </div>
              </div>
            </div>
            <div class="uk-grid-margin">
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                  <div class="uk-margin-small-bottom">
                    <span class="uk-text-lead uk-text-bold uk-margin-small-right">{{participatingCountries[3]}}</span>
                    <span> out of </span>
                    <span class="uk-text-lead uk-text-bold uk-margin-small-left">{{countriesArray.length}}</span>
                  </div>
                  countries have financial investments in offering services through EOSC
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="uk-card uk-card-default uk-padding-small">
              <activity-gauge [title]="'Percentage of countries with financial investments in EOSC and Open Science'" [data]="activityGaugeData"></activity-gauge>
            </div>
          </div>

          <div class="uk-width-1-1 uk-margin-large-top">
            <div class="uk-card uk-card-default uk-card-body">

              <cumulative-data-table [title]="'Financial investments per country'" [tableData]="tableData"></cumulative-data-table>
            </div>
          </div>

        </div>
      </li>
      <li class="uk-animation-fade"> <!--Publications-->
<!--        <div class="uk-grid">-->
<!--          <div class="uk-width-2-3" style="height: 800px">-->
<!--            <app-highcharts-color-axis [mapData]="questionsDataArray[0]" [toolTipData]="toolTipData[0]"-->
<!--                                       [title]="'Financial investments in open access publications in {{ +year-1 }}'"-->
<!--                                       [subtitle]="'(in millions of Euro)'" [participatingCountries]="countriesArray">-->
<!--            </app-highcharts-color-axis>-->
<!--          </div>-->

<!--          <div class="uk-width-1-3">-->
<!--            <div class="uk-margin-medium-bottom">-->
<!--              <div class="uk-card uk-card-default uk-card-body indicator-card">-->
<!--                <div class="indicator-label">Total amount of financial investments in open access publications in {{ +year-1 }} (in millions of Euro)</div>-->
<!--                <div *ngIf="!sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>&#45;&#45;</strong></div>-->
<!--                <div *ngIf="sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[0]}} M</strong></div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">-->
<!--              <app-bar-chart [mapData]="questionsDataArrayForBarChart[0]" [subTitle]="'(in millions of Euro)'"-->
<!--                             [title]="'Financial investments in open access to publications in {{ +year-1 }}'">-->
<!--              </app-bar-chart>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="uk-grid">
          <div class="uk-width-3-5" style="height: 600px">
            <app-column-ranges-chart [chartId]="'column1'" [subTitle]="'(in ranges)'"
              title="Financial investments in open access publications in {{ +year-1 }}" [series]="columnSeries[0]">
            </app-column-ranges-chart>
          </div>
          <div class="uk-width-2-5">
            <div class="uk-margin-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">
                  Total amount of financial investments in open access publications in {{ +year-1 }}
                  <span class="uk-text-muted">(in millions of Euro)</span>
                </div>
                <div *ngIf="!sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[0]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[0]}} M</strong>
                </div>
              </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
              <app-pie-chart [chartId]="'pie1'" [series]="pieSeries[0]"></app-pie-chart>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul id="dataContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./dataManagement']">Data Management</a></li>
          <li><a [routerLink]="['./fairData']">FAIR Data</a></li>
          <li><a [routerLink]="['./openData']">Open Data</a></li>
        </ul>
      </li>
      <li class="uk-animation-fade"> <!-- Software -->
<!--        <div class="uk-grid">-->
<!--          <div class="uk-width-2-3" style="height: 800px">-->
<!--            <app-highcharts-color-axis [mapData]="questionsDataArray[1]" [toolTipData]="toolTipData[1]"-->
<!--                                       [title]="'Financial investments in open source software in {{ +year-1 }}'"-->
<!--                                       [subtitle]="'(in millions of Euro)'" [participatingCountries]="countriesArray">-->
<!--            </app-highcharts-color-axis>-->
<!--          </div>-->

<!--          <div class="uk-width-1-3">-->
<!--            <div class="uk-margin-medium-bottom">-->
<!--              <div class="uk-card uk-card-default uk-card-body indicator-card">-->
<!--                <div class="indicator-label">Total amount of financial investments in open source software in {{ +year-1 }} (in millions of Euro)</div>-->
<!--                <div *ngIf="!sumsArray[1]" class="uk-text-lead uk-margin-small-top"><strong>&#45;&#45;</strong></div>-->
<!--                <div *ngIf="sumsArray[1]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[1]}} M</strong></div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">-->
<!--              <app-bar-chart [mapData]="questionsDataArrayForBarChart[1]" [subTitle]="'(in millions of Euro)'"-->
<!--                             [title]="'Financial investments in open source software in {{ +year-1 }}'">-->
<!--              </app-bar-chart>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="uk-grid">
          <div class="uk-width-3-5" style="height: 600px">
            <app-column-ranges-chart [chartId]="'column2'" [subTitle]="'(in ranges)'"
              [title]="'Financial investments in open source software'" [series]="columnSeries[1]">
            </app-column-ranges-chart>
          </div>
          <div class="uk-width-2-5">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">
                  Total amount of financial investments in open source software in {{ +year-1 }}
                  <span class="uk-text-muted">(in millions of Euro)</span>
                </div>
                <div *ngIf="!sumsArray[1]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[1]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[1]}} M</strong>
                </div>
              </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
              <app-pie-chart [chartId]="'pie2'" [series]="pieSeries[1]"></app-pie-chart>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade"> <!-- Services -->
<!--        <div class="uk-grid">-->
<!--          <div class="uk-width-2-3" style="height: 800px">-->
<!--            <app-highcharts-color-axis [mapData]="questionsDataArray[2]" [toolTipData]="toolTipData[2]"-->
<!--                                       [title]="'Financial investments in offering services through EOSC in {{ +year-1 }}'"-->
<!--                                       [subtitle]="'(in millions of Euro)'" [participatingCountries]="countriesArray">-->
<!--            </app-highcharts-color-axis>-->
<!--          </div>-->

<!--          <div class="uk-width-1-3">-->
<!--            <div class="uk-margin-medium-bottom">-->
<!--              <div class="uk-card uk-card-default uk-card-body indicator-card">-->
<!--                <div class="indicator-label">Total amount of financial investments in offering services through EOSC in {{ +year-1 }} (in millions of Euro)</div>-->
<!--                <div *ngIf="!sumsArray[2]" class="uk-text-lead uk-margin-small-top"><strong>&#45;&#45;</strong></div>-->
<!--                <div *ngIf="sumsArray[2]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[2]}} M</strong></div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">-->
<!--              <app-bar-chart [mapData]="questionsDataArrayForBarChart[2]" [subTitle]="'(in millions of Euro)'"-->
<!--                             [title]="'Financial investments in offering services through EOSC in {{ +year-1 }}'">-->
<!--              </app-bar-chart>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="uk-grid">
          <div class="uk-width-3-5" style="height: 600px">
            <app-column-ranges-chart [chartId]="'column3'" [series]="columnSeries[2]" [subTitle]="'(in ranges)'"
                                     title="Financial investments in offering services through EOSC in {{ +year-1 }}">
            </app-column-ranges-chart>
          </div>
          <div class="uk-width-2-5">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">
                  Total amount of financial investments in offering services through EOSC in {{ +year-1 }}
                  <span class="uk-text-muted">(in millions of Euro)</span>
                </div>
                <div *ngIf="!sumsArray[2]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[2]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[2]}} M</strong>
                </div>
              </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
              <app-pie-chart [chartId]="'pie3'" [series]="pieSeries[2]"></app-pie-chart>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul id="infrastructuresContent" class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./connectingRepositoriesToEOSC']">Connecting Repositories to EOSC</a></li>
          <li><a [routerLink]="['./dataStewardship']">Data Stewardship</a></li>
          <li><a [routerLink]="['./longTermDataPreservation']">Long-term Data Preservation</a></li>
        </ul>
      </li>
      <li class="uk-animation-fade"> <!-- Skills/Training -->
<!--        <div class="uk-grid">-->
<!--          <div class="uk-width-2-3" style="height: 800px">-->
<!--            <app-highcharts-color-axis [mapData]="questionsDataArray[3]" [toolTipData]="toolTipData[3]"-->
<!--                                       [title]="'Financial investments in skills/training for Open Science in {{ +year-1 }}'"-->
<!--                                       [subtitle]="'(in millions of Euro)'" [participatingCountries]="countriesArray">-->
<!--            </app-highcharts-color-axis>-->
<!--          </div>-->

<!--          <div class="uk-width-1-3">-->
<!--            <div class="uk-margin-medium-bottom">-->
<!--              <div class="uk-card uk-card-default uk-card-body indicator-card">-->
<!--                <div class="indicator-label">Total amount of financial investments in skills/training for Open Science in {{ +year-1 }} (in millions of Euro)</div>-->
<!--                <div *ngIf="!sumsArray[3]" class="uk-text-lead uk-margin-small-top"><strong>&#45;&#45;</strong></div>-->
<!--                <div *ngIf="sumsArray[3]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[3]}} M</strong></div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">-->
<!--              <app-bar-chart [mapData]="questionsDataArrayForBarChart[3]" [subTitle]="'(in millions of Euro)'"-->
<!--                             [title]="'Financial investments in skills/training for Open Science in {{ +year-1 }}'">-->
<!--              </app-bar-chart>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="uk-grid">
          <div class="uk-width-3-5" style="height: 600px">
            <app-column-ranges-chart [chartId]="'column4'" [series]="columnSeries[3]" [subTitle]="'(in ranges)'"
                                     title="Financial investments in skills/training for Open Science in {{ +year-1 }}">
            </app-column-ranges-chart>
          </div>
          <div class="uk-width-2-5">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">
                  Total amount of financial investments in skills/training for Open Science in {{ +year-1 }}
                  <span class="uk-text-muted">(in millions of Euro)</span>
                </div>
                <div *ngIf="!sumsArray[3]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[3]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[3]}} M</strong>
                </div>
              </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
              <app-pie-chart [chartId]="'pie4'" [series]="pieSeries[3]"></app-pie-chart>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade"> <!-- Assessment -->
<!--        <div class="uk-grid">-->
<!--          <div class="uk-width-2-3" style="height: 800px">-->
<!--            <app-highcharts-color-axis [mapData]="questionsDataArray[4]" [toolTipData]="toolTipData[4]"-->
<!--                                       [title]="'Financial investments in incentives/rewards for Open Science in {{ +year-1 }}'"-->
<!--                                       [subtitle]="'(in millions of Euro)'" [participatingCountries]="countriesArray">-->
<!--            </app-highcharts-color-axis>-->
<!--          </div>-->

<!--          <div class="uk-width-1-3">-->
<!--            <div class="uk-margin-medium-bottom">-->
<!--              <div class="uk-card uk-card-default uk-card-body indicator-card">-->
<!--                <div class="indicator-label">Total amount of financial investments in incentives/rewards for Open Science in {{ +year-1 }} (in millions of Euro)</div>-->
<!--                <div *ngIf="!sumsArray[4]" class="uk-text-lead uk-margin-small-top"><strong>&#45;&#45;</strong></div>-->
<!--                <div *ngIf="sumsArray[4]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[4]}} M</strong></div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">-->
<!--              <app-bar-chart [mapData]="questionsDataArrayForBarChart[4]" [subTitle]="'(in millions of Euro)'"-->
<!--                             [title]="'Financial investments in incentives/rewards for Open Science in {{ +year-1 }}'">-->
<!--              </app-bar-chart>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="uk-grid">
          <div class="uk-width-3-5" style="height: 600px">
            <app-column-ranges-chart [chartId]="'column5'" [series]="columnSeries[4]" [subTitle]="'(in ranges)'"
                                     title="Financial investments in incentives/rewards for Open Science in {{ +year-1 }}">
            </app-column-ranges-chart>
          </div>
          <div class="uk-width-2-5">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">
                  Total amount of financial investments in incentives/rewards for Open Science in {{ +year-1 }}
                  <span class="uk-text-muted">(in millions of Euro)</span>
                </div>
                <div *ngIf="!sumsArray[4]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[4]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[4]}} M</strong>
                </div>
              </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
              <app-pie-chart [chartId]="'pie5'" [series]="pieSeries[4]"></app-pie-chart>
            </div>
          </div>
        </div>
      </li>
      <li class="uk-animation-fade"> <!-- Engagement -->
<!--        <div class="uk-grid">-->
<!--          <div class="uk-width-2-3" style="height: 800px">-->
<!--            <app-highcharts-color-axis [mapData]="questionsDataArray[5]" [toolTipData]="toolTipData[5]"-->
<!--                                       [title]="'Financial investments in citizen science in {{ +year-1 }}'"-->
<!--                                       [subtitle]="'(in millions of Euro)'" [dataSeriesSuffix]=""-->
<!--                                       [participatingCountries]="countriesArray">-->
<!--            </app-highcharts-color-axis>-->
<!--          </div>-->

<!--          <div class="uk-width-1-3">-->
<!--            <div class="uk-margin-medium-bottom">-->
<!--              <div class="uk-card uk-card-default uk-card-body indicator-card">-->
<!--                <div class="indicator-label">Total amount of financial investments in citizen science in {{ +year-1 }} (in millions of Euro)</div>-->
<!--                <div *ngIf="!sumsArray[5]" class="uk-text-lead uk-margin-small-top"><strong>&#45;&#45;</strong></div>-->
<!--                <div *ngIf="sumsArray[5]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[5]}} M</strong></div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="uk-card uk-card-default uk-card-body" style="height: 550px">-->
<!--              <app-bar-chart [mapData]="questionsDataArrayForBarChart[5]" [subTitle]="'(in millions of Euro)'"-->
<!--                             [title]="'Financial investments in citizen science in {{ +year-1 }}'">-->
<!--              </app-bar-chart>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="uk-grid">
          <div class="uk-width-3-5" style="height: 600px">
            <app-column-ranges-chart [chartId]="'column6'" [series]="columnSeries[5]" [subTitle]="'(in ranges)'"
                                     title="Financial investments in citizen science in {{ +year-1 }}">
            </app-column-ranges-chart>
          </div>
          <div class="uk-width-2-5">
            <div class="uk-margin-medium-bottom">
              <div class="uk-card uk-card-default uk-card-body indicator-card">
                <div class="indicator-label">
                  Total amount of financial investments in citizen science in {{ +year-1 }}
                  <span class="uk-text-muted">(in millions of Euro)</span>
                </div>
                <div *ngIf="!sumsArray[5]" class="uk-text-lead uk-margin-small-top"><strong>--</strong></div>
                <div *ngIf="sumsArray[5]" class="uk-text-lead uk-margin-small-top"><strong>{{sumsArray[5]}} M</strong>
                </div>
              </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body">
              <app-pie-chart [chartId]="'pie6'" [series]="pieSeries[5]"></app-pie-chart>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
