<div class="uk-grid">
  <div class="uk-width-1-1">
    <ul id="topSelector" uk-switcher="{connect:'#content', animation: 'fade'}" uk-tab>
      <li><a [routerLink]="['../publications']">Publications</a></li>
      <li><a [routerLink]="['../data/dataManagement']">Data</a></li>
      <li><a [routerLink]="['../software']">Software</a></li>
      <li><a [routerLink]="['../services']">Services</a></li>
      <li><a [routerLink]="['../infrastructures/connectingRepositoriesToEOSC']">Infrastructures</a></li>
      <li><a [routerLink]="['../skills_training']">Skills/Training</a></li>
      <li><a [routerLink]="['../assessment']">Assessment</a></li>
      <li><a [routerLink]="['../engagement']">Engagement</a></li>
    </ul>
    <ul id="content" class="uk-switcher uk-margin-medium-top">
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[0]" [subtitle]=""
                                         [title]="'National monitoring on open access to publications'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./dataManagement']">Data management</a></li>
          <li><a [routerLink]="['./fairData']">FAIR data</a></li>
          <li><a [routerLink]="['./openData']">Open data</a></li>
        </ul>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]=""
                                         [title]="'National monitoring on open source software'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]=""
                                         [title]="'National monitoring on offering services through EOSC'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
          <li><a [routerLink]="['./connectingRepositoriesToEOSC']">Connecting repositories to EOSC</a></li>
          <li><a [routerLink]="['./dataStewardship']">Data stewardship</a></li>
          <li><a [routerLink]="['./longTermDataPreservation']">Long-term data preservation</a></li>
        </ul>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]=""
                                         [title]="'National monitoring on skills/training for Open Science'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[4]" [subtitle]=""
                                         [title]="'National monitoring on incentives/rewards for Open Science'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-1" style="height: 700px">
            <app-highcharts-category-map [mapData]="questionsDataArray[5]" [subtitle]=""
                                         [title]="'National monitoring on citizen science'">
            </app-highcharts-category-map>
          </div>
        </div>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
