@if (ready()) {
  <span class="uk-text-bold" style="font-size: 20px;">
    {{ latestPercent() }}%  </span><span class="uk-text-muted">open access in {{ latestYear() }}</span>

    @if (deltaVsFirstYear(); as delta) {
      <span class="uk-text-small uk-text-meta">
        {{ delta >= 0 ? '+' : '' }}{{ delta }} pts vs {{ firstYear() }}
      </span>
    }


  <div class="uk-margin-small-top" style="height: 280px;">
    <app-stacked-column
      [categories]="categories()"
      [series]="chartSeries()"
      [pointFormat]="tooltipPointFormat"
      [stackLabels]="false"
      [dataLabels]="false"
      [height]="280">
    </app-stacked-column>
  </div>
} @else {
  <app-loading-placeholder [height]="280" />
}
