<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">

    <h4>Open Science by Area</h4>
    <p>To delve deeper into any of the Open Science areas listed above, simply click on the respective section. Each click will lead you to a more detailed page with specific information, resources, and data relevant to that area of Open Science.</p>

  </div>
</div>

<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">

    <div class="uk-child-width-1-3 uk-grid-match uk-grid-row-medium" uk-grid>

      <div>
        <a [routerLink]="['./publications']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-symbols-outlined uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Open Access Publication</h5>
              <p>Explore the adoption and scope of Open Access publications across Europe.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./open-data']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Open Data</h5>
              <p>Review how Open Data are used and implemented across different countries.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./fair-data']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>FAIR Data</h5>
              <p>Track the adoption of FAIR data principles throughout Europe.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./data-management']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Data Management</h5>
              <p>Discover data management practices and their uptake across European countries.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./citizen-science']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Citizen Science</h5>
              <p>Analyze the engagement and impact of Citizen Science across Europe.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./repositories']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Repositories</h5>
              <p>Examine the spread and use of Open Science repositories throughout European nations.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./training']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Open Science Training</h5>
              <p>Investigate how Open Science training is being integrated across Europe.</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a [routerLink]="['./software']" class="text-black">
          <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
            <span class="material-icons uk-text-primary">content_copy</span>
            <div class="uk-margin-left">
              <h5>Open Software</h5>
              <p>Explore the adoption of Open Software in Europe</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <div class="uk-card card-explore uk-card-small uk-card-body uk-flex">
          <span class="material-icons uk-text-primary">content_copy</span>
          <div class="uk-margin-left">
            <h5>???</h5>
            <p>Assess the impact of OS initiatives—detailed insights coming soon.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

