<!-- <pre>{{documentData | json}}</pre>-->
<div page-content [fullWidth]="true">
  <div actions class="uk-section-primary uk-preserve-color">
    <sidebar-mobile-toggle class="uk-hidden@m uk-display-block uk-padding-small"></sidebar-mobile-toggle>
  </div>
  <div inner>
    @if (!isAdminPage) {
      <div class="uk-section uk-section-small uk-section-primary uk-preserve-color" style="min-height: 95vh">
        @if (documentData !== null) {
          <div class="uk-container uk-margin-large-top">
            <div class="uk-flex uk-flex-between uk-flex-middle" data-uk-grid>
              <div class="uk-flex uk-flex-middle uk-width-expand">
                @if (documentData.docInfo?.country && documentData.docInfo.country !== 'EU') {
                  <img class="flag-image uk-margin-small-right" width="30" height="20" alt="rounded flag image"
                    ngSrc="../../survey-tool/assets/images/flags/{{documentData.docInfo?.country | lowercase}}-flag-round.png">
                }
                @if (documentData.docInfo?.country && documentData.docInfo.country === 'EU') {
                  <img ngSrc="../../survey-tool/assets/images/flags/europe-flag.jpg" width="30" height="20"
                       class="flag-image uk-margin-small-right" alt="{{documentData.docInfo?.country}} flag">
                }
                <h4 class="uk-margin-remove">{{ documentData.docInfo?.title }}</h4>
              </div>
              <span class="uk-margin-left">
                Last Update: {{ (documentData?.docInfo?.modificationDate | date:'dd/MM/yyyy') || documentData?.docInfo?.modificationDate || '--' }}
              </span>
            </div>
            <p>{{ documentData.docInfo?.originalTitles }}</p>
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-2-3@m">
                <h4>Short Description</h4>
                <p>{{ documentData.docInfo?.shortDescription.text }}</p>
                <div class="uk-flex uk-flex-center">
                  @if (documentData?.url) {
                    <a [href]="documentData?.url" target="_blank" class="uk-button uk-button-primary uk-border-pill">
                      Full text
                    </a>
                  }
                </div>
              </div>
              <div class="uk-width-1-3@m">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded" style="border-radius: 15px; border: 2px solid #40E0D0;">
                  <h5 class="uk-text-center">Key Facts</h5>
                  <p><strong>Country:</strong> {{ documentData.docInfo?.country }}</p>
                  <p>
                    <strong>Start date:</strong>
                    {{ documentData.docInfo?.startDate ? documentData.docInfo?.startDate : '--' }}
                  </p>
                  <p>
                    <strong>End date:</strong> {{ documentData.docInfo?.endDate ? documentData.docInfo?.endDate : '--' }}
                  </p>
                  <p>
                    <strong>Publication date:</strong>
                    {{ documentData.docInfo?.publicationDate ? documentData.docInfo?.publicationDate : '--' }}
                  </p>
                  <p><strong>Responsible organisation:</strong> {{ documentData.docInfo?.organisations }}</p>
                  <p><strong>Language:</strong> {{ documentData.docInfo?.language }}</p>
                  @if (documentData.docInfo?.authors) {
                    <p><strong>Authors:</strong>
                      @for (author of documentData.docInfo?.authors; track $index; let last = $last) {
                        <span>
                          {{ author.name }} {{ author.orcid }}{{ !last ? ', ' : '' }}
                        </span>
                      }
                    </p>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="uk-section uk-section-small uk-section-default">
        @if (documentData !== null) {
          <div class="uk-container uk-container-expand">
            <div class="uk-grid-divider uk-grid" data-uk-grid>
              <div class="uk-width-3-4 uk-first-column">
                <!-- ALERT -->
                @if (statusMessage) {
                  <div class="uk-width-1-1 uk-margin-small-bottom">
                    <div class="uk-alert uk-width-auto" data-uk-alert
                         [ngClass]="{'uk-alert-success': statusType==='success', 'uk-alert-danger': statusType==='danger'}">
                      {{ statusMessage }}<a class="uk-alert-close" data-uk-close (click)="statusMessage = null"></a>
                    </div>
                  </div>
                }
                <div class="uk-flex uk-flex-middle uk-flex-center">
                  <div class="landing-action-bar uk-box-shadow-small uk-margin-bottom uk-text-bolder">
                    <div class="uk-grid uk-grid-small uk-flex-between uk-text-xsmall uk-flex-middle uk-grid-divider" data-uk-grid>
                      <div class="uk-width-auto uk-first-column">
                        @if (documentData?.url) {
                          <a [href]="documentData?.url" target="_blank" class="uk-flex uk-flex-middle uk-button-link">
                            <span class="material-symbols-outlined uk-margin-small-left" style="font-size: 20px">download</span>
                            <span>Full text</span>
                          </a>
                        }
                      </div>
                      <div class="uk-width-expand">
                        <div class="uk-grid uk-grid-small uk-flex-middle uk-child-width-auto" uk-grid>
                          <a [routerLink]="['../../document-edit', documentId]" class="uk-flex uk-flex-middle uk-button-link">
                            <span class="material-symbols-outlined uk-margin-small-left" style="font-size: 20px">edit</span>
                            <span>Edit</span>
                          </a>
                          <a (click)="onUpdateStatus(documentData.id, 'APPROVED')" class="uk-flex uk-flex-middle uk-button-link">
                            <span class="material-symbols-outlined uk-margin-small-left" style="font-size: 20px">check_circle</span>
                            <span>Approve</span>
                          </a>
                          <a (click)="onUpdateStatus(documentData.id, 'REJECTED')" class="uk-flex uk-flex-middle uk-button-link">
                            <span class="material-symbols-outlined uk-margin-small-left"
                              style="font-size: 20px">cancel</span>
                            <span>Reject</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-flex uk-flex-between uk-flex-middle">
                  <div class="uk-flex uk-flex-middle">
                    @if (documentData.docInfo?.country && documentData.docInfo.country !== 'EU') {
                      <img class="flag-image uk-margin-small-right" width="30" height="20" alt="rounded flag image"
                        ngSrc="../../survey-tool/assets/images/flags/{{documentData.docInfo?.country | lowercase}}-flag-round.png">
                    }
                    @if (documentData.docInfo?.country && documentData.docInfo.country === 'EU') {
                      <img ngSrc="../../survey-tool/assets/images/flags/europe-flag.jpg" width="30" height="20"
                        class="flag-image uk-margin-small-right" alt="{{documentData.docInfo?.country}} flag">
                    }
                    <h1 class="uk-margin-remove uk-h5">{{ documentData.docInfo?.title }}</h1>
                  </div>
                </div>
                <p>{{ documentData.docInfo?.originalTitles }}</p>
                <div>
                  <span>
                    Last Update: {{ (documentData?.docInfo?.modificationDate | date:'dd/MM/yyyy') || documentData?.docInfo?.modificationDate || '--' }}
                  </span>
                </div>
                <div class="uk-margin-medium-top">
                  @if (documentData.docInfo?.authors) {
                    <div class="uk-text-small">
                      <span class="uk-text-meta uk-margin-xsmall-right">Authors:</span>
                      @for (author of documentData.docInfo?.authors; track $index; let last = $last) {
                        <span class="uk-text-italic uk-text-default">
                          {{ author.name }} {{ author.orcid }}{{ !last ? ', ' : '' }}
                        </span>
                      }
                    </div>
                  }
                  <div class="uk-margin-top uk-text-small">
                    <div class="uk-text-meta uk-flex uk-flex-middle">
                      Short Description
                      @if (documentData.docInfo?.shortDescription?.generated) {
                        <span class="material-symbols-outlined uk-margin-xsmall-left" style="font-size: 20px">star_shine</span>
                      }
                    </div>
                    <div class="uk-text-justify">{{ documentData.docInfo?.shortDescription.text }}</div>
                  </div>
                  <div class="uk-card card-simple uk-margin-top">
                    <div class="uk-card-body uk-card-small">
                      <div class="">
                        <div class="uk-text-meta uk-text-xsmall">Responsible organisation</div>
                        <div class="uk-text-default">{{ documentData.docInfo?.organisations }}</div>
                      </div>
                    </div>
                  </div>
                  <div>
                  </div>
                  @if (documentData.docInfo?.tags) {
                    <div class="uk-text-small uk-margin-top">
                      <span class="uk-text-meta uk-margin-small-right">Tags:</span>
                      @for (tag of documentData.docInfo?.tags; track $index;) {
                        <span class="uk-badge uk-margin-small-right">{{ tag }}</span>
                      }
                    </div>
                  }
                  @if (documentData.docInfo?.otherTags) {
                    <div class="uk-text-small uk-margin-top">
                      <span class="uk-text-meta uk-margin-small-right">Other tags:</span>
                      @for (tag of documentData.docInfo?.otherTags; track $index;) {
                        <span class="badge-simple uk-margin-small-right">{{ tag }}</span>
                      }
                    </div>
                  }
                </div>
                <div class="uk-margin-large">
                  <ul class="uk-tab uk-margin" data-uk-switcher="animation: uk-animation-fade">
                    <li class="uk-active">
                      <a href="#">
                        <span>Overview</span>
                      </a>
                    </li>
                    <li class="">
                      <a href="#">
                        <span class="uk-flex uk-flex-middle">Paragraphs
                          <span class="material-symbols-outlined uk-margin-xsmall-left" style="font-size: 20px">star_shine</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Sentences</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Text</span>
                      </a>
                    </li>
                    @if (documentData.references) {
                      <li>
                        <a href="#">
                          <span>Referenced in</span>
                        </a>
                      </li>
                    }
                    @if (documentData.docInfo?.links) {
                      <li>
                        <a href="#">
                          <span>Links found</span>
                        </a>
                      </li>
                    }
                  </ul>
                  <ul id="switcher-content" class="uk-switcher uk-margin">
                    <li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">
                      <div class="uk-margin-top uk-text-small">
                        <div class="uk-text-meta uk-flex uk-flex-middle">Abstract
                          @if (documentData.docInfo?.abstract?.generated) {
                            <span class="material-symbols-outlined uk-margin-xsmall-left" style="font-size: 20px">star_shine</span>
                          }
                        </div>
                        <div class="uk-text-justify">{{ documentData.docInfo?.abstract.text }}</div>
                      </div>
                      <div class="uk-margin-top uk-text-small">
                        <div class="uk-text-meta uk-flex uk-flex-middle">Summary
                          @if (documentData.docInfo?.summary?.generated) {
                            <span class="material-symbols-outlined uk-margin-xsmall-left" style="font-size: 20px">star_shine</span>
                          }
                        </div>
                        <div class="uk-text-justify">{{ documentData.docInfo?.summary.text }}</div>
                      </div>
                    </li>
                    <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                      <div class="uk-margin-medium-top">
                        <table class="uk-table uk-table-divider uk-table-striped uk-text-small">
                          <thead>
                          <tr>
                            <th>Important paragraphs generated from the text in the original language</th>
                            @if (documentData.docInfo?.language !== 'en') {
                              <th>
                                Important paragraphs generated from the text in english
                              </th>
                            }
                          </tr>
                          </thead>
                          <tbody>
                            @for (paragraph of documentData.paragraphs; track $index; let i = $index) {
                              <tr>
                                <td>{{ paragraph }}</td>
                                @if (documentData.docInfo?.language !== 'en') {
                                  <td>{{ documentData.paragraphsEn[i] }}</td>
                                }
                              </tr>
                            }
                          <tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                    <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                      <div class="uk-margin-medium-top">
                        <table class="uk-table uk-table-divider uk-table-striped uk-text-small">
                          <thead>
                          <tr>
                            <th>Original language</th>
                            @if (documentData.docInfo?.language !== 'en') {
                              <th class="uk-flex uk-flex-middle">English
                                <span class="material-symbols-outlined uk-margin-xsmall-left" style="font-size: 20px">star_shine</span>
                              </th>
                            }
                          </tr>
                          </thead>
                          <tbody>
                            @for (sentence of documentData.sentences; track $index; let i = $index) {
                              <tr>
                                <td>{{ sentence }}</td>
                                @if (documentData.docInfo?.language !== 'en') {
                                  <td>{{ documentData.sentencesEn[i] }}</td>
                                }
                              </tr>
                            }
                          <tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                    <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                      <div class="uk-margin-medium-top uk-text-small">
                        <p>{{ documentData.text }}</p>
                      </div>
                    </li>
                    @if (documentData.references) {
                      <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                        <div class="uk-margin-medium-top">
                          <table class="uk-table uk-table-divider uk-text-small">
                            <thead>
                            <tr>
                              <th>Survey Answer Id</th>
                              <th>Fields</th>
                            </tr>
                            </thead>
                            <tbody>
                              @for (reference of documentData.references; track $index;) {
                                <tr>
                                  <td>
                                    <div class="uk-text-bold">{{ reference.surveyAnswerId }}</div>
                                    @if (surveyNames.get(reference.surveyAnswerId)) {
                                      <div class="uk-text-muted">
                                        {{ surveyNames.get(reference.surveyAnswerId) }}
                                      </div>
                                    }
                                  </td>
                                  <td>
                                    @for (fieldId of reference.fields; track $index;) {
                                      <div class="uk-margin-small-bottom">
                                        @if (fieldPathsMap[fieldId]) {
                                          <div class="uk-text-small">{{ fieldPathsMap[fieldId] }}</div>
                                          <span class="uk-text-bold uk-text-muted">{{ fieldId }}</span>
                                        }
                                      </div>
                                    }
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </table>
                        </div>
                      </li>
                    }
                    @if (documentData.docInfo?.links) {
                      <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                        <div class="uk-margin-medium-top">
                          <table class="uk-table uk-table-divider uk-table-striped uk-text-small">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>PID</th>
                              <th>Type</th>
                              <th>URL</th>
                              <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                              @for (link of documentData.docInfo.links; track $index) {
                                <tr>
                                  <td>{{ link.name }}</td>
                                  <td>{{ link.pid }}</td>
                                  <td>{{ link.type }}</td>
                                  <td>{{ link.url }}</td>
                                  <td>{{ link.description }}</td>
                                </tr>
                              }
                            <tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="uk-margin-medium-top">
                          <h6>Other Links</h6>
                          <table class="uk-table uk-table-divider uk-table-striped uk-text-small">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>PID</th>
                              <th>Type</th>
                              <th>URL</th>
                              <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                              @for (link of documentData.docInfo.otherLinks; track $index) {
                                <tr>
                                  <td>{{ link.name }}</td>
                                  <td>{{ link.pid }}</td>
                                  <td>{{ link.type }}</td>
                                  <td>{{ link.url }}</td>
                                  <td>{{ link.description }}</td>
                                </tr>
                              }
                            <tr>
                            </tbody>
                          </table>
                        </div>
                      </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="uk-width-1-4">
                <div class="uk-margin-medium-bottom">
                  <p>Status:
                    <span [ngClass]="{'uk-label-success': documentData.status === 'APPROVED','uk-label-danger': documentData.status === 'REJECTED','uk-label-warning': documentData.status === 'PENDING'}"
                          class="uk-label uk-text-upper uk-margin-small-left">
                      {{ documentData.status }}
                    </span>
                  </p>
                  <p>
                    Source: <span class="uk-label uk-text-upper uk-margin-small-left">{{ documentData.source }}</span>
                  </p>
                  <p>
                    Curated: <span class="uk-label uk-text-upper uk-margin-small-left">{{ documentData.curated }}</span>
                  </p>
                </div>
                @if (documentData.docInfo?.country || documentData.docInfo?.language) {
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-body uk-card-small">
                      <div class="uk-flex uk-flex-middle">
                        <span class="material-symbols-outlined uk-text-background">flag</span>
                        <div class="uk-margin-left uk-width-expand uk-text-break">
                          @if (documentData.docInfo?.country) {
                            <div class="uk-margin-small-bottom">
                              <div class="uk-text-meta uk-text-xsmall">Country</div>
                              <div class="uk-text-primary uk-text-bold uk-text-default">
                                {{ documentData.docInfo.country }}
                              </div>
                            </div>
                          }
                          @if (documentData.docInfo?.language) {
                            <div>
                              <div class="uk-text-meta uk-text-xsmall">Language</div>
                              <div class="uk-text-primary uk-text-bold uk-text-default">
                                {{ documentData.docInfo.language }}
                              </div>
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                }
                <div class="uk-card uk-card-default uk-margin-medium-top">
                  <div class="uk-card-body uk-card-small">
                    <div class="uk-flex uk-flex-middle">
                      <span class="material-symbols-outlined uk-text-background">date_range</span>
                      <div class="uk-margin-left uk-width-expand uk-text-break">
                        <div class="uk-margin-small-bottom">
                          <div class="uk-text-meta uk-text-xsmall">Start date</div>
                          <div class="uk-text-primary uk-text-bold uk-text-default">
                            {{ (documentData.docInfo?.startDate | date: 'dd/MM/yyyy') ?? '--' }}
                          </div>
                        </div>
                        <div class="uk-margin-small-bottom">
                          <div class="uk-text-meta uk-text-xsmall">End date</div>
                          <div class="uk-text-primary uk-text-bold uk-text-default">
                            {{ (documentData.docInfo?.endDate | date: 'dd/MM/yyyy') ?? '--' }}
                          </div>
                        </div>
                        <div>
                          <div class="uk-text-meta uk-text-xsmall">Publication date</div>
                          <div class="uk-text-primary uk-text-bold uk-text-default">
                            {{ (documentData.docInfo?.publicationDate| date: 'dd/MM/yyyy') ?? '--' }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-card uk-card-default uk-margin-medium-top">
                  <div class="uk-card-body uk-card-small">
                    <div class="uk-flex uk-flex-middle">
                      <span class="material-symbols-outlined uk-text-background">info</span>
                      <div class="uk-margin-left uk-width-expand uk-text-break">
                        <div class="uk-margin-small-bottom">
                          <div class="uk-text-meta uk-text-xsmall">Created by</div>
                          <div class="uk-text-primary uk-text-bold uk-text-default">
                            {{ documentData.metadata?.createdby }}<br>
                            on {{ documentData.metadata?.creationDate | date:'dd/MM/yyyy, HH:mm:ss' }}
                          </div>
                        </div>
                        <div class="uk-margin-small-bottom">
                          <div class="uk-text-meta uk-text-xsmall">Last modified by</div>
                          <div class="uk-text-primary uk-text-bold uk-text-default">
                            {{ documentData.metadata?.modifiedBy }}<br>
                            on {{ documentData.metadata?.modificationDate | date:'dd/MM/yyyy, HH:mm:ss' }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      <app-document-recommendations [documentId]="documentId"></app-document-recommendations>
    }

  </div>
</div>
