<div class="uk-section uk-section-primary uk-preserve-color" xmlns="http://www.w3.org/1999/html">
  <div class="uk-container uk-container-expand">

    <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove" data-uk-switcher="{connect:'#map-vs-table-view', animation: 'fade'}">
      <!--<li [ngClass]="(subCategory.alias === activeSubCategory.alias)?'uk-active':''">-->
      <li class="uk-active">
        <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
      </li>
      <li class="">
        <a class="uk-margin-remove-bottom"><span>Table view</span></a>
      </li>
    </ul>

    <ul id="map-vs-table-view" class="uk-switcher uk-margin">
      <li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">
        <div class="uk-margin-medium-top">
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-grid uk-grid-match">
              <div class="uk-width-1-3 uk-margin-medium-top">
                <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                  Select one of the following to change the view of the map
                </div>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" checked (click)="createMapDataset(0)">
                  There are one or more policies relevant for the EOSC in place</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(1)">
                  Policy in planning</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(2)">
                  One or more of the open science policies explicitly mentions EOSC</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(3)">
                  Policy addresses Open access to data, data management and/or FAIR</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(4)">
                  Policy addresses FAIRisation of data</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(5)">
                  Policy addresses Open access to software</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(6)">
                  Policy addresses Preservation and reuse of scientific information</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(7)">
                  Policy addresses Infrastructures that include aspects of open science</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(8)">
                  Policy addresses Skills and competencies</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(9)">
                  Policy addresses Incentives and rewards</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(10)">
                  Policy addresses Citizen science</label>
                <label><input class="uk-margin-small-bottom" type="radio" name="policy" (click)="createMapDataset(11)">
                  Other</label>
              </div>
              <div class="uk-width-2-3" style="height: 500px">
                <app-highcharts-category-map [mapData]="countryCodeArray" [subtitle]="mapSubtitle"
                                             [title]="'EOSC-relevant policies in place at national or regional level'">
                </app-highcharts-category-map>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li aria-hidden="true" style="animation-duration: 200ms;" class="">
        <div class="uk-margin-medium-top">
          <div class="uk-card uk-card-default uk-card-body">
            <div *ngIf="loadingAbsoluteTable" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-2x loader" aria-hidden="true"></i></div>
            <app-countries-table *ngIf="tableAbsoluteData" [countries]="tableAbsoluteData" [tableType]="'policies'"></app-countries-table>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
