<div id="page_content">
  <div id="page_content_header" class="uk-blur-background" style="margin-top: 0"></div>
  <div id="page_content_actions" class="uk-blur-background" uk-sticky>
    <div class="uk-container uk-container-large">
      <sidebar-mobile-toggle [activeSidebarItem]="'Investments in EOSC'" class="uk-hidden@m"></sidebar-mobile-toggle>
    </div>
  </div>
  <div id="page_content_inner" class="">
    <div class="uk-section uk-section-small" #exportContent>
      <div class="uk-container">

        <div class="uk-flex uk-flex-between uk-flex-middle">
          <h4>Investments in EOSC</h4>
          <div class="uk-flex uk-flex-center"
            (click)="exportToPDF([exportContent, exportContent1, exportContent2, exportContent3], 'Investments in EOSC')"
            style="cursor: pointer">
            <div class="uk-flex uk-flex-middle uk-text-primary"
              style="background-color: #DAEEF3; border-radius: 30px; padding: 5px 7px">
              <span class=""
                style="background-color: #fff; border-radius: 50px; border: 1px solid #008691; padding: 4px 10px">Export
                report</span>
              <span *ngIf="exportActive else elseBlock" class="uk-margin-small-left" uk-spinner="ratio: 0.7"></span>
              <ng-template #elseBlock>
                <span class="material-symbols-outlined filled uk-margin-small-left uk-text-primary">download</span>
              </ng-template>
            </div>
          </div>
        </div>

        <p class="uk-text-lead uk-text-justify">
          Understanding the financial contributions to Open Science and the EOSC is vital for assessing the distribution
          and impact of investments across Europe. Monitoring these investments allows stakeholders to understand which
          areas receive the most funding and identify potential disparities in financial commitment across different
          countries and Open Science areas. This page offers an overview of investments by presenting the allocation of
          funds across various sectors of Open Science, the specific countries making these investments, and the
          relations between funding and Open Access Publication outputs.
        </p>

      </div>
    </div>

    <div class="uk-section uk-section-small" #exportContent1>
      <div class="uk-container">

      <h5>Overview of investments in EOSC and Open Science</h5>

      <div class="uk-grid uk-margin-medium-top uk-child-width-1-3">

        <div class="uk-width-1-3">
          <div>
            <div *ngIf="totalInvestments[1]" class="uk-card card-simple uk-card-small uk-card-body">
              <div>
                <p>Total amount of <strong>investments</strong> in EOSC and Open Science 2022</p>
              </div>
              <div class="number big">
                <span class="uk-text-bold">{{ totalInvestments[1] }} mil Euro</span>
              </div>
              <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
                <ng-container *ngIf="totalInvestments[1] >= totalInvestments[0]; else policyDown">
                  <div class="uk-flex uk-flex-middle">
                    <span class="material-symbols-outlined up-arrow-color">arrow_upward</span>
                    <span class="percentage-up-color">{{ calculatePercentageChange(totalInvestments) }}%</span>&nbsp; vs
                    last year
                  </div>
                  <div>
                    <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
                  </div>
                </ng-container>
                <ng-template #policyDown>
                  <div class="uk-flex uk-flex-middle">
                    <span class="material-symbols-outlined down-arrow-color">arrow_downward</span>
                    <span class="percentage-down-color">{{ calculatePercentageChange(totalInvestments) }}%</span>&nbsp; vs
                    last year
                  </div>
                  <div>
                    <img ngSrc="../assets/images/explore/trend_red.svg" alt="Downward trend line" height="50" width="99">
                  </div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="uk-grid-margin">
            <div *ngIf="totalInvestments[0]" class="uk-card card-simple uk-card-small uk-card-body">
              <div>
                <p>Total amount of <strong>investments</strong> in EOSC and Open Science 2021</p>
              </div>
              <div class="number big">
                <span class="uk-text-bold">{{ totalInvestments[0] }} mil Euro</span>
              </div>
              <div class="uk-flex uk-flex-bottom uk-flex-between uk-width-1-1">
                <div class="uk-flex uk-flex-middle">
                  <span>base line</span>
                </div>
                <div>
                  <img ngSrc="../assets/images/explore/trend_green.svg" alt="Upward trend line" height="50" width="99">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-width-2-3">
          <div class="uk-card uk-card-default visualisation-card uk-card-body">
            <app-pie-chart *ngIf="variablePie[0]?.data.length" chartId="variablePie" type="variablepie" title=""
              [series]="variablePie" [tooltip]="pieTooltip" [title]="'Investments in EOSC and Open Science'"
              [height]="500"
              [caption]="'<p class=\'uk-text-justify\'>The graph illustrates the financial investments made in different areas of Open Science. Each segment of the graph represents a specific area , that were made by countries of the EOSC association.</p>' +
                         '<p class=\'uk-text-justify\'>This data highlights how funds are allocated across these various sectors, indicating the focus areas for enhancing Open Science infrastructure and initiatives. </p>' +
                         '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'">
            </app-pie-chart>
          </div>
        </div>
        <!--      <div class="">-->
        <!--        <app-pie-chart *ngIf="variablePie[0]?.data.length" chartId="variablePie" type="variablepie" title=""-->
        <!--                       [series]="variablePie" [tooltip]="pieTooltip">-->
        <!--        </app-pie-chart>-->
        <!--      </div>-->
        <!--      <div class="">-->
        <!--        <h6>Understanding the data</h6>-->
        <!--        <p>The graph illustrates the financial investments made in different areas of Open Science. Each segment of the graph represents a specific area , that were made by countries of the EOSC association.</p>-->
        <!--        <p>This data highlights how funds are allocated across these various sectors, indicating the focus areas for enhancing Open Science infrastructure and initiatives. </p>-->
        <!--        <p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science.</p>-->
        <!--      </div>-->
      </div>
    </div>
    </div>

  <!--<div class="uk-section uk-section-small">-->
  <!--  <div class="uk-container uk-container-expand">-->
  <!--    <table class="uk-table uk-table-divider">-->
  <!--      <thead>-->
  <!--      <tr>-->
  <!--        <th>Country</th>-->
  <!--        <th>Citizen Science</th>-->
  <!--        <th>Software</th>-->
  <!--        <th>Open Data</th>-->
  <!--        <th>FAIR Data</th>-->
  <!--        <th>Data Management</th>-->
  <!--        <th>Services in EOSC</th>-->
  <!--        <th>Repositories</th>-->
  <!--        <th>Data stewardship</th>-->
  <!--        <th>Data preservation</th>-->
  <!--        <th>Open Access</th>-->
  <!--        <th>Skills/training</th>-->
  <!--        <th>Incentives/Rewards</th>-->
  <!--        <th>Other</th>-->
  <!--        <th>Total</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <tr *ngFor="let row of countryArray">-->
  <!--        <td *ngFor="let rowEl of row; let i=index">-->
  <!--          <span *ngIf="i !== row.length-2; else calcOther">{{ (rowEl === 'null' || rowEl === '') ? '&#45;&#45;' : rowEl }}</span>-->
  <!--          <ng-template #calcOther>-->
  <!--            {{ (row[row.length-1] === 'null' || row[row.length-1] === '') ? '&#45;&#45;' : (+row[row.length-1] - (+row[row.length-2])).toFixed(2) }}-->
  <!--          </ng-template>-->
  <!--        </td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->
  <!--</div>-->

    <div class="uk-section uk-section-small uk-margin-top" #exportContent2>
      <div class="uk-container">

        <div class="uk-card uk-card-default visualisation-card uk-card-body">

          <div class="uk-grid">
            <ul class="uk-subnav uk-subnav-pill uk-flex-right uk-width-1-1"
              uk-switcher="{connect:'#investments', animation: 'fade'}">
              <li><a class="uk-margin-remove-bottom">Overview</a></li>
              <li><a class="uk-margin-remove-bottom">Details</a></li>
            </ul>

            <ul id="investments" class="uk-switcher uk-margin uk-width-1-1">
              <li>
                <app-multi-chart [series]="bar" [categories]="['Number of countries per Investment Category']"
                  [stacking]="'normal'" [pointWidth]="75" [legendOptions]="legendOptions" [titles]="barChartTitles"
                  [customTooltip]="true" [yAxisLabels]="false" style="height: 100%"
                  [caption]="'<p class=\'uk-text-justify\'>The graph illustrates the financial investments made by various European countries in the EOSC and Open Science. The investments are categorized in ranges to show the distribution and scale of funding.</p>'
                                 + '<p class=\'uk-text-justify\'>This data highlights the commitment and support from different countries towards advancing open science initiatives and building the EOSC infrastructure.</p>'
                                 + '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'">
                </app-multi-chart>
              </li>
              <li>
                <app-tree-graph [data]="treeGraph"
                  [title]="'Overview of investments in EOSC and Open Science in European Countries'" [height]="700"
                  [caption]="'<p class=\'uk-text-justify\'>The graph illustrates the financial investments made by various European countries in the EOSC and Open Science. The investments are categorized in ranges to show the distribution and scale of funding.</p>' +
                             '<p class=\'uk-text-justify\'>This data highlights the commitment and support from different countries towards advancing open science initiatives and building the EOSC infrastructure.</p>' +
                             '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'"
                  style="height: 100%"></app-tree-graph>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <div class="uk-section uk-section-small uk-margin-top" #exportContent3>
      <div class="uk-container">

        <div class="uk-card uk-card-default visualisation-card uk-card-body">


          <div class="uk-grid">
            <div class="uk-width-1-1">
              <app-bubble-chart [enablePlotLines]="true" [series]="bubbleWithPlotLines" [enableLegend]="false"
                [toolTip]="bubbleChartTooltip" [xAxisLabelFormat]="'{value} M'" [yAxisLabelFormat]="'{value} M'"
                [title]="'Total Investments in EOSC and Open Science with Open Access Publication Investments Across Nations'"
                xAxisTitle="Total Investments in EOSC and OS" yAxisTitle="Total Investmets in OA" [height]="700"
                [caption]="'<p class=\'uk-text-justify\'>The graph illustrates the relationship between total investments in the EOSC and OS and total investments in Open Access (OA) across various countries. Each bubble represents a country, with the size of the bubble indicating the number of OA publication. The x-axis shows total investments in EOSC and OS, while the y-axis shows total investments in OA. The dotted lines represent the average investments across European countries.</p>' +
                              '<p class=\'uk-text-justify\'>This data helps to visualize how different countries allocate their funds between broader EOSC/OS initiatives and specific Open Access projects, highlighting trends and outliers. Countries positioned above the horizontal dotted line invest more in OA than the average, while those to the right of the vertical dotted line invest more in EOSC and OS than the average.</p>' +
                              '<p class=\'uk-text-justify\'>This graph utilizes a base-10 logarithmic scale to transform investment data, converting exponential differences into a linear view. This approach compresses large values and amplifies smaller ones, enabling a clearer comparison of funding levels in EOSC/OS and Open Access across countries, regardless of scale.</p>' +
                              '<p><strong>Data source: </strong>Survey on National Contributions to EOSC and Open Science 2023 - showing data for 2022</p>'">
              </app-bubble-chart>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <div id="page_content_footer"></div>
</div>
