<div class="uk-section uk-section-small">
  <div class="uk-container">

    <div class="uk-flex uk-flex-middle uk-margin-bottom">
      <img ngSrc="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png"
           class="flag-image" width="42" height="42" alt="rounded flag image">
      <div class="uk-margin-small-left">
        <h3 class="uk-margin-remove-bottom">{{ countryName }}</h3>
      </div>
    </div>

    <div class="uk-flex uk-flex-between uk-flex-middle">
      <h4>General Overview of Research & Development and Open Science for 2022</h4>
    </div>

  </div>

  <pre *ngIf="countrySurveyAnswer">{{ countrySurveyAnswer.answer | json }}</pre>
<!--  <pre *ngFor="let element of surveyAnswers">{{ element.surveyId | json }}</pre>-->
    <pre *ngFor="let element of surveyAnswers" >{{element.answer | json}}</pre>
</div>
