<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-large">

    <div class="uk-grid uk-child-width-1-5">

      <div>
        <div>
          <h6>Dashboard</h6>
          <ul class="uk-nav uk-nav-default">
            <li><a [routerLink]="['/explore/open-science-by-area']">Open Science by Area</a></li>
            <li><a [routerLink]="['/explore/open-science-by-country']">Open Science by Country</a></li>
            <li><a [routerLink]="['/explore/open-science-trends']">Open Science Trends</a></li>
            <li><a [routerLink]="['/explore/investments-in-eosc']">Investments in EOSC</a></li>
            <li><a [routerLink]="['/explore/open-science-policies']">Open Science Policies</a></li>
            <li><a [routerLink]="['/explore/open-science-resource-registry']">Open Science Resource Registry</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div>
          <h6>About</h6>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">About EOSC Track</a></li>
            <li><a href="#">Contact Country Managers</a></li>
            <li><a href="#">Contact NOADs</a></li>
            <li><a href="#">Contact OpenAIRE</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div>
          <h6>Resources</h6>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">EOSC Surveys</a></li>
            <li><a href="#">Data download / API</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Methodology</a></li>
            <li><a href="#">Technical documents</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div>
          <h6>Social</h6>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Zenodo</a></li>
            <li><a href="#">Github</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div>
          <h6>Legal</h6>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Licenses</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
