<div class="uk-child-width-1-3 uk-grid-column-collapse uk-grid">
  <div class="uk-padding-small">
    <app-tree-graph [data]="treeGraph" style="height: 550px"></app-tree-graph>
  </div>
  <!-- Bubble chart with plot lines -->
  <div class="uk-padding-small">
    <app-bubble-chart [enablePlotLines]="true" [series]="bubbleWithPlotLines" [enableLegend]="false"></app-bubble-chart>
  </div>

  <div class="uk-padding-small">
    <app-packed-bubble-chart></app-packed-bubble-chart>
  </div>
  <div class="uk-padding-small">
    <app-bubble-chart [enablePlotLines]="false" [categories]="['<1', '1-5', '5-10', '>20']"
                      [series]="bubbleWithCategories" [enableLegend]="true"></app-bubble-chart>
  </div>
  <div class="uk-padding-small">
    <app-area-chart></app-area-chart>
  </div>
  <div class="uk-padding-small">
    <app-pie-chart chartId="variablePie" type="variablepie" [series]="variablePie" [tooltip]="pieTooltip"
                   title="Countries compared by population density and total area, 2022.">
    </app-pie-chart>
  </div>
  <div class="uk-padding-small">
    <app-stream-graph title="Stream graph title"></app-stream-graph>
  </div>
  <div class="uk-padding-small">
    <app-fixed-tooltip-map></app-fixed-tooltip-map>
  </div>
  <div class="uk-padding-small">
    <app-multi-bar-chart [series]="barChartSeries" [categories]="barChartCategories" [titles]="barChartTitles"></app-multi-bar-chart>
  </div>
</div>
