<form [formGroup]="form">
<!--  {{fieldData.field.name}}-->
  <label *ngIf="fieldData.field.label" class="uk-form-label uk-text-right uk-margin-small-bottom" [attr.for]="fieldData.field.name">
    {{fieldData.field.label + (fieldData.field.form.mandatory ? ' (*)' : '')}}
  </label>
  <div *ngIf="fieldData.field.form.description" class="uk-form-description uk-margin-small-top uk-margin-small-bottom uk-width-9-10"
       [innerHTML]="fieldData.field.form.description">
  </div>
  <div *ngIf="fieldData.field.typeInfo.multiplicity; else noMultiplicity">
    <div *ngFor="let control of fieldAsFormArray().controls; let i=index">
      <div [formGroupName]="i" class="uk-margin-bottom formGroupElement uk-width-9-10 uk-display-inline-block">
        <div *ngFor="let control of fieldData?.subFieldGroups; let j=index">
          <div class="">
            <div *ngIf="control.field.typeInfo.type === 'composite'">
              <app-composite-field [fieldData]="control" [subVocabularies]="subVocabularies"
                                   [vocabularies]="vocabularies"
                                   [position]="i" (handleBitSets)="handleBitsetOfChildren($event)"
                                   (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
              </app-composite-field>
            </div>
            <div *ngIf="control.field.typeInfo.type === 'vocabulary'" class="uk-form-controls uk-margin-medium-top">
              <app-vocabulary-field [fieldData]="control" [subVocabularies]="subVocabularies"
                                    [vocabularies]="vocabularies"
                                    [position]="i" (handleBitSets)="handleBitsetOfChildren($event)"
                                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
              </app-vocabulary-field>
            </div>
            <div *ngIf="control.field.typeInfo.type === 'string' || control.field.typeInfo.type === 'email'||
                      control.field.typeInfo.type === 'phone' || control.field.typeInfo.type === 'url' ||
                      control.field.typeInfo.type === 'double'">
              <app-string-url-email-field [fieldData]="control" [position]="i"
                                          (handleBitSets)="handleBitsetOfChildren($event)"
                                          (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
              </app-string-url-email-field>
            </div>
            <div *ngIf="control.field.typeInfo.type === 'largeText'">
              <app-large-text [fieldData]="control" [position]="i"
                              (handleBitSets)="handleBitsetOfChildren($event)"
                              (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
              </app-large-text>
            </div>
            <div *ngIf="control.field.typeInfo.type === 'radio'" class="uk-form-controls">
              <app-radio-button-field [fieldData]="control" [position]="i"
                                      (handleBitSets)="handleBitsetOfChildren($event)"
                                      (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
              </app-radio-button-field>
            </div>
            <div *ngIf="control.field.typeInfo.type === 'boolean'">
              <div *ngIf="control.field.typeInfo.multiplicity; else noMultiplicity;"
                   [formArrayName]="control.field.name">
                <!--To add multiplicity if needed-->
              </div>
              <ng-template #noMultiplicity>
                <label>
                  <input class="uk-radio" type="radio" [formControlName]="control.field.name" [value]="true"
                         (input)="updateBitSetOfComposite(fieldData, j); unsavedChangesPrompt()"
                         [name]="control.field.name"
                         [ngClass]="{'uk-form-danger': checkFormArrayValidity(control.field.parent, i, this.editMode, control.field.name) }"/>&nbsp;Yes&nbsp;
                </label>
                <label>
                  <input class="uk-radio" type="radio" [formControlName]="control.field.name" [value]="false"
                         (input)="updateBitSetOfComposite(fieldData, j); unsavedChangesPrompt()"
                         [name]="control.field.name"
                         [ngClass]="{'uk-form-danger': checkFormArrayValidity(control.field.parent, i, this.editMode, control.field.name) }"/>&nbsp;&nbsp;No&nbsp;
                </label>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <a *ngIf="fieldAsFormArray().length > 1" class="remove-element uk-padding-small uk-display-inline-block"
         (click)="remove(i); updateBitSetOfComposite(fieldData, i); unsavedChangesPrompt();">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <div class="uk-width-9-10 uk-text-center uk-margin-top">
      <a class="add-new-element" (click)="pushComposite(fieldData.subFieldGroups)">
        <i class="fa fa-plus" aria-hidden="true"></i> Add {{fieldData.field.label}}
      </a>
    </div>
  </div>

  <ng-template #noMultiplicity>
    <div class="uk-width-9-10 uk-display-inline-block" [ngClass]="{'uk-margin-bottom formGroupElement': fieldData.field.form.hasBorder}">
      <div *ngFor="let control of fieldData?.subFieldGroups; let j=index">
        <div class="">

          <div *ngIf="control.field.typeInfo.type === 'composite'">
            <app-composite-field [fieldData]="control" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                                 (handleBitSets)="handleBitsetOfChildren($event)"
                                 (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
            </app-composite-field>
          </div>

          <div *ngIf="control.field.typeInfo.type === 'vocabulary' || control.field.typeInfo.type === 'select'" class="uk-form-controls uk-margin-medium-top">
            <app-vocabulary-field [fieldData]="control" [subVocabularies]="subVocabularies"
                                  [vocabularies]="vocabularies"
                                  (handleBitSets)="handleBitsetOfChildren($event)"
                                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
            </app-vocabulary-field>
          </div>

          <div *ngIf="control.field.typeInfo.type === 'string' || control.field.typeInfo.type === 'email' ||
                    control.field.typeInfo.type === 'email' || control.field.typeInfo.type === 'phone' ||
                    control.field.typeInfo.type === 'double'">
            <app-string-url-email-field [fieldData]="control"
                                        (handleBitSets)="handleBitsetOfChildren($event)"
                                        (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
            </app-string-url-email-field>
          </div>

          <div *ngIf="control.field.typeInfo.type === 'checkbox'" class="uk-form-controls">
            <app-checkbox-field [fieldData]="control"
                                (handleBitSets)="handleBitsetOfChildren($event)"
                                (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
            </app-checkbox-field>
          </div>
          <div *ngIf="control.field.typeInfo.type === 'radio'" class="uk-form-controls">
            <app-radio-button-field [fieldData]="control"
                                    (handleBitSets)="handleBitsetOfChildren($event)"
                                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
            </app-radio-button-field>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf="fieldData.field.form.suggestion" class="uk-margin-small-top">
    <div class="uk-suggestion uk-width-9-10" [innerHTML]="fieldData.field.form.suggestion"></div>
  </div>

</form>
<!--<pre>{{fieldData | json}}</pre>-->
