<div class="sidebar_main_swipe" [class.sidebar_main_active]="open">
  <app-top-menu-dashboard></app-top-menu-dashboard>
  <div style="margin-top: 90px"></div>
  <app-side-menu-dashboard></app-side-menu-dashboard>
  <!--<side-menu></side-menu>-->
  <!--<div id="hide_controls">-->
    <!--<div id="toggle" [class.sidebar_main_open]="open" (click)="toggleOpen($event)">-->
      <!--<i class="material-icons">play_circle_filled</i>-->
      <!--<span *ngIf="open" class="uk-margin-small-left">Hide Controls</span>-->
    <!--</div>-->
  <!--</div>-->
  <div id="page_content">
    <router-outlet></router-outlet>
  </div>

</div>
