<form [formGroup]="form">
  <div *ngIf="fieldData.field.label" class="uk-form-label uk-margin-bottom" [attr.for]="fieldData.field.name">
    {{fieldData.field.label + (fieldData.field.form.mandatory ? ' (*)' : '')}}
  </div>
  <div *ngIf="fieldData.field.form.description" class="uk-form-description uk-margin-bottom uk-width-9-10"
       [innerHTML]="fieldData.field.form.description">
  </div>

  <div *ngIf="fieldData.field.typeInfo.multiplicity; else noMultiplicity;" [formArrayName]="fieldData.field.name">
    <div *ngFor="let input of fieldAsFormArray().controls; let i=index" class="uk-margin-bottom">
      <ng-select class="uk-width-9-10" [id]="fieldData.field.name" [formControlName]="i"
                 [ngClass]="{'uk-form-danger': checkFormArrayValidity(fieldData.field.name, i, this.editMode)}"
                 [items]="vocabularies[fieldData.field.form.vocabulary]"
                 (change)="updateBitSet(fieldData); unsavedChangesPrompt()"
                 bindLabel="name"
                 bindValue="id"
                 clearAllText="Clear">
      </ng-select>
      <a *ngIf="fieldAsFormArray().length > 1"
         (click)="remove(fieldData.field.name, i); updateBitSet(fieldData); unsavedChangesPrompt()"
         class="remove-element uk-padding-small uk-animation-slide-top-small">
        <span class="material-icons">clear</span>
      </a>
    </div>
    <div><i><small>{{fieldData.field.form.suggestion}}</small></i></div>
    <div class="uk-width-9-10 uk-text-center uk-margin-top">
      <a class="add-new-element uk-flex uk-flex-middle uk-flex-center"
         (click)="push(fieldData.field.name, fieldData.field.form.mandatory, fieldData.field.typeInfo.type)">
        <span class="material-icons">add</span>Add {{fieldData.field.label}}
      </a>
    </div>
  </div>

  <ng-template #noMultiplicity>
    <ng-select class="uk-select uk-width-9-10 uk-margin-small" [id]="fieldData.field.name" [formControlName]="fieldData.field.name"
               (change)="updateBitSet(fieldData); unsavedChangesPrompt()"
               [ngClass]="{'uk-form-danger': checkFormValidity()}"
               [items]="fieldData.field.typeInfo.values? fieldData.field.typeInfo.values : vocabularies[fieldData.field.typeInfo.vocabulary]"
               bindLabel="name"
               bindValue="id"
               clearAllText="Clear">
    </ng-select>
    <div *ngIf="fieldData.field.form.suggestion" class="uk-margin-top">
      <div class="uk-suggestion uk-width-9-10" [innerHTML]="fieldData.field.form.suggestion"></div>
    </div>
  </ng-template>

</form>
